<div class='party-container'>
  <div class='row'>
    <div class="small-12 columns">
      <ul class="breadcrumbs">
        <li><a href="#">My Pawty</a></li>
        <li class="current"><a href="#">Create a Pawty</a></li>
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns party-create-slider'>
      <div class='party-panel block-margin-bottom'>
        <h4>Select a Invitation Theme</h4>
        <div>
          hahahahhaha
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='columns medium-12'>
      <h4 class="primary-color">Pawty Details</h4>
    </div>
  </div>
  <form novalidate class="party-create-form">
    <div class='row'>
      <div class='columns medium-6'>
        <div class="row">
          <div class="small-3 columns">
            <label class="text-right">Meet Title <small class='required'>*</small></label>
          </div>
          <div class="small-9 columns">
            <input type="text" required pattern="" />
            <small class="error"></small>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <label class="text-right">Location Name <small class='required'>*</small></label>
          </div>
          <div class="small-9 columns">
            <input type="text" required pattern="" />
            <small class="error"></small>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <label class="text-right">City <small class='required'>*</small></label>
          </div>
          <div class="small-9 columns">
            <input type="text" required pattern="" />
            <small class="error"></small>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <label class="text-right">Date <small class='required'>*</small></label>
          </div>
          <div class="small-3 columns">
            <input type="text" required pattern="" />
            <small class="error"></small>
          </div>
          <div class="small-3 columns">
            <label class="text-right">Start Time <small class='required'>*</small></label>
          </div>
          <div class="small-3 columns">
            <select>
              <option>...</option>
            </select>
            <small class="error"></small>
          </div>
        </div>
      </div>
      <div class='columns medium-6'>
        <div class="row">
          <div class="small-3 columns">
            <label class="text-right">Host <small class='required'>*</small></label>
          </div>
          <div class="small-6 columns">
            <input type="text" required pattern="" />
            <small class="error"></small>
          </div>
          <div class="small-3 columns">
            <a href class="button small">Contact</a>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <label class="text-right">Address <small class='required'>*</small></label>
          </div>
          <div class="small-9 columns">
            <input type="text" required pattern="" />
            <small class="error"></small>
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <label class="text-right">State <small class='required'>*</small></label>
          </div>
          <div class="small-3 columns">
            <select required>
              <option>...</option>
            </select>
            <small class="error"></small>
          </div>
          <div class="small-3 columns">
            <label class="text-right">Zip Code</label>
          </div>
          <div class="small-3 columns">
            <input type="text" pattern="" />
          </div>
        </div>
        <div class="row">
          <div class="small-3 columns">
            <label class="text-right">End Date <small class='required'>*</small></label>
          </div>
          <div class="small-3 columns">
            <input type="text" required pattern="" />
            <small class="error"></small>
          </div>
          <div class="small-3 columns">
            <label class="text-right">End Time <small class='required'>*</small></label>
          </div>
          <div class="small-3 columns">
            <select>
              <option>...</option>
            </select>
            <small class="error"></small>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns"><hr/></div>
    </div>
    <div class="row">
      <div class="small-12 columns text-center">
        <a href class="button small">Save</a> <a href class="button secondary small">Cancel</a>
      </div>
    </div>
  </form>
</div>
