<h2>My Contact</h2>
<div class="popup-con">

      <div class='row party-topbar'>
        <div class='small-12 medium-6 columns'>
          <div class='row collapse'>
            <div class='small-10 columns'>
              <input type='text' placeholder='Typing Contact Name for search...' class='secondary-item no-margin-bottom' dropdown-toggle="#drop-menu-search" />
            </div>
            <div class='small-2 columns'>
              <a href='#' class='postfix button'><i class="fa fa-search"></i></a>
            </div>
          </div>
        </div>
        <div class='small-12 medium-6 columns text-right'>
          <a href class="button small">Add a Contact</a>
        </div>
      </div>
      <div class="row">
        <div class="small-12 columns">
          <table class="party-list block-margin-bottom unimportant-text">
            <thead>
            <tr class="table-title-bg">
              <th width="40" class="text-left"><input type="checkbox"></th>
              <th width="150" class="text-left">Name</th>
              <th class="text-left">Email</th>
              <th width="100" class="text-left">Phone</th>
              <th width="80" class="text-left">Type</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><input type="checkbox"></td>
              <td>Abovegem</td>
              <td>abovegem-abc@abovegem.com</td>
              <td>12345678</td>
              <td>Customer</td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td>Abovegem</td>
              <td>abovegem-abc@abovegem.com</td>
              <td>12345678</td>
              <td>Customer</td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td>Abovegem</td>
              <td>abovegem-abc@abovegem.com</td>
              <td>12345678</td>
              <td>Customer</td>
            </tr>
            <tr>
              <td><input type="checkbox"></td>
              <td>Abovegem</td>
              <td>abovegem-abc@abovegem.com</td>
              <td>12345678</td>
              <td>Customer</td>
            </tr>
            </tbody>
          </table>
          <ul class="pagination right"> <li class="arrow unavailable"><a href="">&laquo;</a></li> <li class="current"><a href="">1</a></li> <li><a href="">2</a></li> <li><a href="">3</a></li> <li><a href="">4</a></li> <li class="unavailable"><a href="">&hellip;</a></li> <li><a href="">12</a></li> <li><a href="">13</a></li> <li class="arrow"><a href="">&raquo;</a></li> </ul>
        </div>

      </div>
      <div class="row">
        <div class="small-12 columns">
          <hr/>
          <div class="text-center"><a href class="button small">Submit</a> <a href class="button secondary small">Cancel</a></div>
        </div>
      </div>

</div>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
