<h2>Add a Contact</h2>
<div class="popup-con">
  <form>
    <div class="row">
      <div class="small-4 end columns">
        <label>Contact Type</label>
        <select>
          <option>Customer</option>
        </select>
      </div>
    </div>
    <br/>
    <div class="row">
      <div class="medium-6 small-12 columns">
        <label class="required">First Name</label>
        <input type="text" />
      </div>
      <div class="medium-6 small-12 columns">
        <label class="required">Last Name</label>
        <input type="text" />
      </div>
    </div>
    <div class="row">
      <div class="medium-6 small-12 columns">
        <label class="required">Email</label>
        <input type="text" />
      </div>
      <div class="medium-6 small-12 columns">
        <label class="required">Phone</label>
        <input type="text" />
      </div>
    </div>
    <div class="row block-margin-bottom">
      <div class="medium-6 small-12 columns">
        <label class="required">Address</label>
        <input type="text" />
      </div>
      <div class="medium-6 small-12 columns">
        <div class="row">
          <div class="small-4 columns">
            <label class="required">City</label>
            <input type="text" />
          </div>
          <div class="small-4 columns">
            <label class="required">State</label>
            <select>
              <option></option>
            </select>
          </div>
          <div class="small-4 columns">
            <label>Zip Code</label>
            <input type="text" />
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="row">
    <div class="small-12 columns">
      <hr/>
      <div class="text-center"><a href class="button small">Save</a> <a href class="button secondary small">Close</a></div>
    </div>
  </div>
</div>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
