<div class='party-container'>
  <div class='row'>
    <div class="small-12 columns">
      <ul class="breadcrumbs">
        <li><a href="#">My Pawty</a></li>
        <li class="current"><a href="#">Manage Contact</a></li>
      </ul>
    </div>
  </div>
  <div class='row party-topbar'>
    <div class='small-12 medium-7 columns'>
      <div class='row collapse'>
        <div class="medium-3 columns">
          <select class="secondary-item no-margin-bottom">
            <option value=1>Contact Type</option>
          </select>
        </div>
        <div class='small-8 columns'>
          <input type='text' placeholder='Typing Contact Name for search...' class='secondary-item no-margin-bottom' dropdown-toggle="#drop-menu-search" />
        </div>
        <div class='small-1 columns'>
          <a href='#' class='postfix button'><i class="fa fa-search"></i></a>
        </div>
        <ul id="drop-menu-search" class='f-dropdown party-panel-list'>
          <li ng-repeat="choice in searchItems">
            <i class="fa fa-caret-right primary-color"></i>
            <a href='#'>[choice.name]</a>
            <span href='#' class='label secondary right'>[choice.date]</span>
          </li>
        </ul>
      </div>
    </div>
    <div class='small-12 medium-5 columns text-right'>
      <a href class='button small' ng-click="partyAddContact()">Add a Contact</a>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <table class="party-list block-margin-bottom">
        <thead>
          <tr class="table-title-bg">
            <th width="180" class="text-left">Name</th>
            <th class="text-left">Email</th>
            <th width="100" class="text-left">Phone</th>
            <th width="120" class="text-left">Type</th>
            <th width="130" class="text-left"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Abovegem</td>
            <td>admin@abovegem.com</td>
            <td>123456789</td>
            <td>Customer</td>
            <td class="text-right"><a href class="button tiny">Edit</a> <a href class="button secondary tiny">Remove</a></td>
          </tr>
          <tr>
            <td>Abovegem</td>
            <td>admin@abovegem.com</td>
            <td>123456789</td>
            <td>Customer</td>
            <td class="text-right"><a href class="button tiny">Edit</a> <a href class="button secondary tiny">Remove</a></td>
          </tr>
          <tr>
            <td>Abovegem</td>
            <td>admin@abovegem.com</td>
            <td>123456789</td>
            <td>Customer</td>
            <td class="text-right"><a href class="button tiny">Edit</a> <a href class="button secondary tiny">Remove</a></td>
          </tr>
          <tr>
            <td>Abovegem</td>
            <td>admin@abovegem.com</td>
            <td>123456789</td>
            <td>Customer</td>
            <td class="text-right"><a href class="button tiny">Edit</a> <a href class="button secondary tiny">Remove</a></td>
          </tr>
          <tr>
            <td>Abovegem</td>
            <td>admin@abovegem.com</td>
            <td>123456789</td>
            <td>Customer</td>
            <td class="text-right"><a href class="button tiny">Edit</a> <a href class="button secondary tiny">Remove</a></td>
          </tr>
          <tr>
            <td>Abovegem</td>
            <td>admin@abovegem.com</td>
            <td>123456789</td>
            <td>Customer</td>
            <td class="text-right"><a href class="button tiny">Edit</a> <a href class="button secondary tiny">Remove</a></td>
          </tr>
          <tr>
            <td>Abovegem</td>
            <td>admin@abovegem.com</td>
            <td>123456789</td>
            <td>Customer</td>
            <td class="text-right"><a href class="button tiny">Edit</a> <a href class="button secondary tiny">Remove</a></td>
          </tr><tr>
            <td>Abovegem</td>
            <td>admin@abovegem.com</td>
            <td>123456789</td>
            <td>Customer</td>
            <td class="text-right"><a href class="button tiny">Edit</a> <a href class="button secondary tiny">Remove</a></td>
          </tr>
          <tr>
            <td>Abovegem</td>
            <td>admin@abovegem.com</td>
            <td>123456789</td>
            <td>Customer</td>
            <td class="text-right"><a href class="button tiny">Edit</a> <a href class="button secondary tiny">Remove</a></td>
          </tr>
        </tbody>
       </table>
      <ul class="pagination right"> <li class="arrow unavailable"><a href="">&laquo;</a></li> <li class="current"><a href="">1</a></li> <li><a href="">2</a></li> <li><a href="">3</a></li> <li><a href="">4</a></li> <li class="unavailable"><a href="">&hellip;</a></li> <li><a href="">12</a></li> <li><a href="">13</a></li> <li class="arrow"><a href="">&raquo;</a></li> </ul>
    </div>
  </div>
