<div class='party-container'>
  <div class='row'>
    <div class="medium-6 columns">
      <ul class="breadcrumbs">
        <li><a href="#">My Pawty</a></li>
        <li class="current"><a href="#">2 Years Birthday</a></li>
      </ul>
    </div>
    <div class="medium-6 columns">
      <p class="text-right">
        <a href class="button tiny">Invite Guests</a> <a href class="button tiny">Edit</a> <a href class="button tiny">Delete</a>
      </p>
    </div>
  </div>
  <div class='row'>
      <div class='columns medium-8'>
        <div class='row block-margin-bottom'>
          <div class='small-3 columns'>
            <div class="party-blue-circle-s">
              <p><strong>182</strong><br/><span>GOAL:40</span></p>
              <h5>INVITED</h5>
            </div>
          </div>
          <div class='small-3 columns'>
            <div class="party-orange-circle-s">
              <p class='icons-green-circle'><strong>182</strong><br/><span>GOAL:40</span></p>
              <h5>ATTENDING</h5>
            </div>
          </div>
          <div class='small-3 columns'>
            <div class="party-green-circle-s">
              <p class='icons-red-circle'><strong>182</strong><br/><span>GOAL:40</span></p>
              <h5>ORDERS</h5>
            </div>
          </div>
          <div class='small-3 columns'>
            <div class="party-pink-circle-s">
              <p class='icons-pink-circle'><strong>182</strong><br/><span>GOAL:$250</span></p>
              <h5>EARNINGS</h5>
            </div>
          </div>
        </div>
        <div class='row'>
          <div class='columns small-12'>
            <div class='party-price block-margin-bottom'>
              <ul class="row">
                <li class="small-4 columns text-center">$49.95<span>STYLIST</span></li>
                <li class="small-4 columns text-center">$42.12<span>RETAIL</span></li>
                <li class="small-4 columns text-center">$36.12<span>PCV</span><small>0 half off item(s)</small></li>
              </ul>
            </div>
          </div>
        </div>
        <div class='row party-topbar'>
          <div class='small-12 medium-6 columns'>
            <h4 class="primary-color">Pawty Orders</h4>
          </div>
          <div class='small-12 medium-6 columns'>
            <div class='row collapse'>
              <div class='small-10 columns'>
                <input type='text' placeholder='Type Order ID or Product Name for search...' class='secondary-item no-margin-bottom' dropdown-toggle="#drop-menu-search" />
              </div>
              <div class='small-2 columns'>
                <a href='#' class='postfix button'><i class="fa fa-search"></i></a>
              </div>
            </div>
          </div>
        </div>
        <table class="party-list block-margin-bottom unimportant-text">
          <thead>
            <tr class="table-title-bg">
              <th width="120" class="text-left">Order</th>
              <th width="120" class="text-left">Date</th>
              <th width="100" class="text-left">Order Total</th>
              <th class="text-left">Customer</th>
              <th width="80" class="text-left">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href>123456789</a></td>
              <td>30/11/2013</td>
              <td>$1104.94</td>
              <td>Abovegem ABC</td>
              <td>Shipped</td>
            </tr>
            <tr>
              <td><a href>123456789</a></td>
              <td>30/11/2013</td>
              <td>$1104.94</td>
              <td>Abovegem ABC</td>
              <td>Shipped</td>
            </tr>
            <tr>
              <td><a href>123456789</a></td>
              <td>30/11/2013</td>
              <td>$1104.94</td>
              <td>Abovegem ABC</td>
              <td>Shipped</td>
            </tr>
            <tr>
              <td><a href>123456789</a></td>
              <td>30/11/2013</td>
              <td>$1104.94</td>
              <td>Abovegem ABC</td>
              <td>Shipped</td>
            </tr>
            <tr>
              <td><a href>123456789</a></td>
              <td>30/11/2013</td>
              <td>$1104.94</td>
              <td>Abovegem ABC</td>
              <td>Shipped</td>
            </tr>
            <tr>
              <td><a href>123456789</a></td>
              <td>30/11/2013</td>
              <td>$1104.94</td>
              <td>Abovegem ABC</td>
              <td>Shipped</td>
            </tr>
            <tr>
              <td><a href>123456789</a></td>
              <td>30/11/2013</td>
              <td>$1104.94</td>
              <td>Abovegem ABC</td>
              <td>Shipped</td>
            </tr><tr>
              <td><a href>123456789</a></td>
              <td>30/11/2013</td>
              <td>$1104.94</td>
              <td>Abovegem ABC</td>
              <td>Shipped</td>
            </tr><tr>
              <td><a href>123456789</a></td>
              <td>30/11/2013</td>
              <td>$1104.94</td>
              <td>Abovegem ABC</td>
              <td>Shipped</td>
            </tr>
            <tr>
              <td><a href>123456789</a></td>
              <td>30/11/2013</td>
              <td>$1104.94</td>
              <td>Abovegem ABC</td>
              <td>Shipped</td>
            </tr>
            <tr>
              <td><a href>123456789</a></td>
              <td>30/11/2013</td>
              <td>$1104.94</td>
              <td>Abovegem ABC</td>
              <td>Shipped</td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class='columns medium-4'>
      <div class='party-panel block-margin-bottom'>
        <h4>2 Years Birthday</h4>
        <div class="party-details-info">
          <dl class="row">
            <dt class="small-4 columns">Date:</dt>
            <dd class="small-8 columns">October 24, 2013, 7:30 PM</dd>
          </dl>
          <dl class="row">
            <dt class="small-4 columns">End:</dt>
            <dd class="small-8 columns">November 24, 2013</dd>
          </dl>
          <dl class="row">
            <dt class="small-4 columns">Location:</dt>
            <dd class="small-8 columns">xxx, 23th, xxxxx</dd>
          </dl>
          <br/>
          <dl class="row">
            <dt class="small-4 columns">Host:</dt>
            <dd class="small-8 columns">Abovegem</dd>
          </dl>
          <dl class="row">
            <dt class="small-12 columns">Invation URL:</dt>
          </dl>
          <dl class="row">
            <dd class="small-12 columns"><a href>http://www.xxxxxx.com/xxxx</a></dd>
          </dl>
          <br/>
          <a href class="button secondary small">Copy</a>
        </div>
      </div>
      <h3 class="primary-color">RSVP <a href class="button right tiny">Manage Guest</a></h3>
      <div class='party-panel block-margin-bottom'>
        <h4>YES: 2 <i class="fa fa-chevron-down right"></i></h4>
        <table width='100%' class='party-user-table'>
          <tbody>
          <tr>
            <td>
              <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
              <div class='party-user-table-info'>
                <h5>
                  Shelly olson
                  <br/>
                  <small>sjbolson13@gmail.com</small>
                </h5>
              </div>
            </td>
          </tr>
          <tr class='odd'>
            <td>
              <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
              <div class='party-user-table-info'>
                <h5>
                  Shelly olson
                  <br/>
                  <small>sjbolson13@gmail.com</small>
                </h5>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
              <div class='party-user-table-info'>
                <h5>
                  Shelly olson
                  <br/>
                  <small>sjbolson13@gmail.com</small>
                </h5>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <h4>MAYBE: 2 <i class="fa fa-chevron-down right"></i></h4>
        <div class='party-panel-con-bar'>
          <span><i class="fa fa-caret-right primary-color"></i> No Replies Yet</span>
        </div>
        <h4>NO: 0 <i class="fa fa-chevron-right right"></i></h4>
        <h4>NO REPLY YET: 0 <i class="fa fa-chevron-right right"></i></h4>
      </div>
      <h3 class="primary-color">RSVP History</h3>
      <div class="party-panel">
        <table width='100%' class='party-user-table'>
          <tbody>
          <tr>
            <td>
              <div class='party-user-table-info party-user-table-info-noPho'>
                <h5>
                  Shelly olson <small class="right">1 min ago</small>
                  <br/>
                  <small>Changed Reply to "YES".</small>
                </h5>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class='party-user-table-info party-user-table-info-noPho'>
                <h5>
                  Shelly olson <small class="right">1 min ago</small>
                  <br/>
                  <small>Changed Reply to "YES".</small>
                </h5>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class='party-user-table-info party-user-table-info-noPho'>
                <h5>
                  Shelly olson <small class="right">1 min ago</small>
                  <br/>
                  <small>Changed Reply to "YES".</small>
                </h5>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <p><a class="right small-font" href="">Show All</a></p>
    </div>
  </div>
</div>
