<div class='party-container'>
  <div class='row'>
    <div class='small-12 columns party-email-banner'>
      <img src='/images/party/party-email-banner-1.jpg' alt='Your RSVP' class="party-email-banner-img" />
      <div class='party-email-banner-text'>
        <h2>Shelly Olson's Meet<small>December 31st, 2013 | 7:30 AM</small></h2>
        <p>BUIDING ABC<br/>21027 Parkwoods Dr, South Lyon, MI 48178-9032</p>
        <div class='party-email-banner-anwser'>
          Your RSVP is<br/>
          <div class='party-email-banner-button'>
            <span class="large-font">YES</span>
          </div>
        </div>
      </div>
      <a href='#' class="party-email-banner-go">Go to Shopping</a>
    </div>
  </div>
  <div class='row'>
    <div class='columns medium-12'>
      <h3 class="primary-color">Who's Coming?</h3>
    </div>
  </div>
  <div class='row'>
    <div class='columns medium-6'>
      <div class='party-panel'>
        <h4>YES: 2 <i class="fa fa-chevron-down right"></i></h4>
        <table width='100%' class='party-user-table'>
          <tbody>
          <tr>
            <td>
              <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
              <div class='party-user-table-info'>
                <h5>
                  Shelly olson
                  <br/>
                  <small>sjbolson13@gmail.com</small>
                </h5>
              </div>
            </td>
          </tr>
          <tr class='odd'>
            <td>
              <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
              <div class='party-user-table-info'>
                <h5>
                  Shelly olson
                  <br/>
                  <small>sjbolson13@gmail.com</small>
                </h5>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
              <div class='party-user-table-info'>
                <h5>
                  Shelly olson
                  <br/>
                  <small>sjbolson13@gmail.com</small>
                </h5>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class='party-panel'>
        <h4>MAYBE: 0 <i class="fa fa-chevron-down right"></i></h4>
        <div class='party-panel-con-bar'>
          <span><i class="fa fa-caret-right primary-color"></i> No Replies Yet</span>
        </div>
      </div>
      <div class='party-panel'>
        <h4>NO: 0 <i class="fa fa-chevron-right right"></i></h4>
      </div>
      <div class='party-panel'>
        <h4>NO REPLY YET: 0 <i class="fa fa-chevron-right right"></i></h4>
      </div>
    </div>
    <div class='columns medium-6'>
      <div class='party-panel'>
        <h4>RSVP History</h4>
        <table width='100%' class='party-user-table'>
          <tbody>
          <tr>
            <td>
              <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
              <div class='party-user-table-info'>
                <h5>
                  Shelly olson <small class="right">1 min ago</small>
                  <br/>
                  <small>Change Reply to "YES"</small>
                </h5>
              </div>
            </td>
          </tr>
          <tr class='odd'>
            <td>
              <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
              <div class='party-user-table-info'>
                <h5>
                  Shelly olson <small class="right">1 min ago</small>
                  <br/>
                  <small>Replied "MAYBE"</small>
                </h5>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
              <div class='party-user-table-info'>
                <h5>
                  Shelly olson <small class="right">1 min ago</small>
                  <br/>
                  <small>Change Reply to "YES"</small>
                </h5>
              </div>
            </td>
          </tr>
          <tr class='odd'>
            <td>
              <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
              <div class='party-user-table-info'>
                <h5>
                  Shelly olson <small class="right">04/08/2014 23:22</small>
                  <br/>
                  <small>Replied "MAYBE" and comment "I am not sure, i will be go out..."</small>
                </h5>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
              <div class='party-user-table-info'>
                <h5>
                  Shelly olson <small class="right">04/08/2014 23:22</small>
                  <br/>
                  <small>Change Reply to "YES"</small>
                </h5>
              </div>
            </td>
          </tr>
          <tr class='odd'>
            <td>
              <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
              <div class='party-user-table-info'>
                <h5>
                  Shelly olson <small class="right">04/08/2014 23:22</small>
                  <br/>
                  <small>Replied "MAYBE" and comment "I am not sure, i will be go out..."</small>
                </h5>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <ul class="pagination right">
          <li class="arrow unavailable"><a href=""><i class="fa fa-caret-left"></i></a></li>
          <li class="current"><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li class="arrow"><a href=""><i class="fa fa-caret-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
