<h6>
  HOODY
</h6>
<p>
  Children’s heights and shapes vary so please use our top tips for measuring before deciding on size or ordering.
  Remember, measurements such as height are a better guide than age in choosing the correct size. Although we are happy
  to exchange garments, please remember that this will be at your cost unless of course the item is faulty.
</p>
<p>
  N.B Do not pull the tape measure too tight.
</p>
<table class="size-charts-table">
  <thead>
  <tr>
    <th>
      Age/Yrs
    </th>
    <th>
      3-4
    </th>
    <th>
      5-6
    </th>
    <th>
      7-8
    </th>
    <th>
      9-11
    </th>
    <th>
      12-13
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      Chest cm
    </td>
    <td>
      26
    </td>
    <td>
      28
    </td>
    <td>
      30
    </td>
    <td>
      32
    </td>
    <td>
      34
    </td>
  </tr>
  </tbody>
</table>