<h6>
  PJ/OONCHIES
</h6>
<p>
  <img class="right" src="images/keep-away-from-fire.png" alt="Keep away from fire"/>
  Children’s heights and shapes vary so please use our top tips for measuring before deciding on size or ordering.
  Remember, measurements such as height are a better guide than age in choosing the correct size. Although we are happy
  to exchange garments, please remember that this will be at your cost unless of course the item is faulty.
</p>
<p>
  N.B Do not pull the tape measure too tight.
</p>
<table class="size-charts-table">
  <thead>
  <tr>
    <th>
      Age/Measurement
    </th>
    <th>
      3/4
    </th>
    <th>
      5/6
    </th>
    <th>
      7/8
    </th>
    <th>
      9/10
    </th>
    <th>
      11/12
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      Outside leg length incl.
      waistband (with turn up
      turned down)
    </td>
    <td>
      49.5
    </td>
    <td>
      57.5
    </td>
    <td>
      65.5
    </td>
    <td>
      73.5
    </td>
    <td>
      81.5
    </td>
  </tr>
  <tr class="even">
    <td>
      Outside leg length incl.
      waistband (with turn up
      turned up)
    </td>
    <td>
      54-58
    </td>
    <td>
      58-60
    </td>
    <td>
      60-64
    </td>
    <td>
      64-69
    </td>
    <td>
      69-78
    </td>
  </tr>
  <tr>
    <td>
      Total waist relaxed
    </td>
    <td>
      49
    </td>
    <td>
      52
    </td>
    <td>
      55
    </td>
    <td>
      59
    </td>
    <td>
      64
    </td>
  </tr>
  <tr class="even">
    <td>
      Total hip circumference
    </td>
    <td>
      66
    </td>
    <td>
      72
    </td>
    <td>
      78
    </td>
    <td>
      86
    </td>
    <td>
      94
    </td>
  </tr>
  <tr>
    <td>
      Front rise
    </td>
    <td>
      19
    </td>
    <td>
      21
    </td>
    <td>
      23
    </td>
    <td>
      25
    </td>
    <td>
      27
    </td>
  </tr>
  <tr class="even">
    <td>
      Leg hem circumference
    </td>
    <td>
      36
    </td>
    <td>
      38
    </td>
    <td>
      40
    </td>
    <td>
      42
    </td>
    <td>
      44
    </td>
  </tr>
  <tr>
    <td>
      Waistband height
    </td>
    <td>
      4
    </td>
    <td>
      4
    </td>
    <td>
      4
    </td>
    <td>
      4
    </td>
    <td>
      4
    </td>
  </tr>
  </tbody>
</table>