<div class='row'>
  <div class='small-12 columns'>
    <ul class="breadcrumbs">
      <li>
        <a ng-href="{{taxon | taxonLink}}">&gt; {{taxon.name}}</a>
      </li>
      <li ng-if="subTaxon">
        <a ng-href="#/products/{{taxon.permalink}}/{{subTaxon.permalink}}">{{subTaxon.name}}</a>
      </li>
      <!--TODO: fix display problemin safari, need to remove inline style when find a better way-->
      <li style="width: 50%;">{{product.name}}</li>
    </ul>
  </div>
</div>
<div class='row product-detail'>
  <div class='medium-5 columns text-center'>
    <div class="detail-image">
      <img class="zoom-image" ng-src="{{currentImage}}" alt="{{product.name}}"/>
    </div>

    <ul class="small-block-grid-4 thumbnails">
      <li ng-repeat="image in product.images" ng-click="changeImage(image)">
        <div class="thumbnail-image" ng-class="{current: currentImage === image}">

          <img data-pre-load-image-url="{{image}}" ng-src="{{image | imageSize:'small' }}"/>
        </div>
      </li>
    </ul>
  </div>
  <div class="medium-7 columns">
    <div class="row">
      <div class="columns medium-8">
        <div class="info-panel first">
          <h2 class="name">{{product.name}}</h2>

          <div>
            Item Code: {{variant.sku}}
          </div>
          <h2 class='price'>
            £{{variant.price | price}}
          </h2>
        </div>

        <div class='info-panel' ng-hide="sizes.length === 0">
          <div class="info-panel-title">Size:</div>
          <ul class="options">
            <li ng-repeat="size in sizes" ng-click="changeSize(size)" ng-class="{current: size === selectedSize}">
              {{size}}
            </li>
          </ul>
        </div>
        <div class='info-panel' ng-hide="colors.length < 2">
          <div class="info-panel-title">Color:</div>
          <ul class="options">
            <li ng-repeat="color in colors" ng-click="changeColor(color)" ng-class="{current: color === selectedColor}">
              {{color}}
            </li>
          </ul>
        </div>

        <div class='quantity info-panel'>
          <div class="info-panel-title">Quantity:</div>
          <input type="number" min="1" ng-model="quantity" ng-init="quantity=1"/>
        </div>

        <div class='shopping info-panel last'>
          <button class='button' ng-click="addToCart()">ADD TO CART</button>
        </div>
      </div>
      <div class="columns medium-4" ng-if="catalogCode !== 'MM'">
        <a href="//miioon.com/products" target="_blank">
          <img src="images/design.gif" alt="Design Your Own"/>
        </a>
      </div>
    </div>
    <div class="tabs" data-tabset>
      <div data-tab data-heading="Product Description">
        <div class="detail-description">
          {{product.description}}
        </div>
      </div>
      <div data-tab data-heading="Size Charts">
        <div class="size-charts" ng-include="'views/product/size-charts.html'"></div>
      </div>
    </div>
  </div>
</div>