<div class="row">
  <div class="columns small-12">
    <div class="shutout">
      <p>
        <b class="highlight">Hi grown ups!</b> We are the Oons and we help the kids design their own
        clothes over on the kids side of miioon.com using a gift card, cool huh?!
      </p>
      <p>
        We have such passion for fashion that we showcase all the latest designs made
        by the kids in our <b>made by mii</b> shop, so you grown ups can also browse and buy.
        See, we love you guys too!
      </p>
    </div>
    <p class="large-font">
      Miioon was created to help make buying presents for kids a no brainer.
      Be the present buying super hero by empowering kids to do the making,
      whilst pleasing mum and dad with a new garment for the wardrobe/ dressing up box.
    </p>
    <p class="large-font">
      In today's digital world where our kids are given sooooo much choice,
      big retailers take those choices down their aisles and strangle them!
      Miioon strives to offer kids the choice they desire in a super fun,
      safe way and produce that outcome on quality products that scream, 'Coooooooool!'
    </p>
  </div>
</div>
<div class="row slogans">
  <div class="columns small-4">
    <img src="images/about/create.png" alt="Create"/>
    <p class="large-font">
      <b>Create:</b> Kids are given lots of choice in the design
      process which helps develop their decision making skills.
    </p>
  </div>
  <div class="columns small-4">
    <img src="images/about/quality.png" alt="Create"/>
    <p class="large-font">
      <b>Quality:</b> But be assured that we have worked tirelessly to ensure
      that the outcome is guaranteed to be a tasteful one.
    </p>
  </div>
  <div class="columns small-4">
    <img src="images/about/designs.png" alt="Create"/>
    <p class="large-font">
      <b>Designs:</b> That ALL the family are happy as Larry to be seen out and about in.
    </p>
  </div>
</div>