<div class="row slogans">
  <div class="columns small-4">
    <a href='https://kids.miioon.com'><img src="images/about/create.png" alt="Create"/></a>
    <p class="large-font">
      <b>Create:</b> Kids are given lots of choice in the design
      process which helps develop their decision making skills.
    </p>
  </div>
  <div class="columns small-4">
    <a onclick="$('.glossi-view').click();" href="javascript:void(0);"><img src="images/about/quality.png" alt="Create"/></a>
    <p class="large-font">
      <b>Quality:</b> But be assured that we have worked tirelessly to ensure
      that the outcome is guaranteed to be a tasteful one.
    </p>
  </div>
  <div class="columns small-4">
    <a href='#/career'><img src="images/about/social.png" alt="Social"/></a>
    <p class="large-font">
      <b>Social:</b> Empowering women to create a business on their own terms, whilst giving back to local communities through fundraising.
    </p>
  </div>
</div>
<div class="row about-description">
  <div class="columns small-12">
    <p>
      <b>
        Miioon was created to help make buying presents for kids a no brainer.
        Be the present buying super hero by empowering kids to do the making,
        whilst pleasing mum and dad with a new garment for the wardrobe/ dressing up box.
      </b>
    </p>
    <p>
      In today's digital world where our kids are given sooooo much choice,
      big retailers take those choices down their aisles and strangle them!
      Miioon strives to offer kids the choice they desire in a super fun,
      safe way and produce that outcome on quality products that scream, 'Coooooooool!'
    </p>
  </div>
</div>
<div class="row">
  <div class="columns medium-12 text-center">
    <img src="images/about/wake-up.png" alt="Wake Up"/>
  </div>
</div>
