<div class="row">
  <div class="columns medium-12 show-for-medium-up text-center">
    <div class="slider brand-slider">
      <ul>
        <li>
            <img src="images/brand/brand-banner-1.png" alt='Brands' />
        </li>
        <li>
            <img src="images/brand/brand-banner-2.png" alt='Brands' />
        </li>
        <li>
            <img src="images/brand/brand-banner-3.png" alt='Brands' />
        </li>
      </ul>
    </div>
    <br/><br/><br/>
    <p class='large-font'>Miioon has teamed up with the following brands to offer kids a huge range of choice when customizing their garments.</p>
    <br/>
  </div>
</div>
<div class='brand-container'>
  <div class='row'>
    <div class='columns medium-3 small-12 text-center'>
      <img src="images/brand/brand-item-1.png" alt="Animaru" />
      <p><strong>Animaru</strong> - Quirky, Japanese inspired animal characters.  Based on real animals and their habitats, creating these designs is both educational as well as just, well super cute.   The challenge is to guess the names of the animals before kids see them in the basket!</p>
    </div>
    <div class='columns medium-3 small-12 text-center'>
      <img src="images/brand/brand-item-2.png" alt="Animaru" />
      <p><strong>Moshi Monsters</strong> - Kids choose from one of six virtual pet monsters (Diavlo, Luvli, Katsuma, Poppet, Zommer and Furi).  Once their pet has been customised (just like in the game), they can choose from ANY moshling (yes any) to stand beside it in a real life destination of their choice. Their very own personalized polaroid snap!  Now... we challenge you to find another retailer who can offer that many characters and colours in one sitting.</p>
    </div>
    <div class='columns medium-3 small-12 text-center'>
      <img src="images/brand/brand-item-3.png" alt="Animaru" />
      <p><strong>TMNT</strong> - Don't let retailers fob you off with the generic 'group' shot.  Here kids can pick the character and pose they love best and house it with the phrase that gets their ninja senses flowing.   Oh..... and we offer two group shots as well.  "BEAT THIS!"</p>
    </div>
    <div class='columns medium-3 small-12 text-center'>
      <img src="images/brand/brand-item-4.png" alt="Animaru" />
      <p><strong>Moshlings</strong> - Are very cute, cool creatures that you can collect. Some are rare and all have individual style and names.   Moshlings feature on our Moshi Ruckack® liner and the Oonits (charms) that customise its zips.  Kids can also choose from over 140 Moshlings to accompany their Monster on their T-shirt prints. Some are super super-rare!</p>
    </div>
  </div>
  <div class='row'>
    <div class='columns medium-3 small-12 text-center'>
      <img src="images/brand/brand-item-5.png" alt="Animaru" />
      <p><strong>Ruckjack® by Miioon</strong> - Our award winning patent approved kids jacket is the superhero of kids clothing.   Invented by a RAD kite surfer and re-worked by Miioon, this quality jacket has more technical ticks than a NASA space rocket. Not only that, it converts in to a handy rucksack when no longer worn.  Perfect for days out whatever the weather and no more lost coats.</p>
    </div>
    <div class='columns medium-3 small-12 text-center'>
      <img src="images/brand/brand-item-6.png" alt="Animaru" />
      <p><strong>Swoopercape®</strong> - This super-stylish super hero cape comes with matching mask and supersonic wristbands.  Granted, there are other customisable capes on the market, but nothing as cool as this one. Kids of all ages (yes, we’ve had a few Big Kid requests too) love our Oon character emblems, the retro styling and won't have to wait an eternity......yawn.... to have their own initial, colour and emblem of choice printed on it.  Swooper huh?!</p>
    </div>
    <div class='columns medium-3 small-12 text-center'>
      <img src="images/brand/brand-item-7.png" alt="Animaru" />
      <p><strong>miioon Oon Dress Up</strong> - Creating your own digital avatar is the most fun way for kids to express their individuality and style.  Whether it be a fairy, an astronaught or even an astro fairy the choice is endless.  The bright and playful styling of the Oon characters is transcending of all age groups.</p>
    </div>
    <div class='columns medium-3 small-12 text-center'>
      <p class='large-font'><strong>And there’s loads more brands in development, coming soon...</strong></p>
    </div>
  </div>
</div>
