<div class="row career-container">
  <div class="columns medium-9">
    <div class='career-1' id='career-1'>
      <h2>Become a <br/>Miioon Angel</h2>
      <h3>Give yourself a fun flexible and<br/>rewarding business this year.</h3>
      <label><input type='radio' /> Sign up for ￡98 and get ￡235 value in bright and beautiful children's clothing.</label>
      <p class='text-center'><a href='#' class='button'>SIGN UP TODAY</a></p>
      <img src='images/career/career-1-1.png' />
    </div>
    <div class='career-2 bottom-arrow text-center' id='career-2'>
      <h2>How <strong>it works for you</strong></h2>
      <p class='career-2-p1 large-font'>Run your own business from home or on-the-go, show off your award winning children's samples and sell gift cards, which allow children to have fun designing their own clothing at miioon.com</p>
      <p class='career-2-p2 large-font'>
        <h3>The Pay</h3>
        Extra spending money, or a six figure salary - we provide the support to help you get there! <span>Get paid 30% commissions, every week.</span>
      </p>
      <p class='career-2-p3 large-font'>
        <h3>The Perks</h3>
        xxxxxxxxxxxxxxxxxxxxxxx
      </p>
      <p class='career-2-p4 large-font'>
        <h3>The Tools</h3>
        Yyyyyyyyyyyyyyyyyyyyyyyyyyyy
      </p>
      <p class='text-center'><a href='#' class='button career-bt-red'>START EARNING TODAY!</a></p>
    </div>
    <div class='career-3 bottom-arrow' id='career-3'>
      <p class='text-center career-3-bt'><a href='#' class='button'>VISIT MIIOON.COM</a></p>
    </div>
    <div class='career-4 bottom-arrow' id='career-4'>
      <h2>Our <strong>mission</strong></h2>
      <p class='career-4-p1 large-font'>is to make mums present heroes and inspire women to start their own business, by giving them products and services that no mum can be without</p>
      <p class='career-4-p2'><img src='images/career-4-1.jpg' alt='Our mission' /></p>
      <p class='career-4-p3 text-center'>Our Mission Angels solve the kids gift buying problem.<br/>What mum doesn't want to be <strong>a present buying super hero?</strong></p>
      <p class='text-center'><a href='#' class='button'>SIGN UP TODAY</a></p>
    </div>
    <div class='career-5 bottom-arrow' id='career-5'>
      <h2>The <strong>opportunity</strong></h2>
      <p class='career-5-p1 large-font'>Here's why being an Miioon Angel is both fun and rewarding:</p>
      <div class='row'>
        <div class='columns small-7'>
          <p class='career-5-p2'>
            <h3>THE UK KIDS CLOTHING AND GIFT MARKETS ARE WORTH OVER ￡7 BILLION</h3>
            Have fun making money by cutting out the high street and passing on the savings to your friends and family.
          </p>
          <p class='career-5-p3'>
            <h3>AWARD WINNING PRODUCTS</h3>
            From the Swoopercape® to the Ruckjack® all miioon products are designed with both kids and parents in mind. You will only EVER sell products you are 100% proud of.
            <img src='images/career/career-1.jpg' alt='AWARD' />
          </p>
          <p class='career-5-p4'>
            <h3>BEST KID'S BRANDS ON THE MARKET, PLUS SOME UNIQUE ONES TOO.</h3>
            From Moshi monsters to TMNT (with many more to come soon), your kids will love the fact their mum is working with the names they and their friends love best.
          </p>
          <p class='career-5-p5'>
            <h3>TEAM MIIOON ARE BEHIND YOU 100% OF THE WAY</h3>
            Oreders are made and shipped within 48 hours, there is 24/7 customer service support on all other enquiries, your own miioon Angel website and online back-office, where you can manage your business, plus you are supported by Ginny the Miioon Angel.
          </p>
        </div>
        <div class='columns small-5'></div>
      </div>
      <p class='text-center'><a href='#' class='button'>BECOME A MIIOON ANGEL</a></p>
    </div>
  </div>
  <div class='columns medium-3'>
    <ul class='blue-block-navigation text-right'>
      <li><a href='#career-1' class='active'>BECOME A MIIOON ANGEL</a></li>
      <li><a href='#career-2'>HOW IT WORKS FOR YOU</a></li>
      <li><a href='#career-3'>WHAT IS MIIOON</a></li>
      <li><a href='#career-4'>OUR MISSION</a></li>
      <li><a href='#career-4'>THE OPPORTUNITY</a></li>
      <li><a href='#career-4'>TIPS AND FAQS</a></li>
    </ul>
  </div>
</div>