<div class="contact-me-popup">
  <form name="form">
    <div class="row title">
      <h6 class="small-12 text-left columns">
        CONTACT ME<br/><small>Please fill your more information below form, i will contact you.</small>
      </h6>
    </div>
     <div class="row">
      <div class="medium-6 end columns">
        <label class='required'>Subject</label>
        <input type='text' />
      </div>
    </div>
    <div class="row">
      <div class="medium-4 columns">
        <label class='required'>Name</label>
        <input type='text' />
      </div>
      <div class="medium-4 columns">
        <label class='required'>Phone</label>
        <input type='text' />
      </div>
      <div class="medium-4 columns">
        <label class='required'>Email</label>
        <input type='text' />
      </div>
    </div>
    <div class="row">
      <div class="medium-12 columns">
        <label class='required'>Message</label>
        <textarea rows='8'></textarea>
      </div>
    </div>
    <div class="row">
    <div class="columns medium-12">
      <button>Send Me</button>
    </div>
  </div>
  </form>
</div>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
