<div class="row">
  <div class="columns small-12">
    <div class="slider">
      <ul>
        <li>
          <a href="#">
            <img src="images/home/banner1.png"/>
          </a>
        </li>
        <li>
          <a href="#">
            <img src="images/home/banner2.png"/>
          </a>
        </li>
        <li>
          <a href="/#/signup">
            <img src="images/home/banner3.png"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row grid-promotions">
  <div class="columns small-4 first-promotion">
    <a href="#">
      <img src="images/home/mumprenuer.png" alt="Become a mumprenuer"/>
    </a>
  </div>
  <div class="columns small-8 second-promotion">
    <a href="#">
      <img src="images/home/ruckjack.png" alt="Ruckjack"/>
    </a>
  </div>
</div>
<div class="row grid-promotions">
  <div class="columns small-8 first-promotion">
    <a href="#">
      <img src="images/home/t-shirt.png" alt="T Shirt"/>
    </a>
  </div>
  <div class="columns small-4 second-promotion">
    <a href="#">
      <img src="images/home/title-brands.png" alt="Title Brands"/>
    </a>
  </div>
</div>
<div class="row grid-promotions">
  <div class="columns small-4 first-promotion">
    <a href="#">
      <img src="images/home/hoody.png" alt="Hoody"/>
    </a>
  </div>
  <div class="columns small-8 second-promotion">
    <a href="#">
      <img src="images/home/swooper-cape.png" alt="Swooper Cape"/>
    </a>
  </div>
</div>