<div class="row host-container">
  <div class="columns medium-9">
    <div class='blue-border-panel bottom-arrow text-center' id='host-1'>
      <h2 class='primary-color'>HOST <strong>A MIION MEET</strong></h2>
      <p class='large-font grey-darker-color'><strong>Friends will thank you for making their present buying for all those birthday parties easier<strong> and we’ll thank you with a useful & exclusive hostess gift.</p>
      <p><a href='#' class='button small'>CONNECT WITH AN MIIOON ANGEL</a></p>
      <div class='row'>
        <div class='columns small-4'>
          <img src='images/host/host-img-1.jpg' alt='Miion Host' />
          <p class='grey-darker-color'>Simply save the date and your Miioon Angel will send out cool invitations.</p>
        </div>
        <div class='columns small-4'>
          <img src='images/host/host-img-2.jpg' alt='Miion Host' />
          <p class='grey-darker-color'>Your Miioon Angel presents some of the thousands of design options on quality clothing with a difference. Something for kids of all ages 3-12 yrs.</p>
        </div>
        <div class='columns small-4'>
          <img src='images/host/host-img-3.jpg' alt='Miion Host' />
          <p class='grey-darker-color'>Shop for free with the miioon rewards you earn.</p>
        </div>
      </div>
    </div>
    <div class='grey-border-panel bottom-arrow text-center' id='host-2'>
      <h2 class='primary-color'>ARE YOU AN <strong>ORGANISATION OR CHARITY?</strong></h2>
      <p class='large-font grey-darker-color'><strong class='grey-color'>Fundraising via miioon will help you raise money for schools, clubs and charities<strong> <strong class='primary-color'>through the sale of fabulous gift cards</strong> that empower children to design their own T-shirts, Swoopercapes, the infamous Ruckjack®, Bags, hoodies and more.</p>
      <div>
          <img src='images/host/host-img-4.jpg' alt='Miion Host' />
          <h2><strong class='primary-color'>Receive 20% cash back</strong><br/><small><strong>for schools, clubs and charities Get in touch for more details.</strong></small></h2>
      </div>
    </div>
    <div class='blue-border-panel bottom-arrow text-center' id='host-4'>
      <h2 class='primary-color'><strong>FAQ'S</strong></h2>
    </div>
  </div>
  <div class='columns medium-3'>
    <ul class='blue-block-navigation text-right'>
      <li><a href='#host-1' class='active'>HOST A MIIOON MEET</a></li>
      <li><a href='#host-2'>ORGANISATIONS WANTING TO HOST</a></li>
      <!--<li><a href='#host-3'>REWARDS</a></li>-->
      <li><a href='#host-4'>FAQS</a></li>
    </ul>
  </div>
</div>