<nav class="main-navigation">
  <div class="row">
    <ul class="small-12 columns root-taxons" ng-controller="MainNavigationController">
      <li>
        <a href="/#/about">ABOUT US</a>
      </li>
      <li>
        <a href="/#/brand">BRANDS</a>
      </li>
      <li>
        <a href="/#/gift/gift-card">gift card</a>
      </li>
      <li ng-repeat="taxon in taxons | orderBy: position">
        <a href="{{taxon | taxonLink}}">
          {{taxon.name}}
        </a>
        <div class="sub-taxons-container" ng-if="taxon.id === 5">
          <div class="row">
            <ul class="sub-taxons columns small-6">
              <li ng-repeat="subTaxon in taxon['sub-taxons']">
                <a href="/#/taxon/{{taxon.id}}/sub-taxon/{{subTaxon.id}}">{{subTaxon.name}}</a>
              </li>
            </ul>
            <div class="sub-taxon-thumbnail columns small-6 text-center">
              <img src="images/taxon/taxon-thumbnail-clothing.png" alt="Clothing"/>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="/#/press">PRESS</a>
      </li>
      <li>
        <a onclick="$('.glossi-view').click();" href="javascript:void(0);">look book</a>
      </li>
      <li class="career-opportunity right">
        <a class="button" href="/#/career">CAREER OPPORTUNITY</a>
      </li>
    </ul>
  </div>
</nav>
