<header class="main-header row" ng-controller="HeaderController">
  <div class="row">
    <div class="columns medium-9">
      <ul class="header-links separator-slash" ng-if="!user.isLogin">
        <li>
          <a href="/#/signin">Sign In</a>
        </li>
        <li>
          <a href="/#/gift/gift-card">Gift</a>
        </li>
        <li>
          <a href="/#/host">Host</a>
        </li>
      </ul>
      <ul class="header-links separator-slash" ng-if="user.isLogin">
        <li>
          Welcome {{user.data.name}}
        </li>
        <li>
          <a href="/#/gift/gift-card">Gift</a>
        </li>
        <li>
          <a href="/#/host">Host</a>
        </li>
        <li>
          <a href="{{backOfficeUrl}}">BackOffice</a>
        </li>
        <li>
          <a href="/#/" ng-click="logout()">Logout</a>
        </li>
      </ul>
    </div>
    <div class="columns medium-3">
      <div class="shopping-bag right">
        <i class="icons-shopping-bag"></i>
        <a href="/#/shopping">
          Shopping Bag ({{shopping.items.length ? shopping.items.length : 0}} items)
        </a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-3 columns">
      <a href="#">
        <img src="images/kids-link.gif" alt="Kids this way"/>
      </a>
    </div>

    <div class="medium-6 end columns text-center">
      <a href="/#/" class="logo">
        <img alt="Miioon" src="images/logo.png">
      </a>
    </div>
  </div>
</header>