<header class="main-header row">
  <div class="small-3 columns">
    <ul class="header-links separator-slash">
      <li>
        <a href="/#/signin">Sign In</a>
      </li>
      <li>
        <a href="#">Gift</a>
      </li>
      <li>
        <a href="#">Host</a>
      </li>
    </ul>
    <a href="#">
      <img src="images/kids-link.gif" alt="Kids this way"/>
    </a>
  </div>

  <div class="small-6 columns text-center">
    <a href="/#/">
      <img alt="Miioon" src="images/logo.png">
    </a>
  </div>

  <div class="small-3 columns">
    <div class="shopping-bag right">
      <i class="icons-shopping-bag"></i>
      Shopping Bag (0 items)
    </div>
  </div>
</header>