<nav class="main-navigation">
  <div class="row">
    <ul class="small-12 columns">
      <li>
        <a href="/#/about">ABOUT US</a>
      </li>
      <li>
        <a href="#">BRANDS</a>
      </li>
      <li>
        <a href="#">GIFT CARD</a>
      </li>
      <li>
        <a href="#">CLOTHING</a>
      </li>
      <li>
        <a href="#">BAGS</a>
      </li>
      <li>
        <a href="#">ACCESSORIES</a>
      </li>
      <li>
        <a href="#">PRESS</a>
      </li>
      <li>
        <a href="#">LOOK BOOK</a>
      </li>
      <li class="career-opportunity right">
        <a class="button" href="#">CAREER OPPORTUNITY</a>
      </li>
    </ul>
  </div>
</nav>