<header class="main-header row" ng-controller="HeaderController">
  <div class="row">
    <div class="columns medium-9 small-7">
      <ul class="header-links separator-slash" ng-if="!user.isLogin">
        <li>
          <a href="/#/signin">Sign In</a>
        </li>
        <li>
          <a href="/#/gift/gift-card">Gift</a>
        </li>
        <li>
          <a href="/#/host">Host</a>
        </li>
      </ul>
      <ul class="header-links separator-slash" ng-if="user.isLogin">
        <li>
          Welcome {{user.data.name}}
        </li>
        <li>
          <a href="/#/gift/gift-card">Gift</a>
        </li>
        <li>
          <a href="/#/host">Host</a>
        </li>
        <li>
          <a href="{{backOfficeUrl}}">BackOffice</a>
        </li>
        <li>
          <a ng-click="logout()">Logout</a>
        </li>
      </ul>
    </div>
    <div class="columns medium-3 small-5">
      <div class="shopping-bag right">
        <i class="icons-shopping-bag"></i>
        <a href="/#/shopping" ng-if="shopping.items.length > 0">
          Shopping Bag ({{shopping.items.length}})
        </a>
        <span ng-if="shopping.items.length === 0">
          Shopping Bag (0)
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-3 show-for-medium-up columns">
      <a href="https://miioon.com">
        <img src="images/kids-link.gif" alt="Kids this way"/>
      </a>
    </div>
    <div class="medium-9 show-for-medium-up end columns">
      <a href="/#/" class="logo">
        <img alt="Miioon" src="images/logo.png">
      </a>
    </div>
    <div class="small-12 show-for-small-only end columns text-center">
      <a href="/#/" class="logo">
        <img alt="Miioon" src="images/logo.png">
      </a>
    </div>
  </div>
</header>
