<div class="row">
  <div class="columns small-12 text-center">
    <img src="images/press/press-banner.jpg" alt='Press' />
    <br/><br/><br/>
    <p class='large-font'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula tincidunt elit, quis suscipit massa pretium quis. Nunc rhoncus nulla dolor, id malesuada sem suscripit vel. Duis arcu ante, cursus eu tristique at, placerat et lorem.</p>
    <br/>
  </div>
</div>
<div class='row press-container'>
  <div class='columns medium-4 text-center'>
    <a href data='1' ng-click='showPopup($event.target)' title='Magazine - Moshi Monster Swoopercape Competition!'><img data='1' src="images/press/press-1.jpg" alt="Magazine - Moshi Monster Swoopercape Competition!" /></a>
  </div>
  <div class='columns medium-4 text-center'>
    <a href data='2' ng-click='showPopup($event.target)' title="Moshi Monster Magazine December's issue"><img data='2' src="images/press/press-2.jpg" alt="Moshi Monster Magazine December's issue" /></a>
  </div>
  <div class='columns medium-4 text-center'>
    <a href data='3' ng-click='showPopup($event.target)' title='Cambridge News'><img data='3' src="images/press/press-3.jpg" alt="Cambridge News" /></a>
  </div>
  <div class='columns medium-4 text-center'>
    <a href data='4' ng-click='showPopup($event.target)' title='TV advert that is shown on Nickelodean'><img data='4' src="images/press/press-4.jpg" alt="TV advert that is shown on Nickelodean" /></a>
  </div>
  <div class='columns medium-4 text-center'>
    <a href data='5' ng-click='showPopup($event.target)' title='SEW magazine'><img data='5' src="images/press/press-5.jpg" alt="SEW magazine" /></a>
  </div>
  <div class='columns medium-4 text-center'>
    <a href data='6' ng-click='showPopup($event.target)' title='Practical Parenting Magazine'><img data='6' src="images/press/press-6.jpg" alt="Practical Parenting Magazine" /></a>
  </div>
  
  <div id="myModal" class="reveal-modal small" ng-hide="isPopupHide"><p class="lead text-center"><img ng-src={{pressImagesBig}} /></p> <a class="close-reveal-modal" ng-click='hidePopup()'>&#215;</a> </div>
  <div class="reveal-modal-bg" ng-hide="isPopupHide" ng-click='hidePopup()'></div>

</div>
