<div class="row">
  <div class="columns small-12 text-center">
    <img src="../images/press/press-banner.jpg" alt='Press' />
    <p class='large-font'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vehicula tincidunt elit, quis suscipit massa pretium quis. Nunc rhoncus nulla dolor, id malesuada sem suscripit vel. Duis arcu ante, cursus eu tristique at, placerat et lorem.</p>
  </div>
</div>
<div class='row'>
  <div class='columns medium-4 text-center'>
    <a href='#' title='Magazine - Moshi Monster Swoopercape Competition!'><img src="images/press/press-1.jpg" alt="Magazine - Moshi Monster Swoopercape Competition!" /></a>
  </div>
  <div class='columns medium-4 text-center'>
    <a href='#' title="Moshi Monster Magazine December's issue"><img src="images/press/press-2.jpg" alt="Moshi Monster Magazine December's issue" /></a>
  </div>
  <div class='columns medium-4 text-center'>
    <a href='#' title='Cambridge News'><img src="images/press/press-3.jpg" alt="Cambridge News" /></a>
  </div>
  <div class='columns medium-4 text-center'>
    <a href='#' title='TV advert that is shown on Nickelodean'><img src="images/press/press-4.jpg" alt="TV advert that is shown on Nickelodean" /></a>
  </div>
  <div class='columns medium-4 text-center'>
    <a href='#' title='SEW magazine'><img src="images/press/press-5.jpg" alt="SEW magazine" /></a>
  </div>
  <div class='columns medium-4 text-center'>
    <a href='#' title='Practical Parenting Magazine'><img src="images/press/press-6.jpg" alt="Practical Parenting Magazine" /></a>
  </div>
</div>
