<div class="row">
  <div class="columns medium-12 text-content">
    <h3>
      Cutting Edge Technology
    </h3>
    <p>
      <b>
        Digital Direct Printing
      </b>
    </p>
    <ul>
      <li>
        Digital Direct works well with large designs, the colors will fade over time for that desired "vintage" look.
      </li>
      <li>
        We believe (after rigorous testing) that digital is the best quality look on light colours.
      </li>
    </ul>
    <p>
      <b>
        Digital Transfer Printing
      </b>
    </p>
    <ul>
      <li>
        Creating a true picture image as if you were there.
      </li>
      <li>
        Best on strong colours.
      </li>
    </ul>
    <p>
      <b>
        Wash me when I whiff
      </b>
    </p>
    <p>
      Digital designs can be preserved very well for 1-2 years if the recommended care instructions are followed.
    </p>
    <ul>
      <li>
        T-shirts should be washed inside out and set on a gentle machine cycle in cold water at 30 degrees.
      </li>
      <li>
        To avoid any form of fading, drying is not recommended.
      </li>
      <li>
        Lay flat to dry.
      </li>
      <li>
        Dry cleaning is not recommended.
      </li>
    </ul>
  </div>
</div>