<form class="sign-up" name="step" novalidate>
  <div class="row">
    <h2 class="columns small-9">
      CREATE A CUSTOMER ACCOUNT
    </h2>
  </div>
  <div class="row">
    <p class="register-customer small-12 columns medium-font">
      Do you just want to shop? <a class="primary-link" href="#">Register as a customer</a>
    </p>
  </div>

  <div class="row">
    <h6 class="small-12 columns">
      PERSONAL DETAILS
    </h6>
  </div>

  <div class="row">
    <p class="small-12 columns medium-font">
      Enter your email address and password to create your account.
    </p>
  </div>

  <!-- sponsor id -->
  <div class="row">

    <div class="small-3 columns">
      <label class="right inline" for="sponsor">Sponsor ID</label>
    </div>

    <div class="small-5 columns">
      <input type="text" required
             id="sponsor" name="sponsor"/>
    </div>

    <div class="small-4 columns input-description unimportant-text" ng-show="false">
      Sponsor Name:
    </div>

  </div>

  <!-- Login -->
  <div class="row">

    <div class="small-3 columns">
      <label class="right inline required" for="login">Login</label>
    </div>

    <div class="small-5 columns">
      <input type="text" required
             id="login" name="login"/>
    </div>

    <div class="small-4 columns input-description unimportant-text" ng-show="false">
      Sponsor Name:
    </div>

  </div>


  <!-- Email Address -->
  <div class="row">

    <div class="small-3 columns">
      <label class="right inline required" for="email">Email Address</label>
    </div>

    <div class="small-5 columns">
      <input type="email" required
             id="email" name="email"/>
    </div>

    <div class="small-4 columns input-description unimportant-text" ng-show="false">
      Sponsor Name:
    </div>

  </div>

  <!-- Password -->
  <div class="row">

    <div class="small-3 columns">
      <label class="right inline required" for="password">Password</label>
    </div>

    <div class="small-5 columns">
      <input type="password" required
             id="password" name="password"/>
    </div>

    <div class="small-4 columns input-description unimportant-text" ng-show="false">
      Sponsor Name:
    </div>

  </div>


  <!-- Confirm Password -->
  <div class="row">

    <div class="small-3 columns">
      <label class="right inline required" for="confirm-password">Confirm Password</label>
    </div>

    <div class="small-5 columns">
      <input type="password" required
             id="confirm-password" name="password"/>
    </div>

    <div class="small-4 columns input-description unimportant-text" ng-show="false">
      Sponsor Name:
    </div>

  </div>


  <div class="row">
    <h6 class="small-12 columns">
      SHIPPING DETAILS
    </h6>
  </div>

  <div class="row">
    <p class="small-12 columns medium-font">
      Enter the name and address you'd like us to ship your order to
    </p>
  </div>


  <!-- First name -->
  <div class="row">

    <div class="small-3 columns">
      <label class="right inline required" for="first-name">First Name</label>
    </div>

    <div class="small-5 columns">
      <input type="text" required
             id="first-name" name="first-name"/>
    </div>

    <div class="small-4 columns input-description unimportant-text" ng-show="false">
      Sponsor Name:
    </div>

  </div>


  <!-- Last Name -->
  <div class="row">

    <div class="small-3 columns">
      <label class="right inline required" for="last-name">Last Name</label>
    </div>

    <div class="small-5 columns">
      <input type="text" required
             id="last-name" name="last-name"/>
    </div>

    <div class="small-4 columns input-description unimportant-text" ng-show="false">
      Sponsor Name:
    </div>

  </div>

  <!-- Phone Number -->
  <div class="row">

    <div class="small-3 columns">
      <label class="right inline required" for="phone-number">Phone Number</label>
    </div>

    <div class="small-5 columns">
      <input type="text" required
             id="phone-number" name="phone-number"/>
    </div>

    <div class="small-4 columns input-description unimportant-text" ng-show="false">
      Sponsor Name:
    </div>

  </div>


  <!-- Address Line 1 -->
  <div class="row">

    <div class="small-3 columns">
      <label class="right inline required" for="address-line-1">Address Line 1</label>
    </div>

    <div class="small-5 columns">
      <input type="text" required
             id="address-line-1" name="address-line-1"/>
    </div>

    <div class="small-4 columns input-description unimportant-text" ng-show="false">
      Sponsor Name:
    </div>

  </div>


  <!-- Address Line 2 -->
  <div class="row">

    <div class="small-3 columns">
      <label class="right inline required" for="address-line-2">Address Line 2</label>
    </div>

    <div class="small-5 columns">
      <input type="text" required
             id="address-line-2" name="address-line-2"/>
    </div>

    <div class="small-4 columns input-description unimportant-text" ng-show="false">
      Sponsor Name:
    </div>

  </div>


  <!-- Suburb/City -->
  <div class="row">

    <div class="small-3 columns">
      <label class="right inline required" for="city">Suburb/City</label>
    </div>

    <div class="small-5 columns">
      <input type="text" required
             id="city" name="city"/>
    </div>

    <div class="small-4 columns input-description unimportant-text" ng-show="false">
      Sponsor Name:
    </div>

  </div>

  <!-- Country -->
  <div class="row">
    <div class="small-3 columns">
      <label class="right inline required" for="country">Country</label>
    </div>
    <div class="small-5 end columns">
      <select required
              name="country"
              id="country"
              ng-model="country"
              ng-options="country.name for country in countries | orderBy:'name'"
              >
      </select>
    </div>
  </div>

  <!-- State -->
  <div class="row">
    <div class="small-3 columns">
      <label class="right inline required" for="state">State</label>
    </div>
    <div class="small-5 end columns">
      <select required
              name="state"
              id="state"
              ng-model="state"
              ng-options="state.name for state in country.states | orderBy:'name'"
              >
      </select>
    </div>
  </div>

  <!-- Zip/Post code -->
  <div class="row">

    <div class="small-3 columns">
      <label class="right inline required" for="post-code">Zip/Post code</label>
    </div>

    <div class="small-5 columns">
      <input type="text" required
             id="post-code" name="address-line-2"/>
    </div>

    <div class="small-4 columns input-description unimportant-text" ng-show="false">
      Sponsor Name:
    </div>

  </div>


  <div class="row">
    <div class="columns small-9 small-offset-3">
      <button>CREATE MY ACCOUNT</button>
    </div>
  </div>
</form>