<div class="row">
  <div class="columns medium-12">
    <h2 class="shopping-title">
      Your Shopping Cart
    </h2>
  </div>
</div>
<div class="row">
  <div class="columns medium-12">
    <table class="shopping-table">
      <thead>
      <tr>
        <th class="text-left">
          CART ITEMS
        </th>
        <th>
          QTY
        </th>
        <th>
          ITEM PRICE
        </th>
        <th>
          ITEM TOTAL
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="cart-item text-left">
          <img src="images/shopping-product.png" alt="Product"/>
          <div class="product-name">
            Navy Blue Animaru Ruckjack
          </div>
          <div class="product-sku">
            SKU: Oct6706-Animaru-Blue-RJ
          </div>
          <a href="#" class="primary-color small-font">x Remove</a>
        </td>
        <td class="quantity">
          <input type="number"/> <br/>
          <a href="#">Update</a>
        </td>
        <td>
          £29.00
        </td>
        <td>
          £29.00
        </td>
      </tr>
      <tr>
        <td class="cart-item text-left">
          <img src="images/shopping-product.png" alt="Product"/>
          <div class="product-name">
            Navy Blue Animaru Ruckjack
          </div>
          <div class="product-sku">
            SKU: Oct6706-Animaru-Blue-RJ
          </div>
          <a href="#" class="primary-color small-font">x Remove</a>
        </td>
        <td class="quantity">
          <input type="number"/> <br/>
          <a href="#">Update</a>
        </td>
        <td>
          £29.00
        </td>
        <td>
          £29.00
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="3">
          Grand Total:
        </td>
        <td class="primary-color">
          £58.00
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="row">
  <div class="columns medium-3">
    <button class="attenuate">REMOVE ORDER</button>
  </div>
  <div class="columns medium-9">
    <button class="right">
      CHECK OUT
    </button>

    <button class="right attenuate">
      CONTINUE SHOPPING
    </button>
  </div>
</div>