<div class="row">
  <div class="columns medium-12">
    <h2 class="shopping-title">
      Your Shopping Cart
    </h2>
  </div>
</div>
<div class="row">
  <div class="columns medium-12">
    <table class="shopping-table">
      <thead>
      <tr>
        <th class="text-left">
          CART ITEMS
        </th>
        <th>
          QTY
        </th>
        <th>
          ITEM PRICE
        </th>
        <th>
          ITEM TOTAL
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="variant in variants.data | orderBy: id">
        <td class="cart-item text-left">
          <img src="{{variant.images[0]}}" alt="{{variant.name}}"/>
          <a ng-href="/#/product/{{variant['product-id']}}" class="product-name">
            {{variant.name}}
          </a>
          <div class="product-sku">
            SKU: {{variant.sku}}
          </div>
          <a ng-click="remove(variant)" class="primary-color small-font">x Remove</a>
        </td>
        <td class="quantity">
          <input type="number" ng-model="shopping.getByItemId(variant.id).quantity"/> <br/>
          <a ng-click="update()">Update</a>
        </td>
        <td>
          £{{variant.price}}
        </td>
        <td>
          £{{variant.price * shopping.getByItemId(variant['id']).quantity}}
        </td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="3">
          Grand Total:
        </td>
        <td class="primary-color">
          £{{GrandTotal()}}
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="row">
  <div class="columns medium-3">
    <button class="attenuate">REMOVE ORDER</button>
  </div>
  <div class="columns medium-9">
    <button class="right">
      CHECK OUT
    </button>

    <button class="right attenuate">
      CONTINUE SHOPPING
    </button>
  </div>
</div>