<div class="row text-content">
  <div class="columns medium-12">
    <h3>Terms and Conditions</h3>
    <p>
      This page (together with the documents expressly referred to on it, including our Privacy Policy, Terms of Website Use and Website Acceptable Use Policy) tells you information about us and the legal terms and conditions (“Terms”) on which we sell any of the products (“Products”) listed on our website (“our site”) to you.
    </p>
    <p>
      These Terms will apply to any contract between us for the sale of Products to you (“Contract”). Please read these Terms carefully and make sure that you understand them, before ordering any Products from our site. Please note that by ordering any of our Products, you agree to be bound by these Terms and the other documents expressly referred to in it.
    </p>
    <p>
      You should print a copy of these Terms or save them to your computer for future reference.
    </p>
    <p>
      We amend these Terms from time to time as set out in clause 7. Every time you wish to order Products or otherwise use our site, please check these Terms to ensure you understand the terms which will apply at that time. These Terms were most recently updated on 26 November 2012.
    </p>
    <p>
      These Terms, and any Contract between us, are only in the English language.
    </p>
    <ol class="long-order-list">
      <li>
        <b>1. Information about us</b>
        <ol>
          <li>
            1.1 We operate the website www.miioon.com. We are Sunday Studio Trading Limited, a company registered in England under company number 07404323 and with our registered office at Upton House Baldock Street, Royston, Hertfordshire, SG8 5AY. We trade under the name “Miioon” and our main trading address is 64 Orchard Road, Melbourn, Royston, Hertfordshire, SG8 6BB.
          </li>
          <li>
            1.2 To contact us, please see our Contact Us page.
          </li>
        </ol>
      </li>
      <li>
        <b>2. Placing an order</b>
        <ol>
          <li>
            2.1 You can purchase our Products by proceeding through our checkout pages.
          </li>
          <li>
            2.2 For your and your child’s security, we shall provide you with an individual password for accessing the membership areas of the site (“Password”) and each use by you of your Password shall constitute acceptance by you of the then current terms and conditions of this Contract. Your Password is personal to you and may not be transferred to or used by another party or your child. Notwithstanding the actual identity of a user, any use of your Password to access our site shall constitute use of the site by you.
          </li>
          <li>
            2.3 Our order process allows you to check and amend any errors before submitting your order to us. Please take the time to read and check your order at each stage of the order process.
          </li>
          <li>
            2.4 After you place an order, you will receive an email from us acknowledging that we have received your order. However, please note that this does not mean that your order has been accepted. Our acceptance of your order will take place as described in clause 2.5.
          </li>
          <li>
            2.5 We will confirm our acceptance to you by sending you an email (“Confirmation Email”). The Contract between us will only be formed when we send you the Confirmation Email.
          </li>
          <li>
            2.6 If we are unable to supply you with a Product, for example because that Product is not in stock or no longer available or because of an error in the price on our site as referred to in clause 10.5, we will inform you of this by email and we will not process your order. If you have already paid for the Products, we will refund you the full amount as soon as possible.
          </li>
        </ol>
      </li>
      <li>
        <b>3. Our Products</b>
        <ol>
          <li>
            3.1 The images of the Products on our site are for illustrative purposes only. Although we have made every effort to display the colours accurately, we cannot guarantee that your computer's display of the colours accurately reflect the colour of the Products. Your Products may vary slightly from those images.
          </li>
          <li>
            3.2 We make the Products according to the measurements you provide us, if applicable.
          </li>
          <li>
            3.3 Please make sure your measurements are correct and accurate. Unfortunately, we cannot accept the return of the Products if the reason for the return is because you provided us with incorrect measurements. However, this will not affect your legal rights as a consumer in relation to Products that are faulty or not as described. Advice about your legal rights is available at your local Citizen's Advice Bureau or Trading Standards office.
          </li>
          <li>
            3.4 All Products shown on our site are subject to availability. We will inform you by email as soon as possible if the Product you have ordered is not available and we will not process your order.
          </li>
          <li>
            3.5 We guarantee that on delivery and for a period of 3 months from delivery, the Products shall be free from material defects. However, this guarantee does not apply in the circumstances described in clause 3.6.
          </li>
          <li>
            3.6 This guarantee does not apply to any defect in the Products arising from:
            <ol>
              <li>
                (a) fair wear and tear;
              </li>
              <li>
                (b) wilful damage, abnormal storage or working conditions, accident, negligence by you or by any third party;
              </li>
              <li>
                (c) if you fail to use or maintain the Products in accordance with the user instructions;
              </li>
              <li>
                (d) any alteration or repair by you or by a third party; and
              </li>
              <li>
                (e) any specification provided by you.
              </li>
            </ol>
          </li>
          <li>
            3.7 This guarantee is in addition to your legal rights in relation to the Products that are faulty or not as described. Advice about your legal rights is available from your local Citizens' Advice Bureau or Trading Standards office.
          </li>
        </ol>
      </li>
      <li>
        <b>4. Use of our site</b>
        Your use of our site is governed by our Terms of website use and Website Acceptable Use Policy. Please take the time to read these, as they include important terms which apply to you.
      </li>
      <li>
        <b>5. How we use your personal information</b>
        We only use your personal information in accordance our Privacy Policy. Please take the time to read these, as they include important terms which apply to you.
      </li>
    </ol>
  </div>
</div>