<div class="address-panel" data-ng-form name="addressForm">
  <div class='row'>
    <div class='medium-12 columns'>

      <h3 ng-if="!homeAddress">{{ title }} Address</h3>
      <h3 ng-if="homeAddress">{{ title }} Address <label class='right'>
        <input type='checkbox' ng-click="useHomeAddress()"/> Use Home Address</label>
      </h3>

    </div>
  </div>

  <div address-field
       data-label="First Name"
       data-address-type="addressType"
       data-name="firstName"
       >
    <input type="text"
           required
           id="{{addressType}}-firstName"
           name="firstName"
           ng-model="address.firstName"/>
    <small ng-show="submitted && addressForm.firstName.$error.required" class="error">
      This field is required.
    </small>
  </div>

  <div address-field
       data-label="Middle Initial"
       data-address-type="addressType"
       data-name="middleName"
          >
    <input type="text"
           required
           id="{{addressType}}-middleName"
           name="middleName"
           ng-model="address.middleName"
           />
    <small ng-show="submitted && addressForm.middleName.$error.required" class="error">
      This field is required.
    </small>
  </div>

  <div address-field
       data-label="Last Name"
       data-address-type="addressType"
       data-name="lastName"
       >
      <input type="text"
             required
             id="{{addressType}}-lastName"
             name="lastName"
             ng-model="address.lastName"
             >
      <small ng-show="submitted && addressForm.lastName.$error.required" class="error">
        This field is required.
      </small>
      <small class="error" ng-show="address.errors.lastName">
        {{ address.errors.lastName }}
      </small>
  </div>

  <div address-field
       data-label="Address Line 1"
       data-address-type="addressType"
       data-name="addressLineOne"
       >
    <input type="text" required
           id="{{addressType}}-addressLineOne"
           name="addressLineOne"
           ng-model="address.street"/>
    <small ng-show="submitted && addressForm.addressLineOne.$error.required" class="error">
      This field is required.
    </small>
    <small ng-show="submitted && address.errors.InvalidStreet">
      {{ address.errors.street }}
    </small>
  </div>

  <div address-field
       data-label="Address Line 2"
       data-address-type="addressType"
       data-name="addressLineTwo"
       >
    <input type="text"
           id="{{addressType}}-addressLineTwo"
           name="addressLineTwo"
           ng-model="address.streetCont"/>
  </div>

  <div address-field
       data-label="City"
       data-address-type="addressType"
       data-name="city"
          >
    <input type="text" required
           id="{{addressType}}-city"
           name="city"
           ng-model="address.city"/>
    <small ng-show="submitted && addressForm.city.$error.required" class="error">
      This field is required.
    </small>
  </div>

  <div address-field
       data-label="Country"
       data-address-type="addressType"
       data-name="country"
          >
    <select required id="{{addressType}}-AddrCountry"
            name="addrCountry"
            ng-model="address.country"
            ng-options="country as country.name for country in countries | orderBy:'name'"
            ng-change=""></select>
    <small ng-show="form.addrCountry.$error.required" class="error">
      This field is required.
    </small>
    <small class="error" ng-show="address.errors.country">
      {{ address.errors.country }}
    </small>
  </div>

  <div address-field
       data-label="State"
       data-address-type="addressType"
       data-name="state"
       ng-if="address.country"
       >
    <select id="{{addressType}}-AddrState"
            name="addrState"
            ng-model="address.state"
            ng-options="state as state.name for state in address.country.states | orderBy:'name'">
    </select>

    <small ng-show="form.addrState.$error.required" class="error">
      This field is required.
    </small>
    <small class="error" ng-show="address.errors.state">
      {{ address.errors.state }}
    </small>
  </div>

  <div address-field
       data-label="Zip"
       data-address-type="addressType"
       data-name="zip"
       >
    <input type="text" id="{{addressType}}-AddrZip" name="addrZip" ng-model="address.zip"
           placeholder="click to edit ... ">
    <small ng-show="form.addrZip.$error.required" class="error">
      This field is required.
    </small>
    <small class="error" ng-show="address.errors.zip">
      {{ address.errors.zip }}
    </small>
  </div>

  <div address-field
       data-label="Phone"
       data-address-type="addressType"
       data-name="phone"
       >
    <input type="text"
           id="{{addressType}}-AddrHomePhone"
           name="addrHomePhone"
           ng-model="address.phone"
           placeholder="click to edit ... ">
    <small class="error" ng-show="address.errors.phone">
      {{ address.errors.phone }}
    </small>
  </div>


</div>

