<div class="address-panel" data-ng-form name="addressForm">
  <div class='row'>
    <div class='medium-12 columns'>

      <h3 ng-if="!homeAddress">{{ title }} Address</h3>
      <h3 ng-if="homeAddress">{{ title }} Address <label class='right'>
        <input type='checkbox' /> Use Home Address</label>
      </h3>

    </div>
  </div>

  <div address-field
       data-label="First Name"
       data-address-type="addressType"
       data-name="firstName"
          >
    <input type="text"
           required
           id="{{addressType}}-firstName"
           name="firstName"
           ng-model="address.firstName"/>
    <small ng-show="submitted && addressForm.firstName.$error.required" class="error">
      This field is required.
    </small>
  </div>

  <div address-field
       data-label="Middle Initial"
       data-address-type="addressType"
       data-name="middleName"
          >
    <input type="text"
           required
           id="{{addressType}}-middleName"
           name="middleName"
           ng-model="address.middleName"
            />
    <small ng-show="submitted && addressForm.middleName.$error.required" class="error">
      This field is required.
    </small>
  </div>

  <div address-field
       data-label="Last Name"
       data-address-type="addressType"
       data-name="lastName"
          >
    <input type="text"
           required
           id="{{addressType}}-lastName"
           name="lastName"
           ng-model="address.lastName"
           >
    <small ng-show="submitted && addressForm.lastName.$error.required" class="error">
      This field is required.
    </small>
    <small class="error" ng-show="address.errors.lastName">
      {{ address.errors.lastName }}
    </small>
  </div>


  <div address-field
       data-label="Phone"
       data-address-type="addressType"
       data-name="phone"
          >
    <input type="text"
           id="{{addressType}}-phone"
           name="addrHomePhone"
           ng-model="address.phone"
           >
    <small class="error" ng-show="address.errors.phone">
      {{ address.errors.phone }}
    </small>
  </div>


  <div address-field
       data-label="Email"
       data-address-type="addressType"
       data-name="email"
          >
    <input type="email"
           id="{{addressType}}-email"
           name="addrHomePhone"
           ng-model="address.phone"
           >
    <small class="error" ng-show="address.errors.phone">
      {{ address.errors.phone }}
    </small>
  </div>


</div>

