.contact-container {
  h2{
    margin:30px 0;
  }
  p{
    margin-bottom: rem-calc(50)
  }
  .icons-location,.icons-phone,.icons-email{
    vertical-align: bottom;
  }
  a,a:hover{
    text-decoration: underline;
    color:$primary-color;
  }
}
