a:hover {
  text-decoration: underline;
}

a.button:hover {
  text-decoration: none;
}

.primary-link {
  color: $primary-color;
}

body {
  min-width: 480px;
}

ol,
ul {
  margin: 0;
  list-style: none;
}

.separator-slash,
.separator-vertical-line {
  li {
    &:first-child:before {
      display: none;
    }

    &:before {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}

.separator-slash {
  li {
    &:before {
      content: "/";
    }
  }
}

.separator-vertical-line {
  li {
    &:before {
      content: "|";
    }
  }
}

.important-text {
  color: $red;
}

.unimportant-text {
  color: $grey-dark;
}

.small-font {
  font-size: $small-font-size;
}

.large-font {
  font-size: $large-font-size;

  b {
    font-size: rem-calc(24);
  }
}

.medium-font {
  font-size: $medium-font-size;
}

.base-font {
  font-size: $base-font-size;
}

.default-cursor {
  cursor: auto;
}

.primary-color{
  color: $primary-color;
}
.grey-darker-color{
  color: $grey-darker;
}























