a:hover {
  text-decoration: underline;
}

a.button:hover {
  text-decoration: none;
}

.primary-link {
  color: $primary-color;
}

body {
  min-width: 1000px;
}

ol,
ul {
  margin: 0;
  list-style: none;
}

.separator-slash,
.separator-vertical-line {
  li {
    &:first-child:before {
      display: none;
    }

    &:before {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}

.separator-slash {
  li {
    &:before {
      content: "/";
    }
  }
}

.separator-vertical-line {
  li {
    &:before {
      content: "|";
    }
  }
}

.important-text {
  color: $red;
}

.unimportant-text {
  color: $grey-dark;
}

.large-font {
  font-size: $large-font-size;

  b {
    font-size: rem-calc(24);
  }
}

.medium-font {
  font-size: $medium-font-size;
}

.base-font {
  font-size: $base-font-size;
}

.default-cursor {
  cursor: auto;
}


// 2014.04.04 for host page (Ron)
.primary-color{
  color: $primary-color;
}
.grey-darker-color{
  color: $grey-darker;
}

.blue-border-panel{
  border:2px solid $primary-color;
  padding:10px;
  margin-bottom: 25px;
  &.bottom-arrow{
    &:before{
      border-top-color:$primary-color;
    }
  }
}

.grey-border-panel{
  border:2px solid $grey-darker;
  padding:10px;
  margin-bottom: 25px;
}

.bottom-arrow{
  position: relative;
  &:before{
    position: absolute;
    left:50%;
    bottom:-20px;
    z-index: 8;
    content:'';
    width: 0; 
    height: 0;
    margin-left:-10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $grey-darker;
  }
  &:after{
    position: absolute;
    left:50%;
    bottom:-17px;
    z-index: 9;
    content:'';
    margin-left:-8px;
    width: 0; 
    height: 0; 
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid #fff;
  } 
}

.blue-block-navigation{
  li{
    margin-bottom: 5px;
    a{
      display: block;
      padding:5px 10px;
      &:hover,&.active{
        color:#fff;
        background: $primary-color;
        text-decoration: none;
      }
    }
  }
}






















