@import "icons/*.png";
@include all-icons-sprites;

.icons-shopping-bag {
  padding-right: 18px;
  margin-right: 8px;
}
.icons-mess {
  padding-right: 25px;
  margin-right: 8px;
}
.icons-truck {
  display: inline-block;
  width:38px;
  height: 19px;
}
.icons-clock {
  display: inline-block;
  width:20px;
  height: 19px;
}
.icons-return-arrow {
  display: inline-block;
  width:25px;
  height: 19px;
}
.icons-clock {
  display: inline-block;
  width:20px;
  height: 19px;
}
.icons-location {
  display: inline-block;
  width:21px;
  height: 21px;
  margin-right: 8px;
}
.icons-phone {
  display: inline-block;
  width:21px;
  height: 21px;
  margin-right: 8px;
}
