.main-header {
  padding-top: 15px;
  padding-bottom: 20px;

  .header-links {
    color: $grey-dark;
    margin-bottom: 30px;
    font-size: rem-calc(16);
    @include clearfix;

    li {
      float: left;

      a {
        color: $grey-dark;

        &:hover {
          color: black;
        }
      }
    }
  }

  .shopping-bag {
    font-size: rem-calc(14);
  }
}