.main-navigation {
  border-top: 5px solid $grey-border;
  border-bottom: 1px solid $grey-border;

  a {
    text-transform: uppercase;
  }

  .sub-taxons-container {
    display: none;
    position: absolute;
    z-index: 1;
    width: 400px;
    border: 1px solid $grey;
    border-radius: 10px;
    background: white;

    &:before {
      background: $grey-lighter;
      content: "";
      display: block;
      height: 15px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .row {
      padding: 20px 30px 50px 30px;
    }

    .sub-taxon-thumbnail {
      border-left: 1px solid $grey-border;
    }

    .sub-taxons {
      li {
        padding-bottom: 15px;
      }
    }
  }

  .root-taxons {
    >li {
      float: left;
      margin-right: 5px;

      &:hover {
        .sub-taxons-container {
          display: block;
        }
      }

      &.career-opportunity {
        margin-right: 0;

        a {
          padding: 15px 15px;
          margin-top: 8px;
        }

        .button {
          margin-bottom: 0;
          color: white;
        }
      }

      &:first-child {
        >a {
          padding-left: 0px;
        }
      }

      >a {
        font-size: $medium-font-size;
        padding: 20px 6px;
        display: block;
      }
    }
  }
}