.press-container {
  .columns{
    margin-bottom: rem-calc(20);
  }
}

.blue-border-panel{
  border:2px solid $primary-color;
  padding:10px;
  margin-bottom: 25px;
  &.bottom-arrow{
    &:before{
      border-top-color:$primary-color;
    }
  }
}

.grey-border-panel{
  border:2px solid $grey-darker;
  padding:10px;
  margin-bottom: 25px;
}

.bottom-arrow{
  position: relative;
  &:before{
    position: absolute;
    left:50%;
    bottom:-20px;
    z-index: 8;
    content:'';
    width: 0; 
    height: 0;
    margin-left:-10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $grey-darker;
  }
  &:after{
    position: absolute;
    left:50%;
    bottom:-17px;
    z-index: 9;
    content:'';
    margin-left:-8px;
    width: 0; 
    height: 0; 
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid #fff;
  } 
}

.blue-block-navigation{
  li{
    margin-bottom: 5px;
    a{
      display: block;
      padding:5px 10px;
      &:hover,&.active{
        color:#fff;
        background: $primary-color;
        text-decoration: none;
      }
    }
  }
}
