.press-container {
  .columns{
    margin-bottom: rem-calc(20);
  }
  .reveal-modal{
  	display:block;
  	visibility:visible;
  	position: fixed;
  	top:20px;
  	img{
  		width:100%;
  	}
  	&.small{
  		width:38%;
  	}
  }
  .reveal-modal-bg{
  	display: block;
  }
}
