.shopping-title {
  border-bottom: $grey-border dotted 1px;
  padding: 20px 0;
  margin-bottom: 25px;
}

.shopping-table {
  width: 100%;

  thead,
  tfoot {
    background: white;
  }

  thead {
    th {
      font-size: $medium-font-size;
      font-weight: normal;
    }
  }

  tfoot {
    td {
      border-bottom: 0;
    }
  }

  td, th {
    padding: 20px 0;
    text-align: right;
    border-bottom: $grey-border dotted 1px;
  }

  td {
    vertical-align: top;
  }

  .quantity {
    input {
      width: 62px;
      display: inline;
    }
  }

  .cart-item {
    img {
      float: left;
      margin-right: 25px;
      width: 140px;
    }

    .product-name {
      color: $primary-color;
      text-transform: uppercase;
      margin-bottom: 20px;
    }

    .item-info {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}