.sign-up {
  h6 {
    color: $primary-color;
  }

  .register-customer {
    color: $grey-dark;
  }

  label[for=is-agreed] {
    color: $base-font-color;
  }

  #term-condition {
    height: auto;
    line-height: 20px;
    color: $grey-dark;
  }

  .personal-website-info {
    padding-right: 50px;

    b {
      font-size: rem-calc(22);
    }
  }

  .date-description,
  .quickdate {
    float: left;
  }

  .date-description {
    margin-top: 16px;
    margin-left: 12px;
    display: block;
  }
}