.sign-up {
  h6 {
    color: $primary-color;
  }

  .register-customer {
    color: $grey-dark;
    font-size: $medium-font-size;
  }

  label[for=is-agreed] {
    color: $base-font-color;
  }

  #term-condition {
    height: auto;
    line-height: 20px;
    color: $grey-dark;
  }
}