.sign-up {
  h6 {
    color: $primary-color;
  }

  .sign-up-success {
    p {
      font-size: $medium-font-size;
    }

    .title {
      margin-top: 20px;
    }
  }

  .register-customer {
    color: $grey-dark;
  }

  label[for=is-agreed] {
    color: $base-font-color;
  }

  #term-condition {
    height: auto;
    line-height: 20px;
    color: $grey-dark;
  }

  .personal-website-info {
    padding-right: 50px;

    b {
      font-size: rem-calc(22);
    }
  }

  .with-mail-chimp{
    position:relative;
    .book-a-call{
      h3{
        font-size:$large-font-size;
        small{
          font-size:$medium-font-size;
        }
      }
      position: absolute;
      z-index: 2;
      top: 0;
      right:0;
      width:40%;
      border:1px solid $grey-border;
      padding:$panel-padding;
      .button{
        margin-bottom: 0;
      }
    }
  }

}
