@import "compass/utilities";
@import "compass/css3";
@import "variable";
@import "icons";
@import "global";
@import "main-header";
@import "main-navigation";
@import "main-footer";
@import "main-container";
@import "form";
@import "sign-in";
@import "slider";
@import "grid-promotions";
@import "about/all";
@import "taxon/all";
@import "products";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}