<div class="sign-up">
  <div class="sign-up-step-bar" ng-if="stepNumber < 5">
    <span class="sign-up-step-text-1">ACCOUNT</span>
    <span class="sign-up-step-text-2">PRODUCTS</span>
    <span class="sign-up-step-text-3">ENROLLMENT</span>
    <span class="sign-up-step-text-4">CHECKOUT</span>
    <img alt="Step 1" ng-src="images/step_bar_{{stepNumber}}.jpg">
    <a ng-repeat-start="number in [1, 2, 3] | limitTo: stepNumber - 1" ng-repeat-end
       class="sign-up-step-mod-{{number}} button secondary tiny">
      Modify
    </a>
  </div>

  <div ng-include="'views/sign-up/step1.html'" ng-show="stepNumber == 1"
       class='small-12 panel sign-up-form-panel'></div>
  <div ng-include="'views/sign-up/step2.html'" ng-show="stepNumber == 2"
       class='small-12 panel sign-up-form-panel'></div>
  <div ng-include="'views/sign-up/step3.html'" ng-show="stepNumber == 3"
       class='small-12 panel sign-up-form-panel'></div>
  <div ng-include="'views/sign-up/step4.html'" ng-show="stepNumber == 4"
       class='small-12 panel sign-up-form-panel'></div>
  <div ng-include="'views/sign-up/step5.html'" ng-show="stepNumber == 5"
       class='small-12 panel sign-up-form-panel'></div>
  <div ng-include="'views/sign-up/settings.html'" ng-show="stepNumber == 6"
       class='small-12 panel sign-up-form-panel'></div>
</div>
