<div class="sign-up row">
  <div ng-include="'views/sign-up/step1.html'" ng-show="stepNumber == 1" class='small-12 panel sign-up-form-panel'></div>
  <div ng-include="'views/sign-up/step2.html'" ng-show="stepNumber == 2" class='small-12 panel sign-up-form-panel'>></div>
  <div ng-include="'views/sign-up/step3.html'" ng-show="stepNumber == 3" class='small-12 panel sign-up-form-panel'>></div>
  <div ng-include="'views/sign-up/step4.html'" ng-show="stepNumber == 4" class='small-12 panel sign-up-form-panel'>></div>
</div>