<div class="row title">
  <h6 class="small-3 text-right columns">
    HOME ADDRESS
  </h6>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-first-name">First Name</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="home-first-name"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-last-name">Last Name</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="home-last-name"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline" for="co-first-name">Coapplicant First Name</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="co-first-name"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline" for="co-last-name">Coapplicant Last Name</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="co-last-name"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-address">Address</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="home-address"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline" for="home-address-contd">Address (contd)</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="home-address-contd"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-country">Country</label>
  </div>
  <div class="small-5 end columns">
    <select id="home-country">
      <option value="UK">UK</option>
      <option value="US">US</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-county">County</label>
  </div>
  <div class="small-5 end columns">
    <select id="home-county">
      <option value="County1">County1</option>
      <option value="County2">County2</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-city">City</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="home-city"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-post-code">Post Code</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="home-post-code"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-phone">Phone</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="home-phone"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-mobile">Mobile</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="home-mobile"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline" for="home-work-number">Work Number</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="home-work-number"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline" for="home-fax-number">Fax Number</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="home-fax-number"/>
  </div>
</div>