<div class="row title">
  <h6 class="small-4 columns">
    PERSONAL INFORMATION
  </h6>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="date-of-birth">Date of birth</label>
  </div>
  <div class="small-5 columns">
    <input type="text" id="date-of-birth"/>
  </div>
  <label class="columns small-4 default-cursor inline">
    No applicants under 18 years old
  </label>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline" for="number-tax-id">Number / Tax ID</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="number-tax-id"/>
  </div>
</div>