<form class="sign-up-step-2 sign-up-step" name="step2" novalidate> 
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>SETTINGS</h2>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Account Information <a class='button tiny right'>Edit</a></h3>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>User Name:</span> AJ Telecent
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>Email:</span> abc@abovegem.com
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>User Name <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="" placeholder='MM-DD-YYYY'>
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Email <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class="row">
    <div class='medium-8 columns small-offset-4'>
      <a href='#' class="button tiny">Save</a>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Password <a class='button tiny right'>Change Password</a></h3>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>Password:</span> ******
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Old Password <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="password" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>New Password <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="password" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Password Confirmation <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="password" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class="row">
    <div class='medium-8 columns small-offset-4'>
      <a href='#' class="button tiny">Save</a>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Personal Information <a class='button tiny right'>Edit</a></h3>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>Date of Birth:</span> 12-24-1988
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>SSN/Tax ID:</span> XXX-XXXX-1234
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Date of Birth <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="" placeholder='MM-DD-YYYY'>
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>SSN/Tax ID <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
      <br/>
      <label><input type='checkbox' /> Use Social Security Number</label>
    </div>
  </div>
  <div class="row">
    <div class='medium-8 columns small-offset-4'>
      <a href='#' class="button tiny">Save</a>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Home Address <a class='button tiny right'>Edit</a></h3>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>Name:</span> AJ Telecent
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>Coapplicant Name:</span> AJ Telecent
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>Address Line 1:</span> 1 New Orchard Road, Armonk, New York 10504-1722, United States
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>City:</span> Armonk
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>Country:</span> United States
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>State:</span> New York
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>ZIP:</span> 10504
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>Delivery Options:</span> US Ground
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>First Name <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Middle Initial <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Last Name <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Coapplicant First Name</label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" pattern="">
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Coapplicant Middle Initial</label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" pattern="">
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Coapplicant Last Name</label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" pattern="">
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Address Line 1 <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Address Line 2</label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" pattern="">
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>City <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Country <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <select>
        <option value=''>Select Country</option>
      </select>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>State <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <select>
        <option value=''>Select State</option>
      </select>
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>ZIP <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Delivery Options <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <select>
        <option value=''>Select Options</option>
      </select>
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Shipment Address <small>(Same as Home Address)</small><a class='button tiny right'>Edit</a></h3>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>Name:</span> AJ Telecent
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>Address Line 1:</span> 1 New Orchard Road, Armonk, New York 10504-1722, United States
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>City:</span> Armonk
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>Country:</span> United States
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>State:</span> New York
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>ZIP:</span> 10504
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>Delivery Options:</span> US Ground
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>Phone:</span> 914-499-1900
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>First Name <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Middle Initial <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Last Name <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Address Line 1 <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Address Line 2</label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" pattern="">
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>City <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Country <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <select>
        <option value=''>Select Country</option>
      </select>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>State <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <select>
        <option value=''>Select State</option>
      </select>
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>ZIP <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Delivery Options <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <select>
        <option value=''>Select Options</option>
      </select>
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Phone <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Web Address <small>(Same as Home Address)</small><a class='button tiny right'>Edit</a></h3>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>Name:</span> AJ Telecent
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>Phone:</span> 1 New Orchard Road, Armonk, New York 10504-1722, United States
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <span class='unimportant-text'>Email:</span> hahahah@hohoho.com
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>First Name <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Middle Name</label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" pattern="">
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Last Name <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Phone <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Email <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class="row">
    <div class='medium-8 columns small-offset-4'>
      <a href='#' class="button tiny">Save</a>
    </div>
  </div>
</form>
