<form class="sign-up-step-3 sign-up-step" name="step3" novalidate>
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>CHECK OUT</h2>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <table width='100%'>
        <thead>
          <tr>
            <th>Item</th>
            <th width='60'>PV</th>
            <th width="80">Price</th>
            <th width="80">Quantity</th>
            <th width="100">Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class='signUpPackItem'>
                <img src='img/signUpPackImg_1.jpg' alt='Pack name' class='packImg' />
                <div class='packInfo'>
                  <h6>Initial Enrollment Fee</h6>
                </div>
              </div>
            </td>
            <td>-</td>
            <td>$15.00</td>
            <td>1</td>
            <td>$15.00</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="5">
              <div class='small-12 columns text-right checkOutFoot'>
                <p>Shipping: $15.00 </p>
                <p>Tax: $0.00 </p>
                <strong class='priceTotal'>Total Price: $15.00 </strong>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="row">
    <div class='medium-4 columns'>
      <label>Password <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="password" required pattern="">
      <small class="error hide">This information is required.</small>
    </div>
  </div>
  <div class="row">
    <div class='medium-4 columns'>
      <label>Password Confirmation <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="password" required pattern="">
      <small class="error hide">This information is required.</small>
    </div>
  </div>
  <div class="row">
    <div class='medium-4 columns'>
      <label>Email <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="email" required pattern="">
      <small class="error hide">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Sponsor Information</h3>
    </div>
  </div>
  <div class="row">
    <div class='medium-4 columns'>
      <label>Sponsor ID <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class="row">
    <div class='medium-8 columns small-offset-4'>
      <a href='#' class="button" type="submit">Continue</a>
    </div>
  </div>
</form>
