<form class="sign-up-step-4 sign-up-step" name="step" novalidate>
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>WELCOME TO FOR TAILS ONLY </h2>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <div data-alert class="alert-box success">
        Your account has been created successfully, and your order has been processed successfully.
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <table width='100%' cellspacing=0>
        <thead>
          <tr>
            <th width="50%" class='cPrimary'>Order ID: <span>G00005765897</span></th>
            <th class='cPrimary'><a href='#' class='button tiny right'>Print</a> Status: <span>Payment Completed</span></th>
          </tr> 
        </thead> 
        <tbody> 
          <tr class='border-sep'> 
            <td>
              <p>Order Date: <span class='cLessImportant'>08/12/2013 16:13:56</span></p>
              <p>Shipping Method: <span class='cLessImportant'>Mexico Shipping</span></p>
            </td>  
            <td>
              <p>Payment Date: <span class='cLessImportant'>08/12/2013 16:13:56</span></p>
              <p>Payment Method: <span class='cLessImportant'>Credit Card (US)</span></p>
            </td>
          </tr>
        </tbody> 
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Shipping Address</h3>
    </div>
  </div>
  <div class='signUpInputItem row'>
    <div class='medium-12 columns'>
      <ul class="vcard">
        <li class="locality">Jackson Kho</li> 
        <li class="locality">2222 Loma Vista Ln, Santa Clara, California, 95051</li> 
        <li class="locality">Phone: 123-456-7890</li> 
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Billing Address</h3>
    </div>
  </div>
  <div class='signUpInputItem row'>
    <div class='medium-12 columns'>
      <ul class="vcard">
        <li class="locality">Jackson Kho</li> 
        <li class="locality">2222 Loma Vista Ln, Santa Clara, California, 95051</li> 
        <li class="locality">Phone: 123-456-7890</li> 
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Check Out</h3>
    </div>
  </div>
  <div class='signUpInputItem row'>
    <div class='medium-12 columns'>
      <table width='100%'>
        <thead>
          <tr>
            <th>Item</th>
            <th width='60'>PV</th>
            <th width="80">Price</th>
            <th width="80">Quantity</th>
            <th width="100">Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class='sign-up-pack-item'>
                <img src='../images/signUpPackImg_1.jpg' alt='Pack name' class='pack-img' />
                <div class='pack-info'>
                  <h6>Initial Enrollment Fee</h6>
                </div>
              </div>
            </td>
            <td>-</td>
            <td>$15.00</td>
            <td>1</td>
            <td>$15.00</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="5">
              <div class='small-12 columns text-right check-out-foot'>
                <p>Shipping: $15.00 </p>
                <p>Tax: $0.00 </p>
                <strong class='price-total'>Total Price: $15.00 </strong>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class="row">
    <div class='medium-12 columns'>
      <a href='#' type="submit">Back to Home</a>
    </div>
  </div>
</form>
