<div class="sign-up-step-bar">
  <span class="sign-up-step-text-1">ACCOUNT</span>
  <span class="sign-up-step-text-2">ENROLLMENT</span>
  <span class="sign-up-step-text-3">CHECKOUT</span>
  <span class="sign-up-step-text-4">CONFIRMATION</span>
  <img alt="Step 1" src="images/step_bar_1.jpg">
</div>
<form class="sign-up-step-1 sign-up-step" name="step" novalidate>
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>CREATE YOUR ACCOUNT</h2>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Account Information</h3>
    </div>
  </div>
  <div class="row">
    <div class="medium-4 columns">
      <label>Username <small class='required'>*</small></label>
    </div>
    <div class="medium-8 columns">
      <input type="text" required pattern="">
      <small class="error">
        This field is required.
      </small>
    </div>
  </div>
  <div class="row">
    <div class='medium-4 columns'>
      <label>Password <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="password" required pattern="">
      <small class="error hide">This information is required.</small>
    </div>
  </div>
  <div class="row">
    <div class='medium-4 columns'>
      <label>Password Confirmation <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="password" required pattern="">
      <small class="error hide">This information is required.</small>
    </div>
  </div>
  <div class="row">
    <div class='medium-4 columns'>
      <label>Email <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="email" required pattern="">
      <small class="error hide">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Sponsor Information</h3>
    </div>
  </div>
  <div class="row">
    <div class='medium-4 columns'>
      <label>Sponsor ID <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class="row">
    <div class='medium-8 columns small-offset-4'>
      <a href='#' class="button" type="submit">Continue</a>
    </div>
  </div>
</form>