<form class="sign-up-step-2 sign-up-step" name="step2" novalidate>
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>ENROLLMENT</h2>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Enrollment Fee</h3>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <label>Initial Enrollment Fee ($35/$10)</label>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Personal Information</h3>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Date of Birth <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="" placeholder='MM-DD-YYYY'>
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>SSN/Tax ID <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
      <br/>
      <label><input type='checkbox' /> Use Social Security Number</label>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Home Address</h3>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>First Name <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Middle Initial <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Last Name <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Coapplicant First Name</label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" pattern="">
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Coapplicant Middle Initial</label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" pattern="">
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Coapplicant Last Name</label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" pattern="">
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>City <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Country <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <select disabled>
        <option value=''>United Kingdom</option>
      </select>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>State <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <select>
        <option value=''>Select State</option>
      </select>
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>ZIP <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Delivery Options <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <select>
        <option value=''>Select State</option>
      </select>
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Shipment Address <label class='right'><input type='checkbox' /> Use Home Address</label></h3>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>First Name <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Middle Initial</label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" pattern="">
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Last Name <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Address Line 1 <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Address Line 2</label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" pattern="">
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>City <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Country <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <select>
        <option value=''>Select Country</option>
      </select>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>State <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <select>
        <option value=''>Select State</option>
      </select>
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>ZIP <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Delivery Options <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <select>
        <option value=''>Select Options</option>
      </select>
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Phone <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Web Address <label class='right'><input type='checkbox' /> Use Home Address</label></h3>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>First Name <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Middle Initial</label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" pattern="">
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Last Name <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Phone <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Email</label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
    </div>
  </div>
  <div class="row">
    <div class='medium-8 columns small-offset-4'>
      <a href='#' class="button" type="submit">Continue</a>
    </div>
  </div>
</form>
