<form class="sign-up-step-3 sign-up-step" name="step3" novalidate>
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>CHECK OUT</h2>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <table width='100%'>
        <thead>
          <tr>
            <th>Item</th>
            <th width='60'>PV</th>
            <th width="80">Price</th>
            <th width="80">Quantity</th>
            <th width="100">Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class='sign-up-pack-item'>
                <img src='../images/signUpPackImg_1.jpg' alt='Pack name' class='pack-img' />
                <div class='pack-info'>
                  <h6>Initial Enrollment Fee</h6>
                </div>
              </div>
            </td>
            <td>-</td>
            <td>$15.00</td>
            <td>1</td>
            <td>$15.00</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="5">
              <div class='small-12 columns text-right check-out-foot'>
                <p>Shipping: $15.00 </p>
                <p>Tax: $0.00 </p>
                <strong class='price-total'>Total Price: $15.00 </strong>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Notes</h3>
    </div>
  </div>
  <div class="row">
    <div class='medium-12 columns'>
      <textarea placeholder="Notes (500 words or less)" class="sign-up-note"></textarea>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Shipping Address</h3>
    </div>
  </div>
  <div class="row">
    <div class='medium-12 columns'>
      <ul class="vcard">
        <li class="locality">Jackson Kho</li> 
        <li class="locality">2222 Loma Vista Ln, Santa Clara, California, 95051</li> 
        <li class="locality">Phone: 123-456-7890</li> 
        <li class="locality"><a data-reveal="" data-reveal-id="popUpEditShip" class="button tiny" href="#"><i class="fa fa-pencil-square-o"></i> Edit</a></li> 
      </ul>
    </div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Payment Information</h3>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Payment Option <small class='required'>*</small></label>
    </div>
    <div class='medium-2 columns'>
      <label class='formRadioLabel'><input type='radio' name='paymentOption' /> Credit Card</label>
    </div>
    <div class='medium-2 columns'>
      <label class='formRadioLabel'><input type='radio' name='paymentOption' /> Abc</label>
    </div>
    <div class='medium-4 columns'>&nbsp;</div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Credit Card Number <small class='required'>*</small></label>
    </div>
    <div class='medium-4 columns'>
      <input type='text' /> 
      <small class="error">This information is required.</small>
    </div>
    <div class='medium-4 columns'><img src="img/creditCard.jpg" alt='' /></div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Expiration Date <small class='required'>*</small></label>
    </div>
    <div class='small-4 columns text-left'>
      <select id="customDropdown1" class="medium" required="">
        <option value="">Year</option>
        <option value="2014">2014</option>
        <option value="first">2013</option>
      </select>
      <small class="error">This information is required.</small>
    </div>
    <div class='small-4 columns text-left'>
      <label class='hide'></label>
      <select id="customDropdown2" class="medium" required="">
        <option value="">Month</option>
        <option value="01">01</option>
        <option value="first">02</option>
      </select>
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Card Code <small class='required'>*</small></label>
    </div>
    <div class='medium-4 columns'>
      <input type='text' /> 
      <small class="error signUpInputW">This information is required.</small>
    </div>
    <div class='medium-4 columns'>&nbsp;</div>
  </div>
  <div class='row'>
    <div class='medium-12 columns'>
      <h3>Billing Address</h3>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Address Line 1 <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Address Line 2</label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" pattern="">
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>City <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Country <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <select required>
        <option value=''>Select Country</option>
      </select>
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>State <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <select required>
        <option value=''>Select State</option>
      </select>
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>ZIP <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class='row'>
    <div class='medium-4 columns'>
      <label>Phone <small class='required'>*</small></label>
    </div>
    <div class='medium-8 columns'>
      <input type="text" required pattern="">
      <small class="error">This information is required.</small>
    </div>
  </div>
  <div class="row">
    <div class='medium-8 columns small-offset-4'>
      <a href='#' class="button" type="submit">Continue</a>
    </div>
  </div>
</form>
