<div class="sign-up-step-bar">
  <span class="sign-up-step-text-1">ACCOUNT</span>
  <span class="sign-up-step-text-2">PRODUCTS</span>
  <span class="sign-up-step-text-3">ENROLLMENT</span>
  <span class="sign-up-step-text-4">CHECKOUT</span>
  <img alt="Step 1" src="images/step_bar_2.jpg">
  <a href='#' class='sign-up-step-mod-1 button secondary tiny'>Modify</a>
</div>
<form class="sign-up-step-2 sign-up-step" name="step2" novalidate> 
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>PLEASE CHOOSE ONE OF THE FOLLOWING</h2>
    </div>
  </div>
  
  <div class='row'>
    <div class='medium-12 columns'>
      <label class="accountTypeRadio" for="radio1"><input type="radio" name="accountType" id="radio1" required=""> <h6>Personal Website</h6><p>Price $35.00</p></label>
      <label class="accountTypeRadio" for="radio2"><input type="radio" name="accountType" id="radio2" required=""> <h6>Independent Handler Business Kit <small><a href='#'>View Details</a></small></h6><p>Price $99.00</p></label>
    </div>
  </div>
  <div class="row">
    <div class='medium-12 columns'>
      <a href='#' class="button" type="submit">Continue</a>
    </div>
  </div>
</form>
