<div class="row">
  <div class="columns medium-12">
    <h5>
      REVIEW & PLACE ORDER
    </h5>
  </div>
</div>
<div class="row">
  <div class="columns medium-12">
    <div data-alert class="alert-box">
      You are placing a customer order now,
      please fill his/her shipping information.
      <a class="close">&times;</a>
    </div>
  </div>
</div>
<div class="row checkout">
  <div class="columns medium-7">
    <div class="info-panel">
      <h5>
        SHIPPING INFO
      </h5>

      <div class="sub-title">
        Shipping Method
      </div>
      <div>
        <input type="radio" name="shipping-method" id="shipping-method-1"/>
        <label for="shipping-method-1">US Ground</label>
        <input type="radio" name="shipping-method" id="shipping-method-2"/>
        <label for="shipping-method-2">ABC</label>
      </div>
      <div class="sub-title">
        Ship To
      </div>
      <p>
        asdfasdf <br/>
        asdfasdf <br/>
        asfasdfd
      </p>
      <button class="small">Edit</button>
    </div>
    <div class="info-panel">
      <h5>
        PAYMENT INFO
      </h5>

      <div class="sub-title">
        Payment Method
      </div>
      <div>
        <input type="radio" name="shipping-method" id="payment-method-1"/>
        <label for="payment-method-1">US Ground</label>
        <input type="radio" name="shipping-method" id="payment-method-2"/>
        <label for="payment-method-2">ABC</label>
      </div>
      <div class="row">
        <div class="columns medium-12">
          <label for="card-number" class="required">Card Number</label>
        </div>
        <div class="columns medium-8">
          <input type="text" id="card-number"/>
        </div>
        <div class="columns medium-4">
          <img src="images/cards.png" alt="Cards"/>
        </div>
      </div>
      <div class="row">
        <div class="columns medium-8">
          <label for="expiration-month" class="required">Expiration</label>
        </div>
        <div class="columns medium-4">
          <label for="card-code" class="required">Card Code</label>
        </div>
        <div class="columns medium-4">
          <select name="expiration-month" id="expiration-month"></select>
        </div>
        <div class="columns medium-4">
          <select name="expiration-year" id="expiration-year"></select>
        </div>
        <div class="columns medium-4">
          <input type="text" id="card-code"/>
        </div>
      </div>
    </div>
    <div class="info-panel last">
      <h5>
        BILL TO
      </h5>

      <p>
        adfasdf <br/>
        adfadsf <br/>
        asdfasdf
      </p>
      <button class="small">Edit</button>
    </div>
  </div>
  <div class="columns medium-5">
    <h5>
      CART
    </h5>

    <div class="shopping-cart-small">
      <ul class="medium-font">
        <li class="row" ng-repeat="variant in variants.data | orderBy: id">
          <div class="columns medium-3 ">
            <img class="thumbnail" src="images/shopping-cart-placeholder.png" alt="Product"/>
          </div>
          <div class="columns medium-9">
            <a class="primary-color">
              {{variant.name}}
            </a>

            <div class="unimportant-text">
              {{variant.sku}}
            </div>
            <div class="unimportant-text">
              Size: {{variant.options | byOptionType: 'Size'}}
              Color: {{variant.options | byOptionType: 'Color'}}
            </div>
            <div>
              Quantity: {{shopping.getByItemId(variant.id).quantity}}
            </div>
            <div>
              £{{shopping.getByItemId(variant.id).quantity * variant.price | price}}
            </div>
          </div>
        </li>
      </ul>
      <div class="summary clearfix">
        <dl class="medium-font clearfix unimportant-text">
          <dt class="columns medium-9">Updated SubTotal</dt>
          <dd class="columns medium-3 text-right">£{{GrandTotal()}}</dd>
          <dt class="columns medium-9">Shipping And Handling</dt>
          <dd class="columns medium-3 text-right">£22.00</dd>
          <dt class="columns medium-9">Tax</dt>
          <dd class="columns medium-3 text-right">£2.00</dd>
        </dl>
        <div class="columns medium-12">
          <hr/>
        </div>
        <dl class="total medium-font clearfix">
          <dt class="columns medium-9">Total Price</dt>
          <dd class="columns medium-3 text-right">£300.00</dd>
        </dl>
        <div class="columns medium-12 medium-font">
          <i>You saved £1.0 asdfas adsf asdf asdf as fs</i>
        </div>
      </div>
      <button class="place-order">PLACE ORDER</button>
    </div>
  </div>
</div>