<div class='home-container'>
	<div class='row'>
		<div class="columns medium-8 columns-first">
			<div class='home-video radius'><img src='/images/home/home-video.jpg' alt='Video Name' class='radius' /></div>
		</div>
		<div class="columns medium-4 columns-last">
			<div class='home-message-board radius'>
				<h3 class='text-center'><img src='/images/home/home-message-board.jpg' alt='Miioon Message Board' /></h3>
				<div class='row home-message-item'>
					<div class='small-3 columns'>
						<img src='/images/user-photo-1.jpg' class='circle' alt='[User Name]' />
					</div>
					<div class='small-9 columns'>
						<p class='italic bold medium-font'>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae diam id tellus dictum adipiscing. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
						</p>
						<p class='small-font'>Posted: 23.02.14</p>
					</div>
				</div>
				<div class='row home-message-item'>
					<div class='small-3 columns'>
						<img src='/images/user-photo-2.jpg' class='circle' alt='[User Name]' />
					</div>
					<div class='small-9 columns'>
						<p class='italic bold medium-font'>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						</p>
						<p class='small-font'>Posted: 22.02.14</p>
					</div>
				</div>
			</div>
			<div class='block-margin-top text-center'><a class='button'>GIVE US FEEDBACK</a></div>
		</div>
	</div>
	<div class='row'><div class='small-12 separator-line'></div></div>
	<div class='row'>
		<div class='columns medium-6 columns-first'>
			<h3 class='primary-color'>MIIOON FACEBOOK FEED</h3>
			<div class='home-facebook block-margin-top'>
				<img src='/images/home/home-facebook-feed.jpg' alt='Miioon Facebook Feed' />
			</div>
		</div>
		<div class='columns medium-6 columns-last'>
			<h3 class='primary-color'>MIIOON BLOG FEED</h3>
			<div class='home-blog block-margin-top'>
				<div class='row home-blog-item'>
					<div class='small-3 columns columns-first columns-last'>
						<img src='/images/user-photo-3.jpg' class='radius border' alt='[User Name]' />
					</div>
					<div class='small-9 columns columns-last'>
						<h4>ARTICLE 1<br/><small>25/02/2014</small></h4>
						<p class='small-font'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at mattis lacus, non feugiat nisl. Phasellus posuere mi vitae libero consequat fermentum...</p>
						<a href='#' class='button small'>READ MORE</a>
					</div>
				</div>
				<div class='row home-blog-item'>
					<div class='small-3 columns columns-first columns-last'>
						<img src='/images/user-photo-3.jpg' class='radius border' alt='[User Name]' />
					</div>
					<div class='small-9 columns columns-last'>
						<h4>ARTICLE 2<br/><small>25/02/2014</small></h4>
						<p class='small-font'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at mattis lacus, non feugiat nisl. Phasellus posuere mi vitae libero consequat fermentum...</p>
						<a href='#' class='button small'>READ MORE</a>
					</div>
				</div>
				<div class='row home-blog-item'>
					<div class='small-3 columns columns-first columns-last'>
						<img src='/images/user-photo-3.jpg' class='radius border' alt='[User Name]' />
					</div>
					<div class='small-9 columns columns-last'>
						<h4>ARTICLE 3<br/><small>25/02/2014</small></h4>
						<p class='small-font'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at mattis lacus, non feugiat nisl. Phasellus posuere mi vitae libero consequat fermentum...</p>
						<a href='#' class='button small'>READ MORE</a>
					</div>
				</div>
			</div>
			<ul class="pagination right">
				<li class="arrow unavailable"><a href=""><i class="fa fa-caret-left"></i> Previous</a></li>
				<li class="current"><a href="">01</a></li>
				<li class="unavailable"><a href="">|</a></li>
				<li><a href="">02</a></li>
				<li class="unavailable"><a href="">|</a></li>
				<li><a href="">03</a></li>
				<li class="arrow"><a href="">Next <i class="fa fa-caret-right"></i></a></li>
			</ul>
		</div>
	</div>
</div>
