<div class='home-container'>
	<div class='row'>
		<div class="columns medium-8">
      <div class='home-video radius'>
        <iframe class='vimeo-video' src="//player.vimeo.com/video/93490109"  height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <!-- TODO -->
        <style>
          .home-container .home-video .vimeo-video{
            width: 100%;
          }
        </style>
      </div>
		</div>
		<div class="columns medium-4">
      <div class='home-message-board radius'>
				<h3 class='text-center'><img src='/images/home/home-message-board.jpg' alt='Miioon Message Board' /></h3>
        <div class='home-message-item'>
          <div class='row'>
            <div class='small-3 columns'>
              <img src='/images/user-photo-1.jpg' class='circle' alt='[User Name]' />
            </div>
            <div class='small-9 columns'>
              <p class='small-font'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae diam id tellus dictum adipiscing. Interdum et malesuada fames ac ante ipsum primis in faucibus.
              </p>
              <p class='smaller-font'>Posted: 23/02/14</p>
            </div>
          </div>
        </div>
        <div class='home-message-item'>
  				<div class='row'>
  					<div class='small-3 columns '>
  						<img src='/images/user-photo-2.jpg' class='circle' alt='[User Name]' />
  					</div>
  					<div class='small-9 columns'>
  						<p class='small-font'>
  							Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  						</p>
  						<p class='smaller-font'>Posted: 22/02/14</p>
  					</div>
  				</div>
        </div>
      </div>
			<div class='block-margin-top text-center'><a class='button expand'>GIVE US FEEDBACK</a></div>
		</div>
	</div>
	<div class='row'><div class='columns small-12'><p class='separator-line'></p></div></div>
	<div class='row'>
		<div class='columns medium-6'>
			<h3 class='primary-color'>MIIOON FACEBOOK FEED</h3>
      <!-- facebook-likebox start -->
			<div class='home-facebook block-margin-top'>
				<div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&appId=655504081186151&version=v2.0";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
        <div data-facebook-likebox></div>
        <style>
          .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
            width: 100% !important;
          }
        </style>
			</div>
      <!-- facebook-likebox start end -->
		</div>
		<div class='columns medium-6'>
			<h3 class='primary-color'>MIIOON BLOG FEED</h3>
			<div class='home-blog block-margin-top'>
        <div class='home-blog-item'>
          <div class='row'>
            <div class='small-3 columns'>
              <img src='/images/user-photo-3.jpg' class='radius border' alt='[User Name]' />
            </div>
            <div class='small-9 columns'>
              <h4>ARTICLE 1<br/><small>25/02/2014</small></h4>
              <p class='small-font'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at mattis lacus, non feugiat nisl. Phasellus posuere mi vitae libero consequat fermentum...</p>
              <a href='#' class='button small'>READ MORE</a>
            </div>
          </div>
        </div>
        <div class='home-blog-item'>
  				<div class='row'>
  					<div class='small-3 columns'>
  						<img src='/images/user-photo-3.jpg' class='radius border' alt='[User Name]' />
  					</div>
  					<div class='small-9 columns'>
  						<h4>ARTICLE 2<br/><small>25/02/2014</small></h4>
  						<p class='small-font'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at mattis lacus, non feugiat nisl. Phasellus posuere mi vitae libero consequat fermentum...</p>
  						<a href='#' class='button small'>READ MORE</a>
  					</div>
  				</div>
        </div>
        <div class='home-blog-item'>
  				<div class='row'>
  					<div class='small-3 columns'>
  						<img src='/images/user-photo-3.jpg' class='radius border' alt='[User Name]' />
  					</div>
  					<div class='small-9 columns'>
  						<h4>ARTICLE 3<br/><small>25/02/2014</small></h4>
  						<p class='small-font'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In at mattis lacus, non feugiat nisl. Phasellus posuere mi vitae libero consequat fermentum...</p>
  						<a href='#' class='button small'>READ MORE</a>
  					</div>
  				</div>
        </div>
			</div>
			<ul class="pagination right">
				<li class="arrow unavailable"><a href=""><i class="fa fa-caret-left"></i> Previous</a></li>
				<li class="current"><a href="">01</a></li>
				<li><a href="">02</a></li>
				<li><a href="">03</a></li>
				<li class="arrow"><a href="">Next <i class="fa fa-caret-right"></i></a></li>
			</ul>
		</div>
	</div>
</div>
