<header class="main-header" ng-controller="HeaderController">
  <div class='row'>
    <div class="medium-4 small-12 columns">
      <a href="#">
        <img src="images/logo.png" class='main-header-logo' alt="MiiOffice"/>
      </a>
    </div>
    <div class="medium-8 small-12 columns text-right header-info">
      <ul class="header-account-info separator-slash">
        <li class='header-links-bowl icons-food-bowl'>
          ID: {{user.data.distributorId}}
        </li>
        <li>
          {{user.data.name}}
          <a ng-click="logout()">(sign out)</a>
        </li>
      </ul>
      <ul class="header-links separator-slash primary-color">
        <li>
          <img src='images/flag-en.png' alt='English'/>
        </li>
        <li>
          <a ng-href='{{retailUrl}}'>Go to miioon.com</a>
        </li>
        <li>
          <a href='/#/account'>Account</a>
        </li>
        <li>
          <a href="/#/shopping" ng-if="shopping.items.length > 0">
            Shopping Bag ({{shopping.items.length}})
          </a>
          <span ng-if="shopping.items.length === 0">
            Shopping Bag (0)
          </span>
        </li>
      </ul>
    </div>
  </div>
</header>
