<nav class="main-navigation">
  <div class='row'>
    <ul class='small-12 columns'>
      <li>
        <a href="#">HOME</a>
      </li>
      <li>
        <a href="#">MY MIIOON MEETS</a>
      </li>
      <li>
        <a ng-href="/#/order-shopping">ORDERS & SHOPPING</a>
      </li>
      <li>
        <a href="#">REPORTS</a>
      </li>
      <li>
        <a href="#">TOOLS</a>
      </li>
      <li>
        <a href="#">MARKETING MATERIALS</a>
      </li>
      <li>
        <a href="#/gift-codes">GIFT CODES</a>
      </li>
      <li>
        <a href="/#/mentoring">MENTORING</a>
      </li>
      <li>
        <a href="#">EARNNGS</a>
      </li>
    </ul>
  </div>

</nav>
