<nav class="main-navigation" ng-controller="NavigationController">
  <div class='row'>
    <div class='small-12 columns'>
      <ul>
        <li>
          <a href="#">HOME</a>
        </li>
        <li>
          <a href="#" class='active'>MY MIIOON MEETS</a>
        </li>
        <li>
          <a ng-href="{{retailUrl}}#/taxon/5/sub-taxon/9">ORDERS & SHOPPING</a>
        </li>
        <li>
          <a href="#">REPORTS</a>
        </li>
        <li>
          <a href="#">TOOLS</a>
        </li>
        <li>
          <a href="#">MARKETING MATERIALS</a>
        </li>
        <li>
          <a href="#">GIFT CODES</a>
        </li>
        <li>
          <a href="/#/mentoring">MENTORING</a>
        </li>
        <li>
          <a href="#">EARNNGS</a>
        </li>
      </ul>
    </div>
  </div>

</nav>
