
<footer class="main-footer">
  <div class='row'>
    <div class="columns small-12">
      <div class="row extra-info">
        <div class="columns small-6 small-font">
          All prices are in GBP. Copyright 2014 Miioon.
        </div>
        <div class="columns small-6">
          <ul class="extra-links separator-vertical-line">
            <li>
              <a href="#/">HOME</a>
            </li>
            <li>
              <a href="#/printing">PRINTING</a>
            </li>
            <li>
              <a href="#/shipping-returns">SHIPPING & RETURNS</a>
            </li>
            <li>
              <a href="#/contact">CONTACT</a>
            </li>
            <li>
              <a href="#/t-c">T&C’S</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
