<nav class="main-navigation">
  <div class='row'>
    <ul class='small-12 columns'>
      <li>
        <a href="#">HOME</a>
      </li>
      <li>
        <a href="#/coming">MY MIIOON MEETS</a>
      </li>
      <li>
        <a ng-href="#/products/clothing/ruckjack-boys">ORDERS & SHOPPING</a>
      </li>
      <li>
        <a href="#/report">REPORTS</a>
      </li>
      <li>
        <a href="#/tools">TOOLS</a>
      </li>
      <li>
        <a href="#/marketing-materials">MARKETING MATERIALS</a>
      </li>
      <li>
        <a href="#/gift-codes">GIFT CODES</a>
      </li>
      <li>
        <a href="#/mentoring">MENTORING</a>
      </li>
      <li>
        <a href="#/coming">EARNINGS</a>
      </li>
    </ul>
  </div>

</nav>
