<div class='profile-container'>

<div data-profile-info-panel></div>

<div data-profile-password-panel></div>

<div data-profile-personal-panel></div>

<div class="row panel">
  <!-- Home Address -->
  <div class="small-10 small-offset-1">
    <header class="row">
      <h3 class="small-7 columns primary-color">Home Address</h3>

      <div class="small-3 end columns primary-color text-right"><a ng-click="editingHomeAddress = !editingHomeAddress">edit</a>
      </div>
    </header>

    <div ng-if="!editingHomeAddress">
      <div class="row">
        <div class="small-3 columns">Name</div>
        <div class="small-3 end columns">{{ address.home.firstName }} {{ address.home.lastName }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Address Line 1</div>
        <div class="small-3 end columns">{{ address.home.street }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">City</div>
        <div class="small-3 end columns">{{ address.home.city }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Zip</div>
        <div class="small-3 end columns">{{ address.home.zip }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Country</div>
        <div class="small-3 end columns">{{ address.home.country }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">State</div>
        <div class="small-3 end columns">{{ address.home.stateId }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Home Phone</div>
        <div class="small-3 end columns">{{ address.home.phone }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Mobile Phone</div>
        <div class="small-3 end columns">{{ address.home.mobile }}</div>
      </div>
    </div>

    <form ng-if="editingHomeAddress">
      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrFirstName" class="inline">Name:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrFirstName" name="homeAddrFirstName" ng-model="address.home.firstName"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrLine" class="inline">Address Line 1:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrLine" name="homeAddrLine" ng-model="address.home.street"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrCity" class="inline">City:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrCity" name="homeAddrCity" ng-model="address.home.city"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrZip" class="inline">Zip:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrZip" name="homeAddrZip" ng-model="address.home.zip"
                 placeholder="click to edit ... ">
        </div>
      </div>


      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrCountry" class="inline">Country:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrCountry" name="homeAddrCountry" ng-model="address.home.country"
                 placeholder="click to edit ... ">
        </div>
      </div>


      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrState" class="inline">State:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrState" name="homeAddrState" ng-model="address.home.state"
                 placeholder="click to edit ... ">
        </div>
      </div>


      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrHomePhone" class="inline">Home Phone:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrHomePhone" name="homeAddrHomePhone" ng-model="address.home.phone"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrMobilePhone" class="inline">Mobile Phone:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrMobilePhone" name="homeAddrMobilePhone" ng-model="address.home.mobile"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-5 end columns small-offset-3">
          <button class="btn-block" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>

</div>

<div class="row panel">
  <!-- Shipment Address -->
  <div class="small-10 small-offset-1">
    <header class="row">
      <h3 class="small-7 columns primary-color">Shipment Address</h3>

      <div class="small-3 end columns primary-color text-right"><a
              ng-click="editingShipmentAddress = !editingShipmentAddress">edit</a>
      </div>
    </header>

    <div ng-if="!editingShipmentAddress">
      <div class="row">
        <div class="small-3 columns">Name</div>
        <div class="small-3 end columns">{{ address.shipping.firstName }} {{ address.shipping.lastName }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Address Line 1</div>
        <div class="small-3 end columns">{{ address.shipping.street }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">City</div>
        <div class="small-3 end columns">{{ address.shipping.city }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Zip</div>
        <div class="small-3 end columns">{{ address.shipping.zip }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Country</div>
        <div class="small-3 end columns">{{ address.shipping.countryId }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">State</div>
        <div class="small-3 end columns">{{ address.shipping.state }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Home Phone</div>
        <div class="small-3 end columns">{{ address.shipping.phone }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Mobile Phone</div>
        <div class="small-3 end columns">{{ address.shipping.mobile }}</div>
      </div>
    </div>

    <form ng-if="editingShipmentAddress">
      <div class="row">
        <div class="small-3 columns">
          <label for="shipmentAddrFirstName" class="inline">Name:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="shipmentAddrFirstName" name="shipmentAddrFirstName" ng-model="address.shipping.firstName"
                 placeholder="click to edit ... ">
        </div>
      </div>


      <div class="row">
        <div class="small-3 columns">
          <label for="shipmentLastAddrName" class="inline">Name:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="shipmentLastAddrName" name="shipmentLastAddrName" ng-model="address.shipping.lastName"
                 placeholder="click to edit ... ">
        </div>
      </div>


      <div class="row">
        <div class="small-3 columns">
          <label for="shipmentAddrLine" class="inline">Address Line 1:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="shipmentAddrLine" name="homeAddrLine" ng-model="address.shipping.street"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="shipmentAddrCity" class="inline">City:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="shipmentAddrCity" name="shipmentAddrCity" ng-model="address.shipping.city"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="shipmentAddrZip" class="inline">Zip:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="shipmentAddrZip" name="shipmentAddrZip" ng-model="address.shipping.zip"
                 placeholder="click to edit ... ">
        </div>
      </div>


      <div class="row">
        <div class="small-3 columns">
          <label for="shipmentAddrCountry" class="inline">Country:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="shipmentAddrCountry" name="shipmentAddrCountry" ng-model="address.shipping.countryId"
                 placeholder="click to edit ... ">
        </div>
      </div>


      <div class="row">
        <div class="small-3 columns">
          <label for="shipmentAddrState" class="inline">State:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="shipmentAddrState" name="shipmentAddrState" ng-model="address.shipping.stateId"
                 placeholder="click to edit ... ">
        </div>
      </div>


      <div class="row">
        <div class="small-3 columns">
          <label for="shipmentAddrHomePhone" class="inline">Home Phone:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="shipmentAddrHomePhone" name="shipmentAddrHomePhone" ng-model="adddress.shipping.phone"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="shipmentAddrMobilePhone" class="inline">Mobile Phone:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="shipmentAddrMobilePhone" name="shipmentAddrMobilePhone" ng-model="address.shipping.mobile"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-5 end columns small-offset-3">
          <button class="btn-block" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>

</div>
<div class="row panel">
  <!-- WebAddress -->
  <div class="small-10 small-offset-1">
    <header class="row">
      <h3 class="small-7 columns primary-color">WebAddress</h3>

      <div class="small-3 end columns primary-color text-right"><a ng-click="editingWebAddress = !editingWebAddress">edit</a>
      </div>
    </header>

    <div ng-if="!editingWebAddress">
      <div class="row">
        <div class="small-3 columns">Name</div>
        <div class="small-3 end columns">{{ address.website.firstName }} {{ address.website.lastName }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Home Phone</div>
        <div class="small-3 end columns">{{ address.website.phone }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Mobile Phone</div>
        <div class="small-3 end columns">{{ address.website.mobile }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Email</div>
        <div class="small-3 end columns">{{ address.website.email }}</div>
      </div>
    </div>

    <form ng-if="editingWebAddress">
      <div class="row">
        <div class="small-3 columns">
          <label for="websiteAddrFirstName" class="inline">Name:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="websiteAddrFirstName" name="websiteAddrFirstName" ng-model="address.website.firstName"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="websiteAddrLastName" class="inline">Name:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="websiteAddrLastName" name="websiteAddrLastName" ng-model="address.website.lastName"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="websiteAddrHomePhone" class="inline">Home Phone:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="websiteAddrHomePhone" name="websiteAddrHomePhone" ng-model="address.website.phone"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="websiteAddrMobilePhone" class="inline">Mobile Phone:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="websiteAddrMobilePhone" name="websiteAddrMobilePhone" ng-model="address.website.mobile"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="websiteAddrEmail" class="inline">Email:</label>
        </div>
        <div class="small-5 end columns">
          <input type="email" id="websiteAddrEmail" name="websiteAddrEmail" ng-model="address.website.email"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-5 end columns small-offset-3">
          <button class="btn-block" type="submit">Save</button>
        </div>
      </div>
    </form>

  </div>
</div>
</div>


