<div class='profile-container'>

  <div class="row">

    <!-- user name/email panel -->
    <div class="small-10 small-offset-1">
      <div class="row">
        <h3 class="small-7 columns primary-color">Account Infomation</h3>
        <a class="small-3 end columns primary-color text-right" href="#">Edit</a>
      </div>

      <div class="row">
        <div class="small-2 columns">User Name</div>
        <div class="small-3 end columns">miionuser</div>
      </div>

      <div class="row">
        <div class="small-2 columns">Email</div>
        <div class="small-3 end columns">some_email@miion.com</div>
      </div>
    </div>

  </div>

  <div class="row">
    <!-- password panel -->
    <div class="small-10 small-offset-1">
      <div class="row">
        <h3 class="small-7 columns primary-color">Password</h3>
        <a class="small-3 end columns primary-color text-right" href="#">Change Password</a>
      </div>

      <div class="row">
        <div class="small-2 columns">Password</div>
        <div class="small-3 end columns">*****</div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Personal Information -->
    <div class="small-10 small-offset-1">
      <div class="row">
        <h3 class="small-7 columns primary-color">Personal Information</h3>
        <a class="small-3 end columns primary-color text-right" href="#">Edit</a>
      </div>

      <div class="row">
        <div class="small-2 columns">Date Of Birth</div>
        <div class="small-3 end columns">MM-DD-YYYY</div>
      </div>
      <div class="row">
        <div class="small-2 columns">SSN</div>
        <div class="small-3 end columns">XXX-XXXX-1234</div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Home Address -->
    <div class="small-10 small-offset-1">
      <div class="row">
        <h3 class="small-7 columns primary-color">Password</h3>
        <a class="small-3 end columns primary-color text-right" href="#">Change Password</a>
      </div>

      <div class="row">
        <div class="small-2 columns">Name</div>
        <div class="small-3 end columns">AJ Telecent</div>
      </div>

      <div class="row">
        <div class="small-2 columns">Address Line 1</div>
        <div class="small-3 end columns">1 New Orchard Road</div>
      </div>

      <div class="row">
        <div class="small-2 columns">City</div>
        <div class="small-3 end columns">Armonk</div>
      </div>

      <div class="row">
        <div class="small-2 columns">Zip</div>
        <div class="small-3 end columns">10504</div>
      </div>

      <div class="row">
        <div class="small-2 columns">Country</div>
        <div class="small-3 end columns">US</div>
      </div>

      <div class="row">
        <div class="small-2 columns">State</div>
        <div class="small-3 end columns">New York</div>
      </div>

      <div class="row">
        <div class="small-2 columns">Home Phone</div>
        <div class="small-3 end columns">914-499-1900</div>
      </div>

      <div class="row">
        <div class="small-2 columns">Mobile Phone</div>
        <div class="small-3 end columns">914-499-1900</div>
      </div>
    </div>

  </div>

  <div class="row">
    <!-- Shipment Address -->
    <div class="small-10 small-offset-1">
      <div class="row">
        <h3 class="small-7 columns primary-color">Shipment Address</h3>
        <a class="small-3 end columns primary-color text-right" href="#">edit</a>
      </div>


      <div class="row">
        <div class="small-2 columns">Name</div>
        <div class="small-3 end columns">AJ Tel</div>
      </div>

      <div class="row">
        <div class="small-2 columns">Address Line</div>
        <div class="small-3 end columns">1 New Orchard Road</div>
      </div>

      <div class="row">
        <div class="small-2 columns">City</div>
        <div class="small-3 end columns">Armonk</div>
      </div>

      <div class="row">
        <div class="small-2 columns">Zip</div>
        <div class="small-3 end columns">10504</div>
      </div>

      <div class="row">
        <div class="small-2 columns">State</div>
        <div class="small-3 end columns">New York</div>
      </div>

      <div class="row">
        <div class="small-2 columns">Home Phone</div>
        <div class="small-3 end columns">914-499-1900</div>
      </div>

      <div class="row">
        <div class="small-2 columns">Mobile Phone</div>
        <div class="small-3 end columns">914-499-1900</div>
      </div>

    </div>
  </div>

  <div class="row">
    <!-- WebAddress -->
    <div class="small-10 small-offset-1">
      <div class="row">
        <h3 class="small-7 columns primary-color">WebAddress</h3>
        <a class="small-3 end columns primary-color text-right" href="#">edit</a>
      </div>

      <div class="row">
        <div class="small-2 columns">Name</div>
        <div class="small-3 end columns">AJ Telecent</div>
      </div>

      <div class="row">
        <div class="small-2 columns">Address Line 1</div>
        <div class="small-3 end columns">1 New Orchard Road</div>
      </div>

      <div class="row">
        <div class="small-2 columns">Home Phone</div>
        <div class="small-3 end columns">914-499-1900</div>
      </div>

      <div class="row">
        <div class="small-2 columns">Mobile Phone</div>
        <div class="small-3 end columns">914-499-1900</div>
      </div>

      <div class="row">
        <div class="small-2 columns">Email</div>
        <div class="small-3 end columns">abc@abovegem.com</div>
      </div>

    </div>
  </div>

</div>
