<div class='profile-container'>

<div class="row panel">

  <!-- user name/email panel -->
  <div class="small-10 small-offset-1">
    <header class="row">
      <h3 class="small-7 columns primary-color">Account Infomation</h3>

      <div class="small-3 end columns primary-color text-right"><a ng-click="editingAccount = !editingAccount">Edit</a>
      </div>
    </header>

    <div ng-if="!editingAccount">
      <div class="row">
        <div class="small-3 columns inline">User Name</div>
        <div class="small-3 end columns">{{ username }}</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Email</div>
        <div class="small-3 end columns">{{ email }}</div>
      </div>
    </div>

    <form ng-if="editingAccount" ng-submit="saveAccountInfo()">
      <div class="row">
        <div class="small-3 columns">
          <label for="userName" class="inline">User Name:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="userName" name="userName" ng-model="username" placeholder="please input your username">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="email" class="inline">Email:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="email" name="email" ng-model="email" placeholder="please input your email">
        </div>
      </div>

      <div class="row">
        <div class="small-5 end columns small-offset-3">
          <button class="btn-block" type="submit">Save</button>
        </div>
      </div>

    </form>
  </div>


</div>

<div class="row panel">
  <!-- password panel -->
  <div class="small-10 small-offset-1">
    <header class="row">
      <h3 class="small-7 columns primary-color">Password</h3>

      <div class="small-3 end columns primary-color text-right"><a ng-click="editingPassword = !editingPassword">Change
        Password</a></div>
    </header>

    <div ng-if="!editingPassword" class="row">
      <div class="small-3 columns">Password</div>
      <div class="small-3 end columns">*****</div>
    </div>

    <form ng-if="editingPassword" ng-submit="savePassword()">
      <div class="row">
        <div class="small-3 columns">
          <label for="oldPassword" class="inline">Old Password:</label>
        </div>
        <div class="small-5 end columns">
          <input type="password" id="oldPassword" name="oldPassword" ng-model="oldPassword"
                 placeholder="your old password">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="newPassword" class="inline">New Password:</label>
        </div>
        <div class="small-5 end columns">
          <input type="password" id="newPassword" name="newPassword" ng-model="newPassword"
                 placeholder="your new password">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="confirmationPassword" class="inline">Confirmation:</label>
        </div>
        <div class="small-5 end columns">
          <input type="password" id="confirmationPassword" name="confirmationPassword" ng-model="confirmationPassword"
                 placeholder="your new password again">
        </div>
      </div>

      <div class="row">
        <div class="small-5 end columns small-offset-3">
          <button class="btn-block" type="submit">Save</button>
        </div>
      </div>

    </form>
  </div>


</div>

<div class="row panel">
  <!-- Personal Information -->
  <div class="small-10 small-offset-1">
    <header class="row">
      <h3 class="small-7 columns primary-color">Personal Information</h3>

      <div class="small-3 end columns primary-color text-right">
        <a ng-click="editingPersonalInfo = !editingPersonalInfo">Edit</a>
      </div>
    </header>

    <div ng-if="!editingPersonalInfo">
      <div class="row">
        <div class="small-3 columns">Date Of Birth</div>
        <div class="small-3 end columns">MM-DD-YYYY</div>
      </div>
      <div class="row">
        <div class="small-3 columns">SSN</div>
        <div class="small-3 end columns">XXX-XXXX-1234</div>
      </div>
    </div>

    <form ng-if="editingPersonalInfo" ng-submit="savePersonalInfo()">


      <div class="row">
        <div class="small-3 columns">
          <label for="dateOfBirth" class="inline">Date Of Birth:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="dateOfBirth" name="dateOfBirth" ng-model="dateOfBirth"
                 placeholder="click to edit ... ">
        </div>
      </div>


      <div class="row">
        <div class="small-5 end columns small-offset-3">
          <button class="btn-block" type="submit">Save</button>
        </div>
      </div>
    </form>

  </div>

</div>

<div class="row panel">
  <!-- Home Address -->
  <div class="small-10 small-offset-1">
    <header class="row">
      <h3 class="small-7 columns primary-color">Home Address</h3>

      <div class="small-3 end columns primary-color text-right"><a ng-click="editingHomeAddress = !editingHomeAddress">edit</a>
      </div>
    </header>

    <div ng-if="!editingHomeAddress">
      <div class="row">
        <div class="small-3 columns">Name</div>
        <div class="small-3 end columns">AJ Telecent</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Address Line 1</div>
        <div class="small-3 end columns">1 New Orchard Road</div>
      </div>

      <div class="row">
        <div class="small-3 columns">City</div>
        <div class="small-3 end columns">Armonk</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Zip</div>
        <div class="small-3 end columns">10504</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Country</div>
        <div class="small-3 end columns">US</div>
      </div>

      <div class="row">
        <div class="small-3 columns">State</div>
        <div class="small-3 end columns">New York</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Home Phone</div>
        <div class="small-3 end columns">914-499-1900</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Mobile Phone</div>
        <div class="small-3 end columns">914-499-1900</div>
      </div>
    </div>

    <form ng-if="editingHomeAddress">
      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrName" class="inline">Name:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrName" name="homeAddrName" ng-model="homeAddrName"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrLine" class="inline">Address Line 1:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrLine" name="homeAddrLine" ng-model="homeAddrLine"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrCity" class="inline">City:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrCity" name="homeAddrCity" ng-model="homeAddrCity"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrZip" class="inline">Zip:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrZip" name="homeAddrZip" ng-model="homeAddrZip"
                 placeholder="click to edit ... ">
        </div>
      </div>


      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrCountry" class="inline">Country:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrCountry" name="homeAddrCountry" ng-model="homeAddrCountry"
                 placeholder="click to edit ... ">
        </div>
      </div>


      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrState" class="inline">State:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrState" name="homeAddrState" ng-model="homeAddrState"
                 placeholder="click to edit ... ">
        </div>
      </div>


      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrHomePhone" class="inline">Home Phone:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrHomePhone" name="homeAddrHomePhone" ng-model="homeAddrHomePhone"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrMobilePhone" class="inline">Mobile Phone:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrMobilePhone" name="homeAddrMobilePhone" ng-model="homeAddrMobilePhone"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-5 end columns small-offset-3">
          <button class="btn-block" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>

</div>

<div class="row panel">
  <!-- Shipment Address -->
  <div class="small-10 small-offset-1">
    <header class="row">
      <h3 class="small-7 columns primary-color">Shipment Address</h3>

      <div class="small-3 end columns primary-color text-right"><a
              ng-click="editingShipmentAddress = !editingShipmentAddress">edit</a>
      </div>
    </header>

    <div ng-if="!editingShipmentAddress">
      <div class="row">
        <div class="small-3 columns">Name</div>
        <div class="small-3 end columns">AJ Telecent</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Address Line 1</div>
        <div class="small-3 end columns">1 New Orchard Road</div>
      </div>

      <div class="row">
        <div class="small-3 columns">City</div>
        <div class="small-3 end columns">Armonk</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Zip</div>
        <div class="small-3 end columns">10504</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Country</div>
        <div class="small-3 end columns">US</div>
      </div>

      <div class="row">
        <div class="small-3 columns">State</div>
        <div class="small-3 end columns">New York</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Home Phone</div>
        <div class="small-3 end columns">914-499-1900</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Mobile Phone</div>
        <div class="small-3 end columns">914-499-1900</div>
      </div>
    </div>

    <form ng-if="editingShipmentAddress">
      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrName" class="inline">Name:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrName" name="homeAddrName" ng-model="homeAddrName"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrLine" class="inline">Address Line 1:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrLine" name="homeAddrLine" ng-model="homeAddrLine"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrCity" class="inline">City:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrCity" name="homeAddrCity" ng-model="homeAddrCity"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrZip" class="inline">Zip:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrZip" name="homeAddrZip" ng-model="homeAddrZip"
                 placeholder="click to edit ... ">
        </div>
      </div>


      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrCountry" class="inline">Country:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrCountry" name="homeAddrCountry" ng-model="homeAddrCountry"
                 placeholder="click to edit ... ">
        </div>
      </div>


      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrState" class="inline">State:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrState" name="homeAddrState" ng-model="homeAddrState"
                 placeholder="click to edit ... ">
        </div>
      </div>


      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrHomePhone" class="inline">Home Phone:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrHomePhone" name="homeAddrHomePhone" ng-model="homeAddrHomePhone"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrMobilePhone" class="inline">Mobile Phone:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrMobilePhone" name="homeAddrMobilePhone" ng-model="homeAddrMobilePhone"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-5 end columns small-offset-3">
          <button class="btn-block" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>

</div>
<div class="row panel">
  <!-- WebAddress -->
  <div class="small-10 small-offset-1">
    <header class="row">
      <h3 class="small-7 columns primary-color">WebAddress</h3>

      <div class="small-3 end columns primary-color text-right"><a ng-click="editingWebAddress = !editingWebAddress">edit</a>
      </div>
    </header>

    <div ng-if="!editingWebAddress">
      <div class="row">
        <div class="small-3 columns">Name</div>
        <div class="small-3 end columns">AJ Telecent</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Address Line 1</div>
        <div class="small-3 end columns">1 New Orchard Road</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Home Phone</div>
        <div class="small-3 end columns">914-499-1900</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Mobile Phone</div>
        <div class="small-3 end columns">914-499-1900</div>
      </div>

      <div class="row">
        <div class="small-3 columns">Email</div>
        <div class="small-3 end columns">abc@abovegem.com</div>
      </div>
    </div>

    <form ng-if="editingWebAddress">
      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrName" class="inline">Name:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrName" name="homeAddrName" ng-model="homeAddrName"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrLine" class="inline">Address Line 1:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrLine" name="homeAddrLine" ng-model="homeAddrLine"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrHomePhone" class="inline">Home Phone:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrHomePhone" name="homeAddrHomePhone" ng-model="homeAddrHomePhone"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrMobilePhone" class="inline">Mobile Phone:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text" id="homeAddrMobilePhone" name="homeAddrMobilePhone" ng-model="homeAddrMobilePhone"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="homeAddrEmail" class="inline">Email:</label>
        </div>
        <div class="small-5 end columns">
          <input type="email" id="homeAddrEmail" name="homeAddrEmail" ng-model="homeAddrEmail"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-5 end columns small-offset-3">
          <button class="btn-block" type="submit">Save</button>
        </div>
      </div>
    </form>

  </div>
</div>
</div>


