<div class="row">
  <div class="columns small-2 taxon-navigation">
    <div ng-repeat="taxon in taxons" class="taxon-group">
      <h4 class="root-taxon">
        <span ng-class="{current: taxon.id === currentTaxonId}" ng-if="taxon.subTaxons.length > 0">
          {{taxon.name}}
        </span>
        <a ng-click="changeSubTaxon(taxon.id)" ng-if="taxon.subTaxons.length === 0">
          {{taxon.name}}
        </a>
      </h4>
      <ul ng-repeat-end>
        <li ng-repeat="subTaxon in taxon.subTaxons | orderBy: 'position' ">
        <span class="current" ng-if="subTaxon.id === currentTaxonId">
          {{subTaxon.name}}
        </span>
        <a ng-if="subTaxon.id !== currentTaxonId" ng-click="changeSubTaxon(subTaxon.id)">
          {{subTaxon.name}}
        </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="columns small-10 product-list">
    <ul class="small-block-grid-4">
      <li ng-repeat="product in products | orderBy: 'position' ">
        <div class="view" data-brush-image-url="{{product.images[1] | imageSize:'list_thumb' }}">
          <img ng-src="{{product.images[0] | imageSize:'list_thumb' }}" alt="{{product.name}}"/>

          <div class="view-detail">
            <a href="/#/product/{{product.id}}">VIEW DETAIL</a>
          </div>
        </div>
        <div class="name">
          <a ng-href="/#/product/{{product.id}}">
            {{product.name}}
          </a>
        </div>
        <div class="price">
          £{{product.price | price}}
        </div>
      </li>
    </ul>
  </div>
</div>
