<div class='products'>
  <div class='row'>
    <div class='small-12 columns'>
      <h2>SHOPPING</h2>
    </div>
  </div>
  <div class='row'>
    <!-- shopping sidebar start -->
    <div class='medium-2 columns products-sidebar'>
      <dl>
        <dt>CLOTHING</dt>
        <dd><a href='#'>JACKETS</a></dd>
        <dd><a href='#'>LEGGINGS</a></dd>
        <dd><a href='#'>PANTS</a></dd>
        <dd><a href='#'>SCARVES</a></dd>
        <dd><a href='#'>SHIRTS & BLOUSES</a></dd>
        <dd><a href='#'>SKIRTS & DRESSES</a></dd>
        <dd><a href='#'>SWEATERS</a></dd>
        <dd><a href='#'>TOPS & TANKS</a></dd>
        <dt>HAND BAGS+</dt>
        <dd><a href='#'>CLUTCHES</a></dd>
        <dd><a href='#'>HANDBAGS</a></dd>
        <dd><a href='#'>TECH ACCESSORIES</a></dd>
        <dt>JEWELRY</dt>
        <dd><a href='#'>BRACELETS</a></dd>
        <dd><a href='#'>CHARMS</a></dd>
        <dd><a href='#'>EARRINGS</a></dd>
        <dd><a href='#'>NECKLACES<</a>/dd>
        <dd><a href='#'>RINGS</a></dd>
        <dt>DECOR</dt>
        <dd><a href='#'>CANDLES & DEFUSERS</a></dd>
      </dl>
    </div>
    <!-- shopping sidebar end -->
    <!-- shopping list start -->
    <div class='medium-10 columns products-list'>
      <ul class='clearfix products-list-wrap'>
        <li>
          <div class="product-img">
            <a href="#"><img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" /></a>
            <a class="button small" style="">Quick View</a>
          </div>
        </li>
        <li>
          <div class="product-img">
            <a href="#"><img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" /></a>
            <a class="button small" style="">Quick View</a>
          </div>
        </li>
        <li>
          <div class="product-img">
            <a href="#"><img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" /></a>
            <a class="button small" style="">Quick View</a>
          </div>
        </li>
        <li>
          <div class="product-img">
            <a href="#"><img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" /></a>
            <a class="button small" style="">Quick View</a>
          </div>
        </li>
        <li>
          <div class="product-img">
            <a href="#"><img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" /></a>
            <a class="button small" style="">Quick View</a>
          </div>
        </li>
        <li>
          <div class="product-img">
            <a href="#"><img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" /></a>
            <a class="button small" style="">Quick View</a>
          </div>
        </li>
        <li>
          <div class="product-img">
            <a href="#"><img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" /></a>
            <a class="button small" style="">Quick View</a>
          </div>
        </li>
        <li>
          <div class="product-img">
            <a href="#"><img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" /></a>
            <a class="button small" style="">Quick View</a>
          </div>
        </li>
        <li>
          <div class="product-img">
            <a href="#"><img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" /></a>
            <a class="button small" style="">Quick View</a>
          </div>
        </li>
        <li>
          <div class="product-img">
            <a href="#"><img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" /></a>
            <a class="button small" style="">Quick View</a>
          </div>
        </li>
        <li>
          <div class="product-img">
            <a href="#"><img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" /></a>
            <a class="button small" style="">Quick View</a>
          </div>
        </li>
        <li>
          <div class="product-img">
            <a href="#"><img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" /></a>
            <a class="button small" style="">Quick View</a>
          </div>
        </li>
        <li>
          <div class="product-img">
            <a href="#"><img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" /></a>
            <a class="button small" style="">Quick View</a>
          </div>
        </li>
        <li>
          <div class="product-img">
            <a href="#"><img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" /></a>
            <a class="button small" style="">Quick View</a>
          </div>
        </li>
        <li>
          <div class="product-img">
            <a href="#"><img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" /></a>
            <a class="button small" style="">Quick View</a>
          </div>
        </li>
        <li>
          <div class="product-img">
            <a href="#"><img alt="I Dream of Squirrel - Blue - Round Shaped" src="../images/dreamsquirrelBlue.jpg" /></a>
            <a class="button small" style="">Quick View</a>
          </div>
        </li>
      </ul>
    </div>
    <!-- shopping list end -->
  </div>
</div>