<div class='products'>
  <div class='row'>
    <div class='small-12 columns'>
      <h2>SUCCESS</h2>
    </div>
  </div>
  <div class='row'>
    <!-- product success start -->
    <div class="medium-12 columns">
      <table width='100%' cellspacing=0>
        <thead>
          <tr>
            <th width="50%" class='cPrimary'>Order ID: <span>201944010</span></th>
            <th class='cPrimary'><a href='#' class='button tiny right'>Print</a> Status: <span>Shipped</span></th>
          </tr> 
        </thead> 
        <tbody> 
          <tr class='border-sep'> 
            <td>
              <p>Order Date: <span class='cLessImportant'>08/12/2013 16:13:56</span></p>
              <p>Customer: <span class='cLessImportant'>Jack</span></p>
              <p>Type: <span class='cLessImportant'>Renewal Fees</span></p>
            </td>  
            <td>
              <p>Shipping Method: <span class='cLessImportant'>Mexico Shipping</span></p>
              <p>Payment Date: <span class='cLessImportant'>08/12/2013 16:13:56</span></p>
              <p>Payment Method: <span class='cLessImportant'>Credit Card (US)</span></p>
            </td>
          </tr>
        </tbody> 
      </table>
      <table width='100%' cellspacing=0>
        <thead>
          <tr>
            <th width="50%" class='cPrimary'></span></th>
            <th class='cPrimary'></th>
          </tr> 
        </thead> 
        <tbody> 
          <tr class='border-sep'> 
            <td>
              <p>Ship To: <span class='cLessImportant'>Jackson Kho<br/>2222 Loma Vista Ln, Santa Clara, California, 95051<br/>Phone: 621-32-0500</span></p>
            </td>
            <td>
              <p>Bill To: <span class='cLessImportant'>Jackson Kho<br/>2222 Loma Vista Ln, Santa Clara, California, 95051<br/>Phone: 621-32-0500</span></p>
            </td>
          </tr>
        </tbody> 
      </table>
      <table width='100%'>
        <thead>
          <tr>
            <th>Item</th>
            <th width='60'>Quantity</th>
            <th width="100" class='text-center'>Retail Price</th>
            <th width="60" class='text-center'>PCV</th>
            <th width="100" class='text-center'>Your Price</th>
            <th width="100" class='text-center'>Total Price</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class='products-cart-item'>
                <img src='../images/signUpPackImg_1.jpg' alt='Pack name' class='pack-img' />
                <div class='product-info'>
                  <h6 class='product-name'><a href='#'>Initial Enrollment Fee</a></h6>
                  <p class='product-id'>1060688890-BLK-SC-JKT-S</p>
                  <p class='product-size'><span>SIZE: S</span><span>COLOR: BLACK</span></p>
                </div>
              </div>
            </td>
            <td class='text-center'>1</td>
            <td class='cPrimary text-center'>$15.00</td>
            <td class='text-center'>0.00</td>
            <td class='cPrimary text-center'>$15.00</td>
            <td class='cPrimary text-center'>$15.00</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="7" class="text-right check-out-foot">
              <p>Subtotal before Discounts: $300.00 </p>
              <p>Balance: $22.00 </p>
              <p>Shipping and Handling: $10.00 </p>
              <p>Tax: $1.68 </p>
              <strong class='price-total'>SubTotal: $15.00 </strong>
              <small><i>You save $0.00 and eam 0.00 PCV on this order.</i></small>
            </th>
          </tr>
        </tfoot>
      </table>
      <div class='clearfix'>
        <div class='product-cart-chekout-left'>
          <a href='#' class='unimportant-text'>Back to home</a>
        </div>
      </div>
    </div>
    <!-- product success end -->
  </div>
</div>