<div class='products'>
  <div class='row'>
    <div class='small-12 columns'>
      <h2>SHOPPING CART</h2>
    </div>
  </div>
  <div class='row'>
    <!-- products-cart start -->
    <div class='small-12 columns products-cart'>
      <div class='product-cart-bar clearfix'>
        <span class='unimportant-text'>1 item in your cart</span>
        <!--<a href='#' class='button small right'>Check Out</a>-->
      </div>
      <table width='100%'>
        <thead>
          <tr>
            <th>Item</th>
            <th width='60'>Quantity</th>
            <th width="100" class='text-center'>Retail Price</th>
            <th width="60" class='text-center'>PCV</th>
            <th width="100" class='text-center'>Your Price</th>
            <th width="100" class='text-center'>Total Price</th>
            <th width="80"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class='products-cart-item'>
                <img src='../images/signUpPackImg_1.jpg' alt='Pack name' class='pack-img' />
                <div class='product-info'>
                  <h6 class='product-name'><a href='#'>Initial Enrollment Fee</a></h6>
                  <p class='product-id'>1060688890-BLK-SC-JKT-S</p>
                  <p class='product-size'><span>SIZE: S</span><span>COLOR: BLACK</span></p>
                </div>
              </div>
            </td>
            <td class='text-center'>1</td>
            <td class='primary-color text-center'>$15.00</td>
            <td class='text-center'>0.00</td>
            <td class='primary-color text-center'>$15.00</td>
            <td class='primary-color text-center'>$15.00</td>
            <td class='text-center'><a href='#' class='button small'>Delete</a></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="7">
              <div class='row'>
                <div class='small-12 columns text-right check-out-foot'>
                  <p>Subtotal before Discounts: $300.00 </p>
                  <p>Balance: $22.00 </p>
                  <p>Shipping and Handling: $10.00 </p>
                  <p>Tax: $1.68 </p>
                  <strong class='price-total'>SubTotal: $15.00 </strong>
                </div>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
      <div class='clearfix'>
        <div class='product-cart-chekout-left left'>
          <a href='#' class='unimportant-text'>Continue Shopping</a> | <a href='#' class='unimportant-text'>Empty Cart</a>
        </div>
        <a href='#' class='button small right'>Check Out</a>
      </div>
    </div>
    <!-- products-cart end -->
  </div>
</div>