.home-container{
	.home-video{
		border:1px solid $grey-border;
 	}
 	.home-message-board{
 		border:1px solid $grey-border;
 		h3{
 			border-bottom:1px solid $grey-border;
 			margin-bottom: 0;
 			padding:10px;
 		}
 		.home-message-item{
 			border-bottom:1px solid $grey-border;
 			padding:10px;
 			background:$grey-lighter;
 			p{
 				margin-bottom:10px;
 				line-height: 1.3;
 			}
 		}
 		.home-message-item:last-child{
 			border-bottom:0;
 			border-radius:0 0 $border-radius $border-radius;
 		}
 	}
 	.home-facebook{}
 	.home-blog{
 		margin-bottom: rem-calc(30);
		.home-blog-item{
			padding:rem-calc(20) 0;
			border-bottom:1px solid $grey-border;
			&:first-child{
				padding-top:0;
			}
			h4{
				color: $grey-darker;
				margin-top:0;
				line-height: 1;
				small{
					color:$grey;
				}
			}
			p{
				line-height: 1;
				margin-bottom: rem-calc(10);
			}
		}
 	}
}