.main-footer {
  //background: $grey-lighter;
  padding-top: 40px;

  h4 {
    margin-bottom: 20px;
    color: $pink;
  }

  .categories {
    li {
      margin-bottom: 10px;
      a {
        font-size: $medium-font-size;
        color:#333;
      }
    }
  }

  .sign-up-form{
    max-width: rem-calc(400);
  }

  .social-links {
    padding-top: 50px;
    padding-bottom: 45px;

    li {
      float: left;
      margin-left: 5px;
    }
  }

  .extra-info {
    position: relative;
    padding-top: 12px;
    padding-bottom: 35px;
    border-top: 1px solid $grey-border;
    color:#333;

    .extra-links {
      float: right;

      li {
        float: left;
        font-size: $small-font-size;
        a{
          color:#333;
        }
      }
    }
  }
}