.main-header {
  padding-top: 10px;
  padding-bottom: 10px;

  .header-info{
    height:rem-calc(90);
    position:relative;

    .header-account-info{
      position: absolute;
      right:10px;
      top:25px;
      color:$grey;
      font-size: $small-font-size;
      li{
        list-style:none;
        float:left;
      }
    }

    .header-links{
      position:absolute;
      right:10px;
      top:50px;
      font-size: $small-font-size;
    }
    li{
      list-style:none;
      float:left;
      a:hover{
        text-decoration:underline;
      }
    }
  }

}
