$party-panel-list-bg:#f6f8fa;


.party-container {
  .party-topbar{

  }
  .party-panel{
  	border:1px solid $grey-border;
  	padding:rem-calc(3);
  	margin-bottom: $base-margin-bottom;
    @include clearfix;
    .pagination{
      margin:rem-calc(10);
    }
  	h3{
      font-size: $medium-font-size;
  		background:$primary-color;
  		color:#fff;
  		height:rem-calc(50);
  		line-height:rem-calc(46);
  		margin:0;
      padding:0 $panel-padding;
      .fa.right{
        font-size: $large-font-size;
        margin-top: rem-calc(15);
      }
  		small{
  			color:#fff;
  		}
  	}
  	.party-panel-list{
  		li{
  			background:$party-panel-list-bg;
  			margin:rem-calc(2 2 0 2);
  			padding:5px;
  			font-size: $small-font-size;
  			a{
  				color:$grey-dark;
  				text-decoration: none;
  			}
  		}
  	}
    .party-panel-con-bar{
      background:$party-panel-list-bg;
      padding:rem-calc(10) $panel-padding;
      span.right{
        font-size: $medium-font-size;
        margin-top: rem-calc(5);
      }
    }
  }
  .party-user-table{
      margin-bottom:0;
      border:0;
      tr{
        &:last-child{
          td{
            border-bottom:0;
          }
        }
      }
      th{
        background:$party-panel-list-bg;
        font-size: $small-font-size;
        color: $grey-dark;
      }
      .party-user-table-img{
        float: left;
      }
      .party-user-table-info{
        margin-left:rem-calc(60);
        h4{
          font-size: $small-font-size;
          color:$grey-dark;
          small{
            font-size: 80%;
          }
        }
      }
      .party-user-table-num{
            display: block;
            width:rem-calc(20);
            height: rem-calc(20);
            line-height: rem-calc(20);
            background:$primary-color;
            color: #fff;
            text-align: center;
            border-radius:50%;
      }
  }
  .party-title{
    min-height: rem-calc(40);
    h4{
      margin-right:rem-calc(20);
      .fa{
        margin-right: rem-calc(5);
        font-size:$h3-font-size;
      }
    }
  }
  .party-info{
    height: rem-calc(30);
    margin-bottom: $base-margin-bottom;
    li{
      float:left;
      font-size: $small-font-size;
      color: $grey-dark;
      &:after{
        content:'|';
        margin:0 rem-calc(7);
      }
      &:last-child{
        content:'';
      }
      a{
        color:$grey-dark;
        text-decoration: underline;
      }
    }
  }
  .party-goal{
    &.row{margin-bottom: $base-margin-bottom;}
    .party-goal-invited,.party-goal-attending,.party-goal-orders,.party-goal-earnings{
      text-align: center;
      p{
        width:rem-calc(120);
        height:rem-calc(120);
      }
    }
    .party-goal-invited{
      h5{
        color:#49abe3;
      }
    }
    .party-goal-attending{
      h5{
        color:#a1d16f;
      }
    }
    .party-goal-orders{
      h5{
        color:#f4633f;
      }
    }
    .party-goal-earnings{
      h5{
        color:#f795a2;
      }
    }
  }
  .party-price{
      color:$primary-color;
      font-size: $large-font-size;
      padding:$panel-padding;
      li{
        border-left: 1px solid $grey-border;
        height: rem-calc(90);
        span{
          display:block;
        }
        small{
          color:$grey-dark;
          font-size: $small-font-size;
        }
      }
      li:first-child{
        border-left: 0;
      }
  }

  .party-rsvps{
    padding:$panel-padding;
    h4{
      height: rem-calc(20);
      line-height: rem-calc(20);
      margin-bottom:$base-margin-bottom;
      .button{
        vertical-align: middle;
        margin-left: rem-calc(10);
      }
      small{
        margin-top:rem-calc(10);
      }
    }
    li{
      strong{
        display:block;
        background:#edf0f4;
        padding:rem-calc(20 5);
        text-align: center;
        font-size: $large-font-size;
        color:$primary-color;
      }
      button{
        width:100%;
      }
    }
  }

  .party-none-step{
    li{
      b{
        display: inline-block;
        width:rem-calc(30);
        height: rem-calc(30);
        background:$primary-color;
        text-align: center;
        color: #fff;
        font-size: $large-font-size;
        border-radius: 50%;
        margin-right: 10px;
        vertical-align: top;
      }
      p{
        display: inline-block;
        font-size: $small-font-size;
        color: $grey-dark;
        line-height:1.5;
        a{
          text-decoration: underline;
          color: $primary-color;
        }
      }
    }
  }

  .party-email-banner{
    margin-bottom: $base-margin-bottom;
    position: relative;
    .party-email-banner-text{
      position: absolute;
      z-index: 2;
      top:0;
      width:100%;
      text-align: center;
      color:#fff;
      padding-top:4%;
      h2{
        color:#fff;
        line-height: 1;
        small{
          color:#fff;
          font-size: $medium-font-size;
        }
        margin-bottom: 4%;
      }
      p{
        margin-bottom: 4%;
      }
      a{
        color:#fff;
        text-decoration: underline;
        font-size: $small-font-size;
      }
      .party-email-banner-button{
        text-align: center;
        margin-top: rem-calc(20);
        margin-bottom: rem-calc(5);
        .button{
          color:$primary-color;
          background:#fff;
          border-bottom:3px solid #5ca6af;
          border-radius:rem-calc(5);
          margin-left:rem-calc(10);
          margin-right:rem-calc(10);
        }
        a.button{
          text-decoration: none;
        }
      }
    }
  }

  h3{
    small.right{
      margin-top:rem-calc(15);
      a{
        color: $grey-dark;
        text-decoration: underline;
      }
    }
  }

  .dorpMenu{
    .dropMenu-con{
      text-align: center;
      min-width: rem-calc(60);
    }
  }

}




























