$party-panel-list-bg:#f6f8fa;


.party-container {
  .party-topbar{

  }
  .party-panel{
  	border:1px solid $grey-border;
  	padding:rem-calc(3);
  	margin-bottom: $base-margin-bottom;
  	h3{
      font-size: $medium-font-size;
  		background:$primary-color;
  		color:#fff;
  		height:rem-calc(50);
  		line-height:rem-calc(46);
  		margin:0;
  		small{
  			color:#fff;
  		}
  	}
  	.party-panel-list{
  		li{
  			background:$party-panel-list-bg;
  			margin:rem-calc(2 2 0 2);
  			padding:5px;
  			font-size: $small-font-size;
  			a{
  				color:$grey-dark;
  				text-decoration: none;
  			}
  		}
  	}
  }
  .party-title{
    min-height: rem-calc(40);
    h4{
      margin-right:rem-calc(20);
      .fa{
        margin-right: rem-calc(5);
        font-size:$h3-font-size;
      }
    }
  }
  .party-info{
    height: rem-calc(30);
    margin-bottom: $base-margin-bottom;
    li{
      float:left;
      font-size: $small-font-size;
      color: $grey-dark;
      &:after{
        content:'|';
        margin:0 rem-calc(7);
      }
      &:last-child{
        content:'';
      }
      a{
        color:$grey-dark;
        text-decoration: underline;
      }
    }
  }
  .party-goal{
    &.row{margin-bottom: $base-margin-bottom;}
    .party-goal-invited,.party-goal-attending,.party-goal-orders,.party-goal-earnings{
      text-align: center;
    }
    .party-goal-invited{
      h5{
        color:#49abe3;
      }
    }
    .party-goal-attending{
      h5{
        color:#a1d16f;
      }
    }
    .party-goal-orders{
      h5{
        color:#f4633f;
      }
    }
    .party-goal-earnings{
      h5{
        color:#f795a2;
      }
    }
  }
  .party-price{
      color:$primary-color;
      font-size: $large-font-size;
      &.row{margin:rem-calc(20 10);}
      li{
        border-left: 1px solid $grey-border;
        height: rem-calc(90);
        span{
          display:block;
        }
        small{
          color:$grey-dark;
          font-size: $small-font-size;
        }
      }
      li:first-child{
        border-left: 0;
      }
  }

  .party-rsvps{
    padding:rem-calc(15 0);
    h4{
      height: rem-calc(20);
      line-height: rem-calc(20);
      margin-bottom:$base-margin-bottom;
      .button{
        vertical-align: middle;
        margin-left: rem-calc(10);
      }
      small{
        margin-top:rem-calc(10);
      }
    }
    li{
      strong{
        display:block;
        background:#edf0f4;
        padding:rem-calc(20 5);
        text-align: center;
        font-size: $large-font-size;
        color:$primary-color;
      }
      button{
        width:100%;
      }
    }
  }

  .dorpMenu{
    .dropMenu-con{
      text-align: center;
      min-width: rem-calc(60);
    }
  }

}




























