.product-detail {
  margin-bottom: 20px;

  .detail-image {
    height: 305px;
    line-height: 304px;
    text-align: center;
    border: 1px solid $grey-border;
    img {
      max-height: 300px;
    }
  }

  .thumbnails {
    margin-top: 20px;

    .thumbnail-image {
      height: 100px;
      cursor: pointer;
      border: 2px solid transparent;
      text-align: center;
      display: table-cell;
      vertical-align: middle;

      img {
        width: 100%;
      }

      &.current {
        border-color: $grey-border;
      }
    }
  }

  .info-panel {
    border-bottom: 1px dashed $grey-border;
    padding: 20px 0;

    &.first {
      padding-top: 0;
    }

    &.last {
      border-bottom: 0;
    }

    .info-panel-title {
      font-weight: bold;
      margin-bottom: 10px;
      font-size: $medium-font-size;
    }

    .options {
      @include clearfix;

      li {
        float: left;
        border: 2px solid $grey-border;
        padding: 10px;
        text-align: center;
        margin-right: 10px;
        font-size: $medium-font-size;
        cursor: pointer;

        &.current {
          border-color: $primary-color;
        }
      }
    }
  }

  h2 {
    margin: 0;
  }

  .name {
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .price {
    margin-top: 20px;
  }

  .quantity {
    input {
      width: 60px;
      margin-bottom: 0;
    }
  }

  .shopping {
    button {
      margin-right: 20px;
      margin-bottom: 0;
    }
  }

  .detail-description {
    color: $grey-dark;
  }
}
