.profile-container {

  padding: 68px;

  header {
    border-bottom: 1px solid $grey-border;
    padding: 0 0 10px 0;
  }
  
  .panel {
    margin-bottom: 0px;
    padding-top: 0px;
    .row {
      margin-bottom: 15px;
    }
  }

  div, label, input[type], select {
    font-size: 12px;
  }

  div.columns {
    padding-left: 0;
  }

  .row header.row {
    margin-bottom: 20px;
    h3, div, a {
      padding: 0;
      margin: 0;
      height: 20px;
      line-height: 20px;
      vertical-align: sub;
    }

    a {
      display: inline-block;
      font-size: 12px;
    }
  }


  
}