@import "foundation/scss/foundation/functions";
$fa-font-path: "/bower_components/fontawesome/fonts";

$body-bg:url('../images/body-bg.jpg') transparent 0 0 repeat;

$row-width:rem-calc(960);

$grey-lighter: #F5F5F5;
$grey-light: #eee;
$grey: #ccc;
$grey-dark: #999;
$grey-darker: #666666;
$grey-border: #b7b7b7;
$border-radius: rem-calc(5);

$red: #EB5A3C;
$pink: #f297a3;

$base-font-size: 16px;
$rem-base: $base-font-size;
$small-font-size: rem-calc(12);
$medium-font-size: rem-calc(14);
$large-font-size: rem-calc(18);
$base-font-color: #8c8c8c;
$body-font-color: #8c8c8c;

$primary-color: #05bab1;
$secondary-color: #b9b9b9;

$h2-font-size: rem-calc(24);
$h3-font-size: rem-calc(22);
$h4-font-size: rem-calc(18);
$h5-font-size: rem-calc(16);
$h6-font-size: rem-calc(14);

$anchor-font-color: $primary-color;
$anchor-font-color-hover: $primary-color;

$button-tny: rem-calc(5);
$button-sml: rem-calc(8);
$button-med: rem-calc(10);
$button-lrg: rem-calc(12);
$button-font-med: rem-calc(14);
$button-font-weight: bold;
$button-function-factor: -20%;
$button-margin-bottom:0;
$button-font-color-alt:#fff;

$cursor-default-value: auto;

$header-font-family: Arial, sans-serif;
$body-font-family: Arial, sans-serif;

$list-nested-margin: 0;

$table-border-size: 0;
$table-head-font-size: rem-calc(18);
$table-head-bg: #EEEEEE;
$table-even-row-bg: $grey-light;

$base-margin-top: rem-calc(10);

// common style
$font-weight-bold: bold !default;

// foundation style reset
	// panel style
	$panel-bg:#fff;
	$panel-border-size:0;

	// table style

	//pagination
	$pagination-link-active-bg: none;
	$pagination-link-current-background: none;
	$pagination-link-current-active-bg: none;
	$pagination-link-current-font-color: $primary-color;
	$pagination-link-pad: rem-calc(1 3 1);

	//form
	$form-spacing: rem-calc(14);


