@import "foundation/scss/foundation/functions";

$grey-lighter: #F5F5F5;
$grey-light: #DCDCDC;
$grey: #C8C8C8;
$grey-dark: #B6B6B6;
$grey-darker: #666666;
$grey-border: #D6D7D6;

$red: #EB5A3C;

$base-font-size: 12px;
$rem-base: $base-font-size;
$medium-font-size: rem-calc(14);
$large-font-size: rem-calc(18);
$base-font-color: #222;

$primary-color: #4AD0FF;
$secondary-color: #4EACDB;

$h2-font-size: rem-calc(26);
$h3-font-size: rem-calc(24);
$h4-font-size: rem-calc(22);
$h5-font-size: rem-calc(20);
$h6-font-size: rem-calc(18);

$anchor-font-color: black;

$button-font-med: rem-calc(14);
$button-med: rem-calc(10);
$button-font-weight: bold;
$button-function-factor: -20%;

$cursor-default-value: auto;

$header-font-family: Arial, sans-serif;
$body-font-family: Arial, sans-serif;

$list-nested-margin: 0;

$table-border-size: 0;
$table-head-font-size: rem-calc(18);
$table-head-bg: #EEEEEE;
$table-even-row-bg: white;

$crumb-bg: white;
$crumb-border-size: 0;
$crumb-font-size: $medium-font-size;
$crumb-padding: 30px 0;

$tabs-navigation-font-size: $medium-font-size;
$tabs-navigation-bg-color: white;