<div class="row career-container">
  <div class='columns show-for-small-only small-12'>
    <ul class='blue-block-navigation blue-horizontal-navigation sticker'>
      <li><a href='#career-1' du-smooth-scroll>BECOME A MIIOON ANGEL</a></li>
      <li><a href='#career-7' du-smooth-scroll>OUR FOUNDER ANGELS DAY</a></li>
      <li><a href='#career-2' du-smooth-scroll>HOW IT WORKS FOR YOU</a></li>
      <li><a href='#career-3' du-smooth-scroll>WHAT IS MIIOON</a></li>
      <li><a href='#career-4' du-smooth-scroll>OUR MISSION</a></li>
      <li><a href='#career-5' du-smooth-scroll>THE OPPORTUNITY</a></li>
      <li><a href='#career-6' du-smooth-scroll>TIPS AND FAQS</a></li>
    </ul>
  </div>
  <div class="columns medium-9 small-12">
    <div class='career-1' id='career-1'>
      <h2>Become a <br/>Miioon Angel</h2>
      <h3>Give yourself a fun flexible and<br/>rewarding business this year.</h3>
      <label><input type='radio' /> Sign up for <strong>￡98</strong> and get <strong>￡235</strong> value in bright and beautiful children's clothing.</label>
      <a href='#/signup' class='button'>SIGN UP TODAY</a>
      <a onclick="$('#glossi-embed-114353').click();" href="javascript:void(0);" class='starter-pack'></a>
      <img class='career-1-monster' src='images/career/career-1-1.png' />
      <img class='career-1-bg' src='images/career/career-1-2.jpg' />
    </div>
    <div ng-include="'/views/starter-pack.html'"></div>
    <div class='career-7 bottom-arrow' id='career-7'>
      <h2 class='text-center'>Our <strong>Miioon Angel</strong></h2>
      <div class="flex-video widescreen career-video">
        <iframe width="560" height="315" src="//www.youtube.com/embed/Dczco2_iTB4" frameborder="0" allowfullscreen></iframe>
      </div>
      <img class='career-7-bg' src='images/career/career-7-1.jpg' />
    </div>
    <div class='career-2 bottom-arrow' id='career-2'>
      <h2 class='text-center'>How <strong>it works for you</strong></h2>
      <p class='career-2-p1 text-center large-font'>Run your own business from home or on-the-go, show off your award winning children's samples and sell gift cards, which allow children to have fun designing their own clothing at miioon.com</p>
      <div class='career-2-p2 medium-font'>
        <h3>The Pay</h3>
        Extra spending money, or a six figure salary - we provide the support to help you get there! <span>Get paid 30% commissions, every week.</span>
      </div>
      <div class='career-2-p3 medium-font'>
        <h3>The Perks</h3>
        Our mission is to spread HAPPINESS - to our mumpreneur, their customers and the kids who create on <a href='http://www.miioon.com'>miioon.com</a>.  Giving you the opportunity to reach your financial goals and becoming part of our warm community of inspiring women, helps you achieve this.  But that is not all, we also have monthly incentives and product discounts so it's easier for you to spread the happiness that is miioon.
      </div>
      <div class='career-2-p4 medium-font'>
        <h3>The Tools</h3>
        You get an e-commerce website, and 24/7 access to our online community, business resources, sales training and back-office technology to manage and grow your business.  Head office handles the customer service and delivery direct to your customers, so there is no need to hold costly inventory and you have more time to focus on your business.
      </div>
      <div class='text-center'><a href='#/signup' class='button career-bt-red'>START EARNING TODAY!</a></div>
    </div>
    <div class='career-3 bottom-arrow' id='career-3'>
      <p class='text-center career-3-bt'><a href='https://miioon.com/' class='button career-bt-red'>VISIT MIIOON.COM</a></p>
      <img class='career-3-bg' src='images/career/career-3-1.jpg' />
    </div>
    <div class='career-4 bottom-arrow' id='career-4'>
      <h2 class='text-center'>Our <strong>mission</strong></h2>
      <p class='career-4-p1 large-font'>is to make mums present heroes and inspire women to start their own business, by giving them products and services that no mum can be without</p>
      <p class='career-4-p2 text-center'><img src='images/career/career-4-1.jpg' alt='Our mission' /></p>
      <p class='career-4-p3 text-center large-font'>Our Mission Angels solve the kids gift buying problem.<br/>What mum doesn't want to be <strong>a present buying super hero?</strong></p>
      <p class='text-center career-4-bt'><a href='#/signup' class='button'>SIGN UP TODAY</a></p>
    </div>
    <div class='career-5 bottom-arrow' id='career-5'>
      <h2 class='text-center'>The <strong>opportunity</strong></h2>
      <p class='career-5-p1 large-font text-center'>Here's why being an Miioon Angel is both fun and rewarding:</p>
      <div class='row'>
        <div class='columns small-7'>
          <div class='career-5-p2 medium-font'>
            <h3>THE UK KIDS CLOTHING AND GIFT MARKETS ARE WORTH OVER ￡7 BILLION</h3>
            Have fun making money by cutting out the high street and passing on the savings to your friends and family.
          </div>
          <div class='career-5-p3 medium-font'>
            <h3>AWARD WINNING PRODUCTS</h3>
            From the Swoopercape® to the Ruckjack® all miioon products are designed with both kids and parents in mind. You will only EVER sell products you are 100% proud of.
            <img src='images/career/career-5-2.png' alt='AWARD' />
          </div>
          <div class='career-5-p4 medium-font'>
            <h3>BEST KID'S BRANDS ON THE MARKET, PLUS SOME UNIQUE ONES TOO.</h3>
            From Moshi monsters to TMNT (with many more to come soon), your kids will love the fact their mum is working with the names they and their friends love best.
          </div>
          <div class='career-5-p5 medium-font'>
            <h3>TEAM MIIOON ARE BEHIND YOU 100% OF THE WAY</h3>
            Oreders are made and shipped within 48 hours, there is 24/7 customer service support on all other enquiries, your own miioon Angel website and online back-office, where you can manage your business, plus you are supported by Ginny the Miioon Angel.
          </div>
        </div>
        <div class='columns small-5'>
          <img src='images/career/career-5-1.png' alt='The Opportunity' />
        </div>
      </div>
      <p class='text-center'><a href='#/signup' class='button'>BECOME A MIIOON ANGEL</a></p>
    </div>
    <div class='career-6' id='career-6'>
      <h2 class='text-center'><strong>Tips</strong> and <strong>FAQs</strong></h2>
      <div class='career-6-p1'>
        <h3>How do I sell?</h3>
        <p>This is the fun part - get creative! You are the boss of your business!! <br/>But here are just a few ideas to get you started:</p>
        <ul>
          <li>▪ Launch your business and invite friends and family to a miioon party! Let children be your models and have fun introducing guests to the world of miioon.</li>
          <li>▪ miioon gift cards and technology make repeat sales easy.</li>
          <li>Take your pop-up shop to fairs, charity events, craft markets, Christmas fetes, mother & toddler groups, school fairs, church bazaars.</li>
          <li>▪ Leave your gift card stands where people shop locally, and where an easy to give miioon gift card could save your customer time (coffee shops, hair salons, your neighbourhood shops).</li>
          <li>▪ Leave your miioon cards where people work, play, and wait!</li>
          <li>▪ Hook up with other social selling mums (gadgets, jewellery) to provide a 'market place' that covers everyone's gift giving needs.</li>
          <li>▪ Sell to friends and mummy networks through Facebook and Twitter.</li>
        </ul>
        <img class='career-6-p1-monster' src='images/career/career-6-1.png' alt='How do I sell?' />
      </div>
      <div class='career-6-p2'>
        <h3>Are you an Miioon Angel?</h3>
        <ul>
          <li>Do you <strong>know children</strong> who might <strong>enjoy creating</strong> their <strong>own designs</strong> using our brilliant range of Miioon children’s clothing?</li>
          <li>Do you know people who buy children’s gifts and would you <strong>enjoy making their lives easier</strong> – who isn’t time and money stretched these days?</li>
          <li>Have you dreamed of <strong>working for a fun brand</strong> that has a <strong>positive influence</strong> on those in it, with a <strong>mission to inspire</strong> creativity and decision making skills in children?</li>
          <li>Do you have experience with social selling, or have you considered social selling, but you are looking for an <strong>opportunity with a better fit</strong>, perhaps less pushy?</li>
          <li>If you like what you hear and think you might like to be part of our team of Miioon Angel then <strong>please register at the top of the page</strong>.</li>
        </ul>
        <img class='career-6-p2-monster' src='images/career/career-6-2.png' alt='Are you an Miioon Angel?' />
      </div>
      <div class='career-6-p3'>
        <h3>Remember!</h3>
        <p class='career-6-p3-1'>Always keep a supply of miioon gift cards - there is always someone needing a special hassle free gift for a child - and there are thousands of creations to be had! </p>
        <p class='career-6-p3-2'>Cards from £12.50-£100.00, - perfect for kids birthday parties, or kids gifts. </p>
        <img class='career-6-p3-monster' src='images/career/career-6-3.png' alt='Remember!' />
      </div>
    </div>
  </div>
  <div class='columns medium-3 show-for-medium-up'>
    <ul class='blue-block-navigation text-right sticker'>
      <li><a href='#career-1' du-smooth-scroll>BECOME A MIIOON ANGEL</a></li>
      <li><a href='#career-7' du-smooth-scroll>OUR FOUNDER ANGELS DAY</a></li>
      <li><a href='#career-2' du-smooth-scroll>HOW IT WORKS FOR YOU</a></li>
      <li><a href='#career-3' du-smooth-scroll>WHAT IS MIIOON</a></li>
      <li><a href='#career-4' du-smooth-scroll>OUR MISSION</a></li>
      <li><a href='#career-5' du-smooth-scroll>THE OPPORTUNITY</a></li>
      <li><a href='#career-6' du-smooth-scroll>TIPS AND FAQS</a></li>
    </ul>
  </div>
</div>
