
<div class='row contact-container'>
  <div class='columns medium-12'>
    <h2>CONTACT US</h2>
    <p><i class='icons-email'></i><b>Email</b><br/><br/>We are happy to answer your questions. Please email us at <a href='mailto:TheOons@Miioon.com'>TheOons@Miioon.com</a>. We will answer your enquiry within 2 business days. If you would like to give us feedback or are dissatisfied with our services then please email us at <a href='mailto:MamaandPapaOon@Miioon.com'>MamaandPapaOon@Miioon.com</a>. We will answer your enquiry within 1 business day. </p>
    <p><i class='icons-phone'></i><b>Telphone</b><br/><br/>You can give us a call any time, 24 hours a day 0845 287 9770 (normal land line rates apply, according to your provider). </p>
    <p><i class='icons-location'></i><b>Address</b><br/><br/>Miioon HQ<br/>The Oons<br/>2 Claremont<br/>Cambridge<br/>CB2 1PA<br/>UK</p>
  </div>
</div>
