<div class="row fundraising-container">
  <!--<div class='columns show-for-small-only small-12'>-->
    <!--<ul class='blue-block-navigation blue-horizontal-navigation sticker'>-->
      <!--<li><a href='#fundraising-1' du-smooth-scroll>FUNDRAISING A MIIOON MEET</a></li>-->
      <!--<li><a href='#fundraising-2' du-smooth-scroll>SCHOOL FUNDRAISER</a></li>-->
      <!--<li><a href='#fundraising-4' du-smooth-scroll>ORGANISATION / CHARITY</a></li>-->
    <!--</ul>-->
  <!--</div>-->
  <div class="columns small-9">
    <div class='blue-border-panel bottom-arrow text-center' id='fundraising-1' name='fundraising-1'>
      <div class='row'>
        <div class='columns small-12'>
          <img src='images/fundraising/fundraising-1.jpg' alt='Miion Opportunity' />
        </div>
      </div>
      <div class="flex-video widescreen fundraising-video">
        <iframe width="100%" src="//player.vimeo.com/video/95838354" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class='row'>
        <div class='columns small-12'>
          <img src='images/fundraising/fundraising-2.jpg' alt='Miion Opportunity' />
        </div>
      </div>
      <p><a href="mailto:mamaandpapaoon@miioon.com?subject=Fundraiser" class='button small'>CONNECT WITH AN MIIOON ANGEL</a></p>
    </div>
    <div class='grey-border-panel bottom-arrow text-center' id='fundraising-2' name='fundraising-2'>
      <div class='row'>
        <div class='columns small-12'>
          <img src='images/fundraising/fundraising-3.jpg' alt='School Fundraiser' />
        </div>
      </div>
      <p><a href="mailto:mamaandpapaoon@miioon.com?subject=Fundraiser" class='button fundraising-red small'>CONNECT WITH AN MIIOON ANGEL</a></p>
    </div>
    <div class='pink-border-panel bottom-arrow text-center' id='fundraising-4' name='fundraising-4'>
      <div class='row'>
        <div class='columns small-12'>
          <img src='images/fundraising/fundraising-4.jpg' alt='Charity/Organisation Fundraiser' />
        </div>
      </div>
      <br/>
      <p><a href="mailto:mamaandpapaoon@miioon.com?subject=Fundraiser" class='button fundraising-pink small'>CONNECT WITH AN MIIOON ANGEL</a></p>
    </div>
  </div>
  <div class='columns small-3'>
    <ul class='blue-block-navigation text-right sticker'>
      <li><a href='#fundraising-1' du-smooth-scroll>FUNDRAISING A MIIOON MEET</a></li>
      <li><a href='#fundraising-2' du-smooth-scroll>SCHOOL FUNDRAISER</a></li>
      <li><a href='#fundraising-4' du-smooth-scroll>ORGANISATION / CHARITY</a></li>
    </ul>
  </div>
</div>
