<div class="row">
  <div class="columns small-12">
    <div class="slider">
      <ul>
        <li>
          <a href="https://kids.miioon.com">
            <img src="images/home/banner1.png"/>
          </a>
        </li>
        <li>
          <a href="#/gift/gift-card">
            <img src="images/home/banner2.png"/>
          </a>
        </li>
        <li>
          <a href="#/gift/gift-card">
            <img src="images/home/banner3.png"/>
          </a>
        </li>
        <li>
          <a href="http://www.miioon.com/#/product/21">
            <img src="images/home/banner4.png"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="row grid-promotions">
  <div class="columns small-4 first-promotion">
    <a href="#/career">
      <img src="images/home/become.png" alt="Become a Miioon Angel"/>
    </a>
  </div>
  <div class="columns small-8 second-promotion">
    <a href="#/products/clothing/ruckjack-girls">
      <img src="images/home/ruckjack.png" alt="Ruckjack"/>
    </a>
  </div>
</div>
<div class="row grid-promotions">
  <div class="columns small-8 first-promotion">
    <a href="#/products/clothing/tshirt-boys">
      <img src="images/home/t-shirt.png" alt="T Shirt"/>
    </a>
  </div>
  <div class="columns small-4 second-promotion">
    <a href="#/brand">
      <img src="images/home/title-brands.png" alt="Title Brands"/>
    </a>
  </div>
</div>
<div class="row grid-promotions">
  <div class="columns small-4 first-promotion">
    <a href="#/products/clothing/hoody-girls">
      <img src="images/home/hoody.png" alt="Hoody"/>
    </a>
  </div>
  <div class="columns small-8 second-promotion">
    <a href="#/products/clothing/swoopercape">
      <img src="images/home/swooper-cape.png" alt="Swooper Cape"/>
    </a>
  </div>
</div>
