<nav class="main-navigation" ng-controller="MainNavigationController">
  <div class="row">
    <ul class="small-12 columns root-taxons">
      <li>
        <a href="">ABOUT US</a>
        <div class="sub-taxons-container sub-about-us">
          <div class="row">
            <ul class="sub-taxons columns small-12">
              <li>
                <a href="#/about">WHAT IS MIIOON</a>
              </li>
              <li>
                <a href="#/fundraising">FUNDRAISING WITH MIIOON</a>
              </li>
            </ul>
          </div>
        </div>
      </li>
      <li>
        <a href="#/brand">BRANDS</a>
      </li>
      <li>
        <a href="#/gift/gift-card">gift card</a>
      </li>
      <li ng-repeat="taxon in taxons | orderBy: 'position' ">
        <a href="{{taxon | taxonLink}}">
          {{taxon.name}}
        </a>
        <div class="sub-taxons-container" ng-if="taxon.id === 5">
          <div class="row">
            <ul class="sub-taxons columns small-6">
              <li ng-repeat="subTaxon in taxon.subTaxons | orderBy: 'position' ">
                <a href="#/products/{{taxon.permalink}}/{{subTaxon.permalink}}">{{subTaxon.name}}</a>
              </li>
            </ul>
            <div class="sub-taxon-thumbnail columns small-6 text-center">
              <img src="images/taxon/taxon-thumbnail-clothing.png" alt="Clothing"/>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="#/press">PRESS</a>
      </li>
      <li>
        <a onclick="$('#glossi-embed-114370').click();" href="javascript:void(0);">look book</a>
      </li>
      <li class="career-opportunity right">
        <a class="button" href="#/career">CAREER OPPORTUNITY</a>
      </li>
    </ul>
  </div>
</nav>
