<header class="main-header row" ng-controller="HeaderController">
  <div class="row">
    <div class="columns medium-8 small-7">
      <ul class="header-links separator-slash" ng-if="!user.isLogin">
        <li>
          <a href="#/signin">Sign In</a>
        </li>
        <li>
          <a href="#/gift/gift-card">Gift</a>
        </li>
        <li>
          <a href="#/fundraising" class="primary-color">Fundraising</a>
        </li>
      </ul>
      <ul class="header-links separator-slash" ng-if="user.isLogin">
        <li>
          Welcome {{user.data.name}}
        </li>
        <li ng-if="user.data.roleCode === 'R'">
          <a href="#/report/order">Orders</a>
        </li>
        <li ng-if="user.data.roleCode === 'R'">
          <a href="#/account">Account</a>
        </li>
        <li>
          <a href="#/gift/gift-card">Gift</a>
        </li>
        <li>
          <a href="#/host">Host</a>
        </li>
        <li ng-if="user.data.roleCode === 'D'">
          <a href="{{backOfficeUrl}}">BackOffice</a>
        </li>
        <li>
          <a ng-click="logout()">Logout</a>
        </li>
      </ul>
    </div>
    <div class="columns medium-4 small-5">
      <div class="shopping-bag right">
        <i class="icons-shopping-bag"></i>
        <a href="#/shopping" ng-if="shopping.items.length > 0">
          Shopping Bag ({{shopping.items.length}})
        </a>
        <span ng-if="shopping.items.length === 0">
          Shopping Bag (0)
        </span>
        <!-- contact me popup
        <i class='icons-message'></i>
        <a href ng-click='contactMe();'>Contact Me</a>
        -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="medium-3 show-for-medium-up columns">
      <a ng-href="http://kids.miioon.com?SponsorId={{replicateOwner.login}}">
        <img src="images/kids-link.gif" alt="Kids this way"/>
      </a>
    </div>
    <div class="medium-6 show-for-medium-up columns">
      <a href="#/" class="logo">
        <img alt="Miioon" src="images/logo.png">
      </a>
    </div>
    <div class="medium-3 show-for-medium-up end columns">
      <ul ng-if="replicateOwner">
        <li>Sponsor Name: {{ replicateOwner['first-name'] + ' ' + replicateOwner['last-name'] }}</li>
        <li>Sponsor Id: {{ replicateOwner['distributor-id'] }}</li>
        <li>Email: {{ replicateOwner['email']}} </li>
        <!--<img alt="{{ replicateOwner['first-name'] + replicateOwner['last-name'] }}" src="replicateOwner['profile-image-url']">-->
      </ul>
    </div>
    <div class="small-12 show-for-small-only end columns text-center">
      <a href="#/" class="logo">
        <img alt="Miioon" src="images/logo.png">
      </a>
    </div>
  </div>
</header>
