<div class="row">
  <div class="columns medium-12 text-content">
    <h3>
      Helpful Services
    </h3>
    <p>
      <b>
        We are here for you
      </b>
    </p>
    <p>
        We are happy to answer your questions. Please email us at TheOons@Miioon.com. We will answer your enquiry within 1-2 business day.<br/>
        Or you can give us a call any time, 24 hours a day 0845 287 9770 (normal land line rates apply, according to your provider).
    </p>
    <p>
      <b>
        We care about
      </b>
    </p>
    <ul>
      <li>
         customer satisfaction: our friendly service team are here to provide accurate answers and information. We are glad to help.
      </li>
      <li>
        a fair return policy: if you are unhappy with your order and it did not meet your expectations: we want to hear from you TheOons@Miioon.com
      </li>
      <li>
        your kid’s creations: we do everything in our power to make sure that your kid’s creations are to the highest quality.
      </li>
      <li>
        the security of your data: your personal data is completely confidential.
      </li>
    </ul>
    <h3>
      <i class="icons-return-arrow"></i> Can I return or exchange goods I have received?
    </h3>
    <p>
      <b>
        For the Ruckjack:
      </b>
    </p>
    <p>
      If you don’t like your design you can return it at your own cost within 30 days and we will provide you with a credit note or happily exchange it for another.
    </p>
    <p>
      <b>
        T-shirt and Swoopercape orders:
      </b>
    </p>
    <p>
      Please remember that every order you receive from Miioon is a unique, and custom made item that has been especially made to your child’s needs. This is what distinguishes us from more traditional clothing manufacturers. Please note returned goods cannot be resold and are either donated or thrown away.
    </p>
    <p>
      If you do make a mistake with your order, call us and we will see what we can reasonably do to help you get the garment you want.
    </p>
    <p>
      However, if the print or garment is faulty please email us TheOons@Miioon.com with a photograph (no need to send back) and we will happily send you a new one.
    </p>
    <p>
      <b>
        Returns address:
      </b>
    </p>
    <p>
      The Oons<br/>
      Miioon HQ<br/>
      2 Claremont<br/>
      Cambridge<br/>
      CB2 1PA
    </p>
    <p>
      <b>
        What can you do to help us keep our promise?
      </b>
    </p>
    <ul>
      <li>
        Please use our top tips for measuring.
      </li>
      <li>
        Check your order’s email confirmation immediately.
      </li>
      <li>
        Order as soon as possible if your order is designed for a specific date.
      </li>
    </ul>
    <p>
      We are fast, but we cannot guarantee that your order will arrive at your door the very next day. Sometimes there can be delays due to design problems or the product not being in stock. We cannot accept a product being a day late for a birthday as a reason for return.
    </p>
    <h3><i class="icons-clock"></i> Delivery times</h3>
    <p>
      Your items are printed by hand and dispatched no later than 2 days after your order. Please note that we have no impact on the actual delivery time, and that the calculation of delivery times are only estimates. We have no influence on delivery times.
    </p>
    <p><i class="icons-truck"></i> Production 1-2 business days + delivery = 5-7 business days.</p>
    <p>
      <b>
        How you can help speed up dispatch?
      </b>
    </p>
    <p>
      Payment in full to our account<br/>
      Complete and correct payment information (credit card payments)<br/>
      Complete delivery and billing addresses
    </p>
    <p>
      <b>
        Delivery Costs
      </b>
    </p>
    <p>
      Standard Delivery - £2.50<br/>
    </p>
  </div>
</div>
