<form class="sign-up-step-3 sign-up-step" name="step3" novalidate ng-submit="nextStep()">
  <div class="row">
    <h2 class="columns small-9">
      Create a new account
    </h2>

    <div class="columns small-3" ng-include="'views/sign-up/steps-navigation.html'"></div>
  </div>

  <!--<div ng-include="'views/sign-up/personal-information.html'"></div>-->

  <div
    data-personal-panel
    data-account="account"
    data-submitted="submitted"
    data-tpl="views/sign-up/panels/personal-panel.html"
    ></div>

  <div data-address-panel
       data-address-type="home"
       data-title="Home"
       data-address="address.home"
       data-submitted="submitted"
       data-tpl="views/sign-up/panels/address-panel.html"
    >
  </div>

  <div data-address-panel
       data-address-type="shipping"
       data-title="Shipping"
       data-address="address.shipping"
       data-home-address="address.home"
       data-submitted="submitted"
       data-tpl="views/sign-up/panels/address-panel.html"
    >
  </div>

  <div class="row title">
    <h6 class="small-3 text-right columns">
      DELIVERY OPTIONS
    </h6>
  </div>
  <div class="row" ng-repeat="shippingMethod in shippingMethods">
    <div class="small-9 small-offset-3 columns">
      <label class="inline">
        <input required ng-model="address.shippingAddress['shipping-method-id']" type="radio" name="shipping-method"
               ng-value="shippingMethod.id" id="shipping-method-{{shippingMethod.id}}"/>
        {{shippingMethod.name}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-5 medium-offset-3 end">
      <small ng-show="submitted && form['shipping-method'].$error.required" class="error">
        This field is required.
      </small>
    </div>
  </div>

  <div data-address-panel
       data-address-type="website"
       data-title="Web"
       data-address="address.website"
       data-home-address="address.home"
       data-submitted="submitted"
       data-tpl="views/sign-up/panels/web-address-panel.html"
    >
  </div>


  <div class="row">
    <div class="columns small-9 small-offset-3">
      <button type="submit">CONTINUE</button>
    </div>
  </div>
</form>
