.main-header {
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
  background: #fff;

  .header-links {
    color: $grey;
    font-size: rem-calc(12);
    margin-bottom: 10px;
    @include clearfix;

    li {
      float: left;

      a {
        color: $base-font-color;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .header-links-bowl {
      a {
        color: $primary-color;
      }
    }
  }

  .header-search {
    margin: 0;
    width: 350px;
    > .columns:first-child {
      padding-right: rem-calc(5);
    }
    .postfix.button {
      margin-left: rem-calc(5);
      line-height: rem-calc(30);
    }
    select {
      padding: rem-calc(5);
    }
    input[type='text'], .postfix.button, select {
      height: rem-calc(30);
      background: $grey-light;
      color: #fff;
      box-shadow: none;
      border: 0;
    }
  }
}