.party-container{
  .party-topbar{
    margin-top:$panel-margin-bottom;
    margin-bottom: $panel-margin-bottom;
  }

  table.party-list{
    border:1px solid $grey-border;
    margin-top:$panel-margin-bottom;
    tbody{
      tr:nth-of-type(2n){
        background:#f6f8fa;
      }
      tr:last-child{
        td{
          border-bottom:0;
        }
      }
    }
    .party-list-photo{
      text-align: center;
      vertical-align: top;
    }
    .party-list-info{
      font-size:$small-font-size;
      color:$grey-darker;
    }
  }


}


