<div class='row'>
  <div class='small-12 columns'>
    <ul class="breadcrumbs">
      <li>
        <a href="#/news">company news</a>
      </li>
      <!--TODO: fix display problemin safari, need to remove inline style when find a better way-->
      <li class="no-text-transform" style="width: 50%;">{{news.subject}}</li>
    </ul>
  </div>
</div>

<div class='row'>
	<h2 class="text-center">{{news.subject}}</h2>
	<p class="text-center">{{news.createdAt | readableTimestampFrom}}</p>
</div>

<div class='row'>
	<div class="columns medium-12">
		{{news.content}}
	</div>
</div>