<form>
            <div class="row">
              <div class="large-12 columns">
                <label>Recipients e-mail:
                  <input type="text" placeholder="" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-6 columns">
                <label>To:
                  <input type="text" placeholder="" />
                </label>
              </div>
              <div class="large-6 columns">
                <label>From:
                  <input type="text" placeholder="" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>Messages
                  <textarea placeholder=""></textarea>
                </label>
              </div>
            </div>
          </form>