<div class='gift'>
  <div class='row'>
    <div class='small-12 columns'>
      <ul class="breadcrumbs">
        <li><a href="#">&gt; GIFTS</a></li>
        <li class="current"><a href="#">GIFT CERTIFICATE</a></li>
      </ul>
    </div>
  </div>
  <div class='row gift-detail'>
    <!-- gift-detail-photo start -->
    <div class='medium-6 columns gift-detail-photo'>
      <div>
        <img src='images/gift/gift-img-big-1.jpg' alt='Gift Design' />
      </div>
    </div>
    <!-- gift-detail-photo end -->
    <!-- gift-detail-info start -->
    <div class='medium-6 columns gift-detail-info'>
      <h2>Gift Certificate</h2>
      <strong class='gift-detail-price'>
        ￡50.00 - ￡500.00
      </strong>
      <div class='gift-detail-quantity'>
        <h6>Amount:</h6>
        <select style='width:250px;'>
          <option>Choose an Amount...</option>
        </select>
      </div>
      <div class='gift-detail-designList'>
        <h6>Design:</h6>
        <ul class='clearfix'>
          <li><a href="#"><img src='images/gift/gift-img-small-1.jpg' alt='Gift Design' /></a></li>
          <li><a class="current" href="#"><img src='images/gift/gift-img-small-2.jpg' alt='Gift Design' /></a></li>
          <li><a href="#"><img src='images/gift/gift-img-small-1.jpg' alt='Gift Design' /></a></li>
        </ul>
      </div>
      <div class='gift-detail-detailList'>
        <h6>Delivery Details:</h6>
        <form>
          <div class="row">
            <div class="large-12 columns">
              <label>Recipients e-mail:
                <input type="text" placeholder="" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-6 columns">
              <label>To:
                <input type="text" placeholder="" />
              </label>
            </div>
            <div class="large-6 columns">
              <label>From:
                <input type="text" placeholder="" />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Messages
                <textarea placeholder=""></textarea>
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class='gift-detail-ctrBt'>
        <a href='#' class='button small'>PURCHASE</a>
      </div>
      <div class='gift-detail-share text-right'>
        <!--<span><i class="fa">SHARE:</i></span>-->
        <a href="#"><i class="fa fa-twitter-square"></i></a>
        <a href="#"><i class="fa fa-linkedin-square"></i></a>
        <a href="#"><i class="fa fa-pinterest-square"></i></a>
        <a href="#"><i class="fa fa-facebook-square"></i></a>
      </div>
    </div>
    <!-- gift-detail-info end -->
  </div>
</div>