<div class='row product-detail gift-card'>
  <div class='medium-6 columns gift-detail-photo'>
    <div>
      <img src='images/gift/gift-img-big-3.jpg' alt='Gift Design'/>
    </div>
  </div>
  <div class='medium-6 columns'>
    <div class="info-panel first">
      <h2>
        Gift Certificate
        <button ng-click="preview()" class='attenuate tiny right'>PREVIEW</button>
      </h2>
      <strong class='price large-font'>
        {{selectedGiftCard.price ? '￡' + selectedGiftCard.price : '￡12.50 - ￡100.00'}}
      </strong>
    </div>

    <div class='info-panel'>
      <label for="amount" class='info-panel-title'>Amount:</label>
      <select id="amount" name="amount" ng-options="giftCard.price for giftCard in giftCards | orderBy: price"
              ng-model="selectedGiftCard">
        <option value=''>Choose an Amount...</option>
      </select>
    </div>
    <div class='info-panel'>
      <h6 class='info-panel-title'>Delivery Details:</h6>

      <div class="tabs" data-tabset>
        <div data-tab ng-repeat="tab in tabs" data-heading="{{tab.title}}" data-active="tab.active">
          <div ng-include="tab.url"></div>
        </div>
      </div>

    </div>
    <div class='info-panel last'>
      <a href='#' class='button small'>PURCHASE</a>
    </div>
  </div>
</div>