<div class='gift'>
  <div class='row'>
    <div class='small-12 columns'>
      <ul class="breadcrumbs">
        <li><a href="#">&gt; GIFTS</a></li>
        <li class="current"><a href="#">GIFT CERTIFICATE</a></li>
      </ul>
    </div>
  </div>
  <div class='row gift-detail'>
    <!-- gift-detail-photo start -->
    <div class='medium-6 columns gift-detail-photo'>
      <div>
        <img ng-src={{giftImagesBig}} alt='Gift Design' />
      </div>
    </div>
    <!-- gift-detail-photo end -->
    <!-- gift-detail-info start -->
    <div class='medium-6 columns gift-detail-info'>
      <h2>Gift Certificate</h2>
      <strong class='gift-detail-price'>
        {{amount === 0 ? '￡12.50 - ￡40.00' : '￡' + amount}}
      </strong>
      <div class='gift-detail-quantity'>
        <h6>Amount:</h6>
        <select style='width:250px;' ng-model="amount" ng-init="amount=0">
          <option value='0'>Choose an Amount...</option>
          <option value='12.50'>￡12.50</option>
          <option value='20.00'>￡20.00</option>
          <option value='40.00'>￡40.00</option>
        </select>
      </div>
      <div class='gift-detail-designList'>
        <h6>Design:</h6>
        <ul class='clearfix'>
          
          <li><a data='1' ng-class='{current: giftImagesIndex == 1}' ng-click="switchGiftImages($event.target)"><img src='images/gift/gift-img-small-1.jpg' alt='Gift Design' data='1' /></a></li>
          <li><a data='2' ng-class='{current: giftImagesIndex == 2}' ng-click="switchGiftImages($event.target)"><img src='images/gift/gift-img-small-2.jpg' alt='Gift Design' data='2' /></a></li>

        </ul>
      </div>
      <div class='gift-detail-detailList'>
        <h6>Delivery Details:</h6>
        
        <div class="tabs" data-tabset>
          <div data-tab ng-repeat="tab in tabs" data-heading="{{tab.title}}" data-active="tab.active">
            <div ng-include="tab.url"></div>
          </div>
        </div>

      </div>
      <div class='gift-detail-ctrBt'>
        <a href='#' class='button small'>PURCHASE</a>
      </div>
      <div class='gift-detail-share text-right'>
        <!--<span><i class="fa">SHARE:</i></span>-->
        <a href="#"><i class="fa fa-twitter-square"></i></a>
        <a href="#"><i class="fa fa-linkedin-square"></i></a>
        <a href="#"><i class="fa fa-pinterest-square"></i></a>
        <a href="#"><i class="fa fa-facebook-square"></i></a>
      </div>
    </div>
    <!-- gift-detail-info end -->
  </div>
</div>