<div class="gift-preview-popup">
  <div class="row">
    <div class="small-12 columns">
      <h2>MIIOON GIFT CARD</h2>
    </div>
  </div>
  <div class="row gift-to-from">
    <div class="small-4 columns">
      <span>To:</span> <span class="grey-darker-color">{{giftCardInfo['name-to'] ? giftCardInfo['name-to'] : '--'}}</span>
    </div>
    <div class="small-4 columns">
      <span>From:</span> <span class="grey-darker-color">{{giftCardInfo['name-from'] ? giftCardInfo['name-from'] : '--'}}</span>
    </div>
    <div class="small-4 columns">
      <button ng-click="cancel();purchase()" class='tiny right'>PURCHASE NOW</button>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <p>{{giftCardInfo['email-message'] ? giftCardInfo['email-message'] : 'This is where the message goes...'}}</p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class='gift-preview-imgWrap'>
        <div class='gift-preview-cert'><strong>￡{{selectedGiftCard ? selectedGiftCard.price : '100'}}</strong><br/><span>Gift Card</span></div>
        <span class='gift-preview-code'>xxxxxx</span>
        <img src="{{selectedGiftCard.images[0] ? selectedGiftCard.images[0] : 'images/gift/gift-card-preview.jpg'}}" alt='Gift Card'/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="gift-preview-foot panel">
        <h2>TO USE YOUR E-GIFT CARD ONLINE</h2>
        <ul>
          <li>1. Go to miioon.com</li>
          <li>2. Click 'Design your own' or 'kids come with me', and create your garment</li>
          <li>3. At the checkout, enter your E-Gift card number above and pin number <span>123123</span></li>
          <li><strong>NOTE - kids gift vouchers have been designed for the Miioon kids co-creation pages and can not be
            used to pay for items in the made by mii shop.</strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
