<div class='gift'>
  <div class='row'>
    <div class='small-12 columns'>
      <h2>REVIEW & PLACE ORDER</h2>
    </div>
  </div>
  <div class='row'>
    <div class='small-12 columns'>
      <div data-alert class="alert-box error">
        You are placing a customer order now, please fill his/her information.
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  </div>
  <div class='row gift-checkout'>
    <!-- gift-checkout-info start -->
    <div class='medium-7 columns gift-checkout-info'>

      <h3>PAYMENT INFO</h3>
      <h4>Payment Method</h4>
      <div class='row'>
        <div class='small-12 columns no-columns-padding'>
          <label>Credit Card Number <small class='required'></small></label>
          <div class='row'>
            <div class='small-8 columns no-columns-padding'>
              <input type='text' class='ng-invalid' /> 
              <small class="error">This information is required.</small>
            </div>
            <div class='small-4 columns no-columns-padding'>
              <img src="../images/creditCard.jpg" alt='' />
            </div>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='small-8 columns no-columns-padding'>
          <label>Expiration Date <small class='required'></small></label>
          <div class='row'>
            <div class='small-6 columns no-columns-padding'>
              <select id="customDropdown1" class="medium ng-invalid" required="">
                <option value="">Year</option>
                <option value="2014">2014</option>
                <option value="first">2013</option>
              </select>
              <small class="error">This information is required.</small>
            </div>
            <div class='small-6 columns no-columns-padding'>
              <select id="customDropdown2" class="medium ng-invalid" required="">
                <option value="">Month</option>
                <option value="01">01</option>
                <option value="first">02</option>
              </select>
              <small class="error">This information is required.</small>
            </div>
          </div>
        </div>
        <div class='small-4 columns no-columns-padding'>
          <label>Card Code <small class='required'></small></label>
          <input type='text' />
        </div>
      </div>
      <!--
      <h3>Coupon & Gift Card</h3>
      <h4 class='cPrimary'>Promotions & Rewards <span class='unimportant-text'>e-Gift Card</span></h4>
      <div class='row product-checkout-coupon'>
        <div class='small-5 columns no-columns-padding'>
          <label>Enter Promo or Rewwards Code:</label>
        </div>
        <div class='small-5 columns no-columns-padding'>
          <input type='text' />
        </div>
        <div class='medium-2 columns no-columns-padding'>
          <a href='#' class='button small'>Apply</a>
        </div>
      </div>

      <h3><label class='right'><input type='checkbox' /> ON</label>GIFT OPTION</h3>
      <div class='row gift-checkout-giftOpt'>
        <div class='small-12 columns no-columns-padding no-columns-padding-right'>
          <textarea placeholder='Add a gift message. Max250 characters'></textarea>
          <p class='text-right'>249/250</p>
        </div>
      </div>
      -->
    </div>
    <!-- gift-checkout-info end -->
    <!-- gift-checkout-cart start -->
    <div class='medium-5 columns gift-checkout-cart'>
      <h3>CART</h3>
      <table width='100%' class='gift-checkout-table'>
        <tbody>
          <tr>
            <td class='gift-checkout-table-img'><img src='images/gift/gift-img-small-1.jpg' alt='Gift Design' /></td>
            <td>
              <div class='gift-checkout-table-item'>
                <div class='gift-info'>
                  <h6 class='gift-name'><a href='#'>Gift Certificatee</a></h6>
                  <p class='gift-id'>1060688890-BLK-SC-JKT-S</p>
                  <p class='gift-option'>Quantity: 1</p>
                  <p class='gift-option'>$40.00</p>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td class='gift-checkout-table-img'><img src='images/gift/gift-img-small-2.jpg' alt='Gift Design' /></td>
            <td>
              <div class='gift-checkout-table-item'>
                <div class='gift-info'>
                  <h6 class='gift-name'><a href='#'>Gift Certificate</a></h6>
                  <p class='gift-id'>1060688890-BLK-SC-JKT-S</p>
                  <p class='gift-option'>Quantity: 1</p>
                  <p class='gift-option'>$40.00</p>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="2">
              <div class='row'>
                <div class='small-12 columns text-right check-out-foot'>
                  <strong>Total Price: $15.00 </strong>
                  <br/>
                  <small><i>You save $0.00 and eam 0.00 PCV on this order.</i></small>
                </div>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
      <div class='row'>
        <div class='small-12 columns no-columns-padding no-columns-padding-right'>
          <a href='#' class='button full-width'>PLACE ORDER</a>
        </div>
      </div>
    </div>
    <!-- gift-checkout-cart end -->
  </div>
</div>





























