<div class="gift-preview-popup">
  <div class="row">
    <div class="small-12 columns">
      <h2>MIIOON GIFT CARD</h2>
    </div>
  </div>
  <div class="row gift-to-from">
    <div class="small-4 columns">
      <span>To:</span> <span class="grey-darker-color">Eddie</span>
    </div>
    <div class="small-5 columns">
      <span>From:</span> <span class="grey-darker-color">Mum</span>
    </div>
    <div class="small-3 columns">
      <a href='#' class='button tiny right'>SHOP NOW</a>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <p>This is where the message goes...</p>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class='gift-preview-imgWrap'>
        <div class='gift-preview-cert'><strong>￡100</strong><br/><span>Gift Card</span></div>
        <span class='gift-preview-code'>xxxxxx</span>
        <img src='images/gift/gift-card-preview.jpg' alt='Gift Card'/>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <div class="gift-preview-foot panel">
        <h2>TO USE YOUR E-GIFT CARD ONLINE</h2>
        <ul>
          <li>1. Go to miioon.com</li>
          <li>2. Click 'Design your own' or 'kids come with me', and create your garment</li>
          <li>3. At the checkout, enter your E-Gift card number above and pin number <span>123123</span></li>
          <li><strong>NOTE - kids gift vouchers have been designed for the Miioon kids co-creation pages and can not be
            used to pay for items in the made by mii shop.</strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>
