<div class="row panel">
  <!-- password panel -->
  <div class="small-10 small-offset-1">
    <header class="row">
      <h3 class="small-7 columns primary-color">Password</h3>

      <div class="small-3 end columns primary-color text-right"><a ng-click="toggle()">Change
        Password</a></div>
    </header>

    <div ng-if="!isEditing" class="row">
      <div class="small-3 columns">Password</div>
      <div class="small-3 end columns">*****</div>
    </div>

    <form novalidate ng-if="isEditing" ng-submit="changePassword(passwordForm.$valid)" name="passwordForm">
      <div class="row">
        <div class="small-3 columns">
          <label for="oldPassword" class="inline">Old Password:</label>
        </div>
        <div class="small-5 end columns">
          <input type="password"
                 required
                 id="oldPassword"
                 name="oldPassword"
                 ng-model="passwords.oldPassword"
                 placeholder="your old password">
          <small ng-show="submitted && passwordForm.oldPassword.$error.required" class="error">
            This field is required.
          </small>
          <small ng-show="submitted && $errors.InvalidOldPassword" class="error">
            {{ $errors.InvalidOldPassword }}
          </small>
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="newPassword" class="inline">New Password:</label>
        </div>
        <div class="small-5 end columns">
          <input type="password"
                 required
                 id="newPassword"
                 name="newPassword"
                 ng-pattern="/^(?=.*[A-Z])(?=.*[a-z])(?=.*\d).{6,}$/"
                 ng-model="passwords.newPassword"
                 placeholder="your new password">
          <small ng-show="submitted && passwordForm.newPassword.$error.required" class="error">
            This field is required.
          </small>
          <small ng-show="submitted && passwordForm.newPassword.$error.pattern" class="error">
            Password should include at least one number, one uppercase, one lowercase and more than 6 characters.
          </small>
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="confirmationPassword" class="inline">Confirmation:</label>
        </div>
        <div class="small-5 end columns">
          <input type="password"
                 required
                 id="confirmationPassword"
                 name="confirmationPassword"
                 ng-model="confirmPassword"
                 ui-validate="'$value==passwords.newPassword'"
                 placeholder="your new password again">
          <small ng-show="submitted && passwordForm.confirmationPassword.$error.validator" class="error">
            Passwords must match.
          </small>
        </div>
      </div>

      <div class="row">
        <div class="small-5 end columns small-offset-3">
          <button class="btn-block" type="submit">Save</button>
        </div>
      </div>

    </form>
  </div>
</div>