<div class="row panel">
  <!-- password panel -->
  <div class="small-10 small-offset-1">
    <header class="row">
      <h3 class="small-7 columns primary-color">Password</h3>

      <div class="small-3 end columns primary-color text-right"><a ng-click="toggle()">Change
        Password</a></div>
    </header>

    <div ng-if="!isEditing" class="row">
      <div class="small-3 columns">Password</div>
      <div class="small-3 end columns">*****</div>
    </div>

    <form ng-if="isEditing" ng-submit="changePassword()">
      <div class="row">
        <div class="small-3 columns">
          <label for="oldPassword" class="inline">Old Password:</label>
        </div>
        <div class="small-5 end columns">
          <input type="password" id="oldPassword" name="oldPassword" ng-model="passwords.oldPassword"
                 placeholder="your old password">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="newPassword" class="inline">New Password:</label>
        </div>
        <div class="small-5 end columns">
          <input type="password" id="newPassword" name="newPassword" ng-model="passwords.newPassword"
                 placeholder="your new password">
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="confirmationPassword" class="inline">Confirmation:</label>
        </div>
        <div class="small-5 end columns">
          <input type="password" id="confirmationPassword" name="confirmationPassword" ng-model="confirmationPassword"
                 placeholder="your new password again">
        </div>
      </div>

      <div class="row">
        <div class="small-5 end columns small-offset-3">
          <button class="btn-block" type="submit">Save</button>
        </div>
      </div>

    </form>
  </div>
</div>