@import "foundation/scss/foundation/functions";

$grey-lighter: #F5F5F5;
$grey-light: #DCDCDC;
$grey: #D6D7D6;
$grey-dark: #C8C8C8;

$base-font-size: 12px;
$rem-base: $base-font-size;

$primary-color: #4AD0FF;
$secondary-color: #4EACDB;

$h4-font-size: rem-calc(22);

$anchor-font-color: black;

$button-font-med: rem-calc(14);
$button-med: rem-calc(10);
$button-font-weight: bold;

$cursor-default-value: auto;