<div class="row title">
  <h6 class="small-3 text-right columns">
    HOME ADDRESS
  </h6>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-first-name">First Name</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" required id="home-first-name" name="home-first-name" ng-model="homeLastName"/>
    <small ng-show="submitted && step['home-first-name'].$error.required" class="error">
      This field is required.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-last-name">Last Name</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" required id="home-last-name" name="home-last-name" ng-model="homeLastName"/>
    <small ng-show="submitted && step['home-last-name'].$error.required" class="error">
      This field is required.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline" for="co-first-name">Coapplicant First Name</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="co-first-name" name="co-first-name" ng-model="coFirstName"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline" for="co-last-name">Coapplicant Last Name</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="co-last-name" name="co-last-name" ng-model="coLastName"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-address">Address</label>
  </div>
  <div class="small-5 end columns">
    <input required type="text" id="home-address" name="home-address" ng-model="homeAddress"/>
    <small ng-show="submitted && step['home-address'].$error.required" class="error">
      This field is required.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline" for="home-address-contd">Address (contd)</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="home-address-contd" name="home-address-contd" ng-model="homeAddressContd"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-country">Country</label>
  </div>
  <div class="small-5 end columns">
    <select required id="home-country" name="home-country" ng-model="homeCountry">
      <option value="UK">UK</option>
      <option value="US">US</option>
    </select>
    <small ng-show="submitted && step['home-country'].$error.required" class="error">
      This field is required.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-county">County</label>
  </div>
  <div class="small-5 end columns">
    <select required id="home-county" name="home-county" ng-model="homeCounty">
      <option value="County1">County1</option>
      <option value="County2">County2</option>
    </select>
    <small ng-show="submitted && step['home-county'].$error.required" class="error">
      This field is required.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-city">City</label>
  </div>
  <div class="small-5 end columns">
    <input required type="text" id="home-city" name="home-city" ng-model="homeCity"/>
    <small ng-show="submitted && step['home-city'].$error.required" class="error">
      This field is required.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-post-code">Post Code</label>
  </div>
  <div class="small-5 end columns">
    <input required type="text" id="home-post-code" name="home-post-code" ng-model="homePostCode"/>
    <small ng-show="submitted && step['home-post-code'].$error.required" class="error">
      This field is required.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-phone">Phone</label>
  </div>
  <div class="small-5 end columns">
    <input required type="text" id="home-phone" name="home-phone" ng-model="homePhone"/>
    <small ng-show="submitted && step['home-phone'].$error.required" class="error">
      This field is required.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="home-mobile">Mobile</label>
  </div>
  <div class="small-5 end columns">
    <input required type="text" id="home-mobile" name="home-mobile" ng-model="homeMobile"/>
    <small ng-show="submitted && step['home-mobile'].$error.required" class="error">
      This field is required.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline" for="home-work-number">Work Number</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="home-work-number" name="home-work-number" ng-model="homeWorkNumber"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline" for="home-fax-number">Fax Number</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="home-fax-number" name="home-fax-number" ng-model="homeFaxNumber"/>
  </div>
</div>