<div class="row title">
  <h6 class="small-4 columns">
    PERSONAL INFORMATION
  </h6>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required">Date of birth</label>
  </div>
  <div class="small-2 columns">
    <input type="text" class="date-picker" readonly ng-model="userInfo['birthday']" required/>
  </div>
  <div class="columns small-7">
    <span class="unimportant-text input-description">No applicants under 18 years old</span>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline" for="tax-id">Number / Tax ID</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="tax-id" data-availabilities-validator="ssn" name="tax-id" ng-model="userInfo['tax-id']"/>
  </div>
</div>