<div class="row">
  <h6 class="small-3 text-right columns">
    SHIPMENT ADDRESS
  </h6>
  <div class="columns small-3 end">
    <label for="shipment-is-use-home-address">
      <input type="checkbox" id="shipment-is-use-home-address"/>
      Use home address
    </label>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="shipment-first-name">First Name</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="shipment-first-name"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="shipment-last-name">Last Name</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="shipment-last-name"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="shipment-address">Address</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="shipment-address"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline" for="shipment-address-contd">Address (contd)</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="shipment-address-contd"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="shipment-country">Country</label>
  </div>
  <div class="small-5 end columns">
    <select id="shipment-country">
      <option value="UK">UK</option>
      <option value="US">US</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="shipment-county">County</label>
  </div>
  <div class="small-5 end columns">
    <select id="shipment-county">
      <option value="County1">County1</option>
      <option value="County2">County2</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="shipment-city">City</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="shipment-city"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="shipment-post-code">Post Code</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="shipment-post-code"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="shipment-phone">Phone</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="shipment-phone"/>
  </div>
</div>