<form class="sign-up-step-3 sign-up-step" name="step" novalidate>
  <div class="row">
    <h2 class="columns small-9">
      Create a new account
    </h2>
    <div class="columns small-3" ng-include="'views/sign-up/steps-navigation.html'"></div>
  </div>
  <div ng-include="'views/sign-up/personal-information.html'"></div>
  <div ng-include="'views/sign-up/delivery-options.html'"></div>
  <div ng-include="'views/sign-up/shipment-address.html'"></div>
  <div ng-include="'views/sign-up/web-address.html'"></div>
  <div class="row">
    <div class="columns small-9 small-offset-3">
      <button ng-click="nextStep()">CONTINUE</button>
    </div>
  </div>
</form>
