<form class="sign-up-step-3 sign-up-step" name="step" novalidate>
  <div class="row">
    <h2 class="columns small-9">
      Create a new account
    </h2>

    <div class="columns small-3" ng-include="'views/sign-up/steps-navigation.html'"></div>
  </div>

  <div ng-include="'views/sign-up/personal-information.html'"></div>

  <div ng-include="'views/sign-up/delivery-options.html'"></div>

  <div data-is-home-address-validated="isHomeAddressValidated"
       data-home-address="account.homeAddress" data-submitted="submitted" data-form="step"></div>

  <div data-is-shipment-address-validated="isShipmentAddressValidated"
       data-home-address-source="account.homeAddress"
       data-shipment-address="account.shipmentAddress" data-submitted="submitted" data-form="step"></div>

  <div data-is-web-address-validated="isWebAddressValidated" data-home-address-source="account.homeAddress"
       data-web-address="account.webAddress" data-submitted="submitted" data-form="step"></div>

  <div class="row">
    <div class="columns small-9 small-offset-3">
      <button ng-click="remoteValidate(); nextStep()">CONTINUE</button>
    </div>
  </div>
</form>
