<form class="sign-up-step-1 sign-up-step" name="step" novalidate>
  <div class="row">
    <h2 class="small-9 columns">Sign up as an miioon Angel</h2>
    <div class="columns small-3" ng-include="'views/sign-up/steps-navigation.html'"></div>
  </div>
  <div class="row">
    <p class="register-customer small-12 columns medium-font">
      Do you just want to shop? <a class="primary-link" href="#">Register as a customer</a>
    </p>
  </div>
  <div ng-include="'views/sign-up/user-information.html'"></div>
  <div class="row">
    <div class="columns small-9 small-offset-3">
      <textarea id="term-condition" readonly cols="30" rows="14">
Miioon Application & Agreement
The Application & Agreement, Policies & Procedures and Compensation Plan are specifically incorporated herein by reference. They, along with these Terms & Conditions, form the Agreement between:Miioon ("Company") and the Independent Sales Representative. They shall be effective only upon acceptance by the Company, at its principal office: Miioon 108 West 13th ST., Wilmington, DE 19801 United States (Savvy’s Closet is a division of SG Group LLC).
Independent Sales Representative Agrees to the Following:
1) Independent Sales Representative is of legal age in the state/province or country in which he/she resides.
2) Any Independent Sales Representative who sponsors another Independent Sales Representative or receives a Bonus or Commission on the product sales of another Independent Sales Representative must fulfill the obligation of performing a bona fide supervisory, distributing and selling function in the sale or delivery of a product or service to the ultimate consumer and in the training of those personally sponsored. Independent Sales Representative must have ongoing contact, communication and arrangement with his
1) Independent Sales Representative is of legal age in the state/province or country in which he/she resides.
2) Any Independent Sales Representative who sponsors another Independent Sales Representative or receives a Bonus or Commission on the product sales of another Independent Sales Representative must fulfill the obligation of performing a bona fide supervisory, distributing and selling function in the sale or delivery of a product or service to the ultimate consumer and in the training of those personally sponsored. Independent Sales Representative must have ongoing contact, communication and arrangement with his
      </textarea>
    </div>
  </div>
  <div class="row">
    <div class="columns small-9 small-offset-3">
      <input disabled required name="is-agreed" id="is-agreed" type="checkbox"/>
      <label for="is-agreed">I agree to the above Terms and Conditions.</label>
    </div>
  </div>
  <div class="row">
    <p class="unimportant-text medium-font columns small-9 small-offset-3">
      Note: must read through the distributor agreement and click agree before proceed (your consent will be recorded)
    </p>
  </div>
  <div class="row">
    <div class="columns small-9 small-offset-3">
      <button disabled ng-click="nextStep() && getProducts()">CONTINUE</button>
    </div>
  </div>
</form>