<form class="sign-up-step-1 sign-up-step" name="step" novalidate>
  <div class="row">
    <h2 class="small-9 columns">Sign up as an miioon Angel</h2>
    <div class="columns small-3" ng-include="'views/sign-up/steps-navigation.html'"></div>
  </div>
  <div class="row">
    <p class="register-customer small-12 columns medium-font">
      Do you just want to shop? <a class="primary-link" href="#">Register as a customer</a>
    </p>
  </div>
  <div class="row">
    <h6 class="small-12 columns">
      MIIOON ANGEL SPONSOR INFORMATION
    </h6>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label class="right inline" for="sponsor-id">miioon Angel Sponsor ID</label>
    </div>
    <div class="small-5 end columns">
      <input type="text" ng-model="sponsorId" data-sponsor-id-validator
             id="sponsor-id" name="sponsor-id"/>
      <small ng-show="step['sponsor-id'].$error.validated" class="error">
        Sponsor ID is not validated.
      </small>
    </div>
  </div>
  <div class="row">
    <h6 class="small-3 text-right columns">
      USER INFORMATION
    </h6>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label class="right inline required" for="username">Login</label>
    </div>
    <div class="small-5 end columns">
      <input required ng-model="username" type="text" name="username" id="username" placeholder="Please enter the username."/>
      <small ng-show="submitted && step.username.$error.required" class="error">
        This field is required.
      </small>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label class="right inline required" for="password">Password</label>
    </div>
    <div class="small-5 end columns">
      <input required ng-model="password" type="password" name="password" id="password"/>
      <small ng-show="submitted && step.password.$error.required" class="error">
        This field is required.
      </small>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label class="right inline required" for="password-confirmation">Password Confirmation</label>
    </div>
    <div class="small-5 end columns">
      <input required ng-model="passwordConfirmation" ui-validate="'$value==password'" ui-validate-watch="'password'"
             type="password" name="password-confirmation" id="password-confirmation"/>
      <small ng-show="submitted && step['password-confirmation'].$error.validator" class="error">Passwords must match.</small>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label class="right inline required" for="email">Email</label>
    </div>
    <div class="small-5 end columns">
      <input required ng-model="email" type="email" name="email" id="email"/>
      <small ng-show="submitted && (step.email.$error.required || step.email.$error.email)" class="error">A valid email address is required.</small>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label class="right inline required" for="country">Country</label>
    </div>
    <div class="small-5 end columns">
      <select required id="country">
        <option value="US">US</option>
        <option value="UK">UK</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="columns small-9 small-offset-3">
      <textarea id="term-condition" readonly cols="30" rows="14">
Miioon Application & Agreement
The Application & Agreement, Policies & Procedures and Compensation Plan are specifically incorporated herein by reference. They, along with these Terms & Conditions, form the Agreement between:Miioon ("Company") and the Independent Sales Representative. They shall be effective only upon acceptance by the Company, at its principal office: Miioon 108 West 13th ST., Wilmington, DE 19801 United States (Savvy’s Closet is a division of SG Group LLC).
Independent Sales Representative Agrees to the Following:
1) Independent Sales Representative is of legal age in the state/province or country in which he/she resides.
2) Any Independent Sales Representative who sponsors another Independent Sales Representative or receives a Bonus or Commission on the product sales of another Independent Sales Representative must fulfill the obligation of performing a bona fide supervisory, distributing and selling function in the sale or delivery of a product or service to the ultimate consumer and in the training of those personally sponsored. Independent Sales Representative must have ongoing contact, communication and arrangement with his
1) Independent Sales Representative is of legal age in the state/province or country in which he/she resides.
2) Any Independent Sales Representative who sponsors another Independent Sales Representative or receives a Bonus or Commission on the product sales of another Independent Sales Representative must fulfill the obligation of performing a bona fide supervisory, distributing and selling function in the sale or delivery of a product or service to the ultimate consumer and in the training of those personally sponsored. Independent Sales Representative must have ongoing contact, communication and arrangement with his
      </textarea>
    </div>
  </div>
  <div class="row">
    <div class="columns small-9 small-offset-3">
      <input disabled required name="is-agreed" id="is-agreed" type="checkbox"/>
      <label for="is-agreed">I agree to the above Terms and Conditions.</label>
    </div>
  </div>
  <div class="row">
    <p class="unimportant-text medium-font columns small-9 small-offset-3">
      Note: must read through the distributor agreement and click agree before proceed (your consent will be recorded)
    </p>
  </div>
  <div class="row">
    <div class="columns small-9 small-offset-3">
      <button disabled ng-click="submitAndGoToStep(2, step.$valid)">CONTINUE</button>
    </div>
  </div>
</form>