<div class="row">
  <h2 class="columns small-9">
    WELCOME TO Miioon! <br/>
    <small class="medium-font">
      Your account has been created successfully, and your order has been processed successfully!
    </small>
  </h2>
</div>
<div class="row title">
  <h6 class="small-12 columns">
    Your Account
  </h6>
</div>
<div class="row">
  <p class="columns small-5">
    Login: {{userInfo.login}}
  </p>

  <p class="columns small-5 end">
    Sponsor Name: {{successInfo.sponsor.name}}
  </p>
</div>
<div class="row">
  <p class="columns small-5">
    Web Address:
    <a ng-href="{{retailUrl}}{{userInfo.login}}">
      {{retailUrl}}{{userInfo.login}}
    </a>
  </p>

  <p class="columns small-5 end">
    Sponsor Email: {{successInfo.sponsor.email}}
  </p>
</div>
<div class="row">
  <p class="columns small-5 small-offset-5 end">
    Sponsor Phone: {{successInfo.sponsor.phone}}
  </p>
</div>
<div class="row title">
  <h6 class="columns small-12">
    Your Order
  </h6>
</div>
<div class="row">
  <p class="columns small-5">
    Order ID: {{successInfo.order.id}}
  </p>

  <p class="columns small-5 end">
    Status: <span class="important-text">{{successInfo.order.state}}</span>
  </p>
</div>
<div class="row">
  <p class="columns small-5">
    Order Date: {{successInfo.order['order-date']}}
  </p>

  <p class="columns small-5 end">
    Payment Date: {{successInfo.order['payment-date']}}
  </p>
</div>
<div class="row">
  <p class="columns small-5">
    Shipping Method: {{payment['shipping-method']}}
  </p>

  <p class="columns small-5 end">
    Payment Method: {{payment['paymend-method']}}
  </p>
</div>
<div class="row title">
  <h6 class="small-3 columns">
    SHIPPING ADDRESS
  </h6>
</div>
<div class="row">
  <div class="columns small-12">
    <p>
      {{payment['shipping-address']['first-name']}} {{payment['shipping-address']['last-name']}}
    </p>
    <p>
      {{payment['shipping-address']['street']}}
    </p>
    <p>
      {{payment['shipping-address']['city']}}, {{payment['shipping-address']['state']}},
      {{payment['shipping-address']['country']}}, {{payment['shipping-address']['zip']}}
    </p>
  </div>
</div>
<div class="row title">
  <h6 class="small-3 columns">
    BILLING ADDRESS
  </h6>
</div>
<div class="row">
  <div class="columns small-12">
    <p>
      {{payment.billingAddress['first-name']}} {{payment.billingAddress['last-name']}}
    </p>
    <p>
      {{payment.billingAddress['street']}}
    </p>
    <p>
      {{payment.billingAddress['city']}}, {{getStateName(payment.billingAddress['country-id'], payment.billingAddress['state-id'])}},
      {{getCountryName(payment.billingAddress['country-id'])}}, {{payment.billingAddress['zip']}}
    </p>
  </div>
</div>
<div class="row title">
  <h6 class="small-12 columns">
    PRODUCTS
  </h6>
</div>
<div class="row">
  <div class="columns small-12">
    <table class="product-table">
      <thead>
      <tr>
        <th>SKU</th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="lineItem in successInfo.order['line-items']">
        <td class="text-left">{{lineItem.sku}}</td>
        <td class="text-left">
          <img ng-src="{{lineItem['image-url'] | imageSize:'small' }}" alt="{{lineItem['product-name']}}"/>
          {{lineItem['product-name']}}
        </td>
        <td class="price">£{{lineItem.price | price}}</td>
        <td>
          {{lineItem.quantity}}
        </td>
        <td class="price">£{{lineItem.price * lineItem.quantity | price}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4" class="text-right">
          Item Total
        </td>
        <td class="price">
          £{{successInfo.order['item-total']}}
        </td>
      </tr>
      <tr ng-repeat="adjustment in successInfo.order.adjustments">
        <td colspan="4" class="text-right">
          {{adjustment.label}}
        </td>
        <td class="price">
          £{{adjustment.amount}}
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-right">
          Order Total
        </td>
        <td class="price">
          £{{successInfo.order.total}}
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <a href="#">Back to home</a>
  </div>
</div>