<div class="row">
  <h6 class="small-12 columns">
    MIIOON ANGEL SPONSOR INFORMATION
  </h6>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="sponsor">miioon Angel Sponsor ID</label>
  </div>
  <div class="small-5 columns">
    <input type="text" required
           id="sponsor" name="sponsor"
           ng-model="userInfo['sponsor']"
           ngModelOptions="{ updateOn: 'blur' }"
           data-sponsor-validator
           data-sponsor-validator-error-msg="step['sponsor'].errorMessageValidated"
           data-sponsor-name="step['sponsor'].name" />
    <small ng-show="submitted && step.sponsor.$error.required" class="error">
      This field is required.
    </small>
    <small ng-show="step.sponsor.$error.sponsorError" class="error">
      {{step['sponsor'].errorMessageValidated}}
    </small>
  </div>
  <div class="small-4 columns input-description unimportant-text" ng-show="step['sponsor'].name">
    Sponsor Name: {{step['sponsor'].name}}
  </div>
</div>
<div class="row">
  <h6 class="small-3 text-right columns">
    USER INFORMATION
  </h6>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="login">Login</label>
  </div>
  <div class="small-5 end columns">
    <input required ng-model="userInfo.login" type="text" name="login" id="login" ng-pattern="/(?!^\d+$)^.+$/"
           data-availabilities-validator="login" placeholder="Please enter the username."/>
    <small ng-show="submitted && step.login.$error.required" class="error">
      This field is required.
    </small>
    <small ng-show="step['login'].$error.available" class="error">
      Username is not available.
    </small>
    <small ng-show="step['login'].$error.pattern" class="error">
      Username can't be all numbers.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="password">Password</label>
  </div>
  <div class="small-5 end columns">
    <input required ng-model="userInfo.password" type="password" name="password" id="password" ng-pattern="/^(?=.*[A-Z])(?=.*[a-z])(?=.*\d).{6,}$/"/>
    <small ng-show="submitted && step.password.$error.required" class="error">
      This field is required.
    </small>
    <small ng-show="step['password'].$error.pattern" class="error">
      Password should include at least one number, one uppercase, one lowercase and more than 6 characters.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="password-confirmation">Password Confirmation</label>
  </div>
  <div class="small-5 end columns">
    <input required ng-model="passwordConfirmation" ui-validate="'$value==userInfo.password'" ui-validate-watch="'userInfo.password'"
           type="password" name="password-confirmation" id="password-confirmation"/>
    <small ng-show="submitted && step['password-confirmation'].$error.validator" class="error">Passwords must match.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="email">Email</label>
  </div>
  <div class="small-5 end columns">
    <input required ng-model="userInfo.email" type="email" name="email" id="email"
           data-availabilities-validator="email"/>
    <small ng-show="submitted && (step.email.$error.required || step.email.$error.email)" class="error">
      A valid email address is required.
    </small>
    <small ng-show="step['email'].$error.validated" class="error">
      Email is not available.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="country">Country</label>
  </div>
  <div class="small-5 end columns">
    <select required name="country"
            id="country"
            data-registration-countries
            ng-model="userInfo['country']"
            ng-init="userInfo['country'] = countries[0]; registrationCountryChange(userInfo['country'])"
            ng-options="country.name for country in countries" ng-change="registrationCountryChange(userInfo['country'])">
    </select>
    <small ng-show="submitted && step['country'].$error.required" class="error">
      This field is required.
    </small>
  </div>
</div>