<div class="row">
  <h6 class="small-12 columns">
    MIIOON ANGEL SPONSOR INFORMATION
  </h6>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline" for="sponsor">miioon Angel Sponsor ID</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" ng-model="userInfo['sponsor']" data-sponsor-validator
           id="sponsor" name="sponsor"/>
    <small ng-show="step['sponsor'].$error.validated" class="error">
      Sponsor ID is not validated.
    </small>
  </div>
</div>
<div class="row">
  <h6 class="small-3 text-right columns">
    USER INFORMATION
  </h6>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="login">Login</label>
  </div>
  <div class="small-5 end columns">
    <input required ng-model="userInfo.login" type="text" name="login" id="login"
           data-availabilities-validator="login" placeholder="Please enter the username."/>
    <small ng-show="submitted && step.login.$error.required" class="error">
      This field is required.
    </small>
    <small ng-show="step['login'].$error.validated" class="error">
      User name is not available.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="password">Password</label>
  </div>
  <div class="small-5 end columns">
    <input required ng-model="userInfo.password" type="password" name="password" id="password"/>
    <small ng-show="submitted && step.password.$error.required" class="error">
      This field is required.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="password-confirmation">Password Confirmation</label>
  </div>
  <div class="small-5 end columns">
    <input required ng-model="passwordConfirmation" ui-validate="'$value==userInfo.password'" ui-validate-watch="'userInfo.password'"
           type="password" name="password-confirmation" id="password-confirmation"/>
    <small ng-show="submitted && step['password-confirmation'].$error.validator" class="error">Passwords must match.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="email">Email</label>
  </div>
  <div class="small-5 end columns">
    <input required ng-model="userInfo.email" type="email" name="email" id="email"
           data-availabilities-validator="email"/>
    <small ng-show="submitted && (step.email.$error.required || step.email.$error.email)" class="error">
      A valid email address is required.
    </small>
    <small ng-show="step['email'].$error.validated" class="error">
      Email is not available.
    </small>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="country">Country</label>
  </div>
  <div class="small-5 end columns">
    <select required name="country" id="country" data-registration-countries ng-model="userInfo['country']"
            ng-options="country.name for country in countries">
    </select>
    <small ng-show="submitted && step['country'].$error.required" class="error">
      This field is required.
    </small>
  </div>
</div>