<div class="row">
  <h6 class="small-3 text-right columns">
    WEB ADDRESS
  </h6>

  <div class="columns small-3 end">
    <label for="web-is-use-home-address">
      <input type="checkbox" id="web-is-use-home-address"/>
      Use home address
    </label>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="web-first-name">First Name</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="web-first-name"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="web-last-name">Last Name</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="web-last-name"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="web-phone">Phone</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="web-phone"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline required" for="web-mobile">Mobile</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="web-mobile"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline" for="web-email">Email</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="web-email"/>
  </div>
</div>
<div class="row">
  <div class="small-3 columns">
    <label class="right inline" for="web-fax-number">Fax Number</label>
  </div>
  <div class="small-5 end columns">
    <input type="text" id="web-fax-number"/>
  </div>
</div>