

a:hover {
  text-decoration: underline;
}

a.button:hover {
  text-decoration: none;
}

.primary-link {
  color: $primary-color;
}

body {
  min-width: 1000px;
}

ol,
ul {
  margin: 0;
  list-style: none;
}

.separator-slash,
.separator-vertical-line {
  li {
    &:first-child:before {
      display: none;
    }

    &:before {
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}

.separator-slash {
  li {
    &:before {
      content: "/";
    }
  }
}

.separator-vertical-line {
  li {
    &:before {
      content: "|";
    }
  }
}

.important-text {
  color: $red;
}

.unimportant-text {
  color: $grey-dark;
}

.large-font {
  font-size: $large-font-size;

  b {
    font-size: rem-calc(24);
  }
}

.medium-font {
  font-size: $medium-font-size;
}

.base-font {
  font-size: $base-font-size;
}

.default-cursor {
  cursor: auto;
}

.cPrimary{
  color:$primary-color !important;
}
.cLessImportant{
  color:$grey-darker !important;
}


// foundation style reset
  // panel style
  .panel{
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
  }
  // table style
  table{
    thead{
      background:none;
      tr{
        th{
          border-bottom: 2px solid $grey-border;
          font-weight: normal;
          font-size:rem-calc(14);
        }
      }
    }
    tfoot{
      .check-out-foot{
          margin: rem-calc(16) 0 rem-calc(16) 0;
          p{
            margin-bottom: 0;
            color:#9E9A99;
            font-weight: normal;
            line-height:rem-calc(30);
            font-size: rem-calc(14);
          }
          strong.price-total{
              display:block;
              line-height:rem-calc(30); 
              font-size:rem-calc(16);
              border-top: 1px $grey-border dashed;
              margin-top: rem-calc(15);
              padding-top:rem-calc(15);
          }
      }
    }
    tbody{
      td{
        border-bottom: 1px solid $grey-border;
      }
    }
  }

  //

  //type
  .vcard{
    padding:rem-calc(10) 0;
    border:0;
    border-top:2px solid $grey-border;
    border-bottom:2px solid $grey-border;
    margin-bottom: 0;
  }

































