.main-header {
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
  background: #fff;

  .header-links {
    color: $grey;
    font-size: $small-font-size;
    margin-bottom: 10px;
    @include clearfix;

    li {
      float: left;

      a {
        color: $base-font-color;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .header-links-bowl {
      a {
        color: $primary-color;
      }
    }
  }

  .row.header-search {
    margin: 0;
    width: 350px;
    > .columns:first-child {
      padding-right: rem-calc(5);
    }
  }
}