.main-header {
  max-width: 100%;
  padding-top: 15px;
  padding-bottom: 20px;
  background: #fff;
  
  > row{
    position:relative;

    .header-links {
    position:absolute;
    right:0;
    top:0;
    color: $grey;
    margin-bottom: 30px;
    font-size: rem-calc(16);
    @include clearfix;

    li {
      float: left;

      a {
        color: $grey;

        &:hover {
          color: black;
        }
      }
    }
  }

  .header-search{
    position:absolute;
    right:0;
    top:rem-calc(40);
    width:300px;
  }
  }

  .shopping-bag {
    font-size: $medium-font-size;
  }
}