.products {

  .products-sidebar{
    padding-left:0;
    padding-right:0;
    dl{
      dt{
        color:$primary-color;
        font-size: rem-calc(16);
        border-top:1px solid $grey-border;
        border-bottom:1px solid $grey-border;
        padding:rem-calc(5) 0 rem-calc(3) 0;
        margin-bottom: rem-calc(15);
      }
      dd{
        margin-bottom: rem-calc(8);
        font-size: rem-calc(12);
        a{
          color:$grey-darker;
        }
      }
    }
  }

  .products-list{
    ul.products-list-wrap{
      margin-bottom: rem-calc(20);
      li{
        float:left;
        margin-right:15px;
        margin-bottom: 15px;
        .product-img{
          position:relative;
          border:1px solid $grey-border;
          vertical-align: middle;
          a{
            display:table-cell;
            vertical-align: middle;
            height:220px;
            width: 164px;
            img{
              vertical-align: middle;
              max-width: 164px;
              max-height: 220px;
            } 
          }
          a.button{
            position:absolute;
            top:50%;
            left:30px;
            width:auto;
            height:auto;
            z-index: 2;
          }
        }
      }
    }
    .product-name{
      color:$grey-darker;
      font-size: rem-calc(12);
      margin: rem-calc(10) 0 rem-calc(20) 0;
    }
    .product-price{
      color:$primary-color;
      font-size: rem-calc(14);
      margin:0 0 rem-calc(5) 0;
    }
  }

  .products-cart-item{
    .pack-img{
      float:left;
    }
    .product-info{
      margin-left:60px;
      .product-name{
        font-size: rem-calc(14);
        margin-bottom: 6px;
      }
      .product-id{
        color:$grey;
        margin-bottom: 6px;
        font-size: rem-calc(12);
        line-height: 1;
      }
      .product-size{
        margin-bottom: 6px;
        font-size: rem-calc(12);
        line-height: 1;
      }
    }
  }

  .product-cart-bar{
      border-top:1px solid $grey-border;
      border-bottom:1px solid $grey-border;
      padding:rem-calc(10) 0;
      font-size: rem-calc(14);
      font-style: italic;
      .unimportant-text{
        //margin-top: 10px;
      }
    }

  .products-cart{
    
    .product-cart-chekout-left{
      font-size: rem-calc(14);
      color:$grey;
      height: rem-calc(30);
      line-height: rem-calc(30);
      a{
        color:$grey;
      }
    }
  }

  .products-detail-info{
    margin-bottom: rem-calc(20);
    h3{
      font-size: rem-calc(18);
      &.subheader{
        font-size:rem-calc(14);
        color:$grey-darker;
      }
    }
    h6{
      font-size: rem-calc(12);
      color:$grey;
      margin-bottom: rem-calc(5);
    }
    /*
    .products-detail-priceList{
      li{
        color:#fff;
        text-align: center;
        
        strong{
          display:block;
          font-size: rem-calc(16);
        }
        small{
          display:block;
          font-size: rem-calc(11);
        }
        .products-detail-priceList-y{
          background: #F2D500;
          border:1px #DBB300 solid;
          padding:rem-calc(5) 0;
        }
        .products-detail-priceList-r{
          background: #FDA1A1;
          border:1px #E57777 solid;
          padding:rem-calc(5) 0;
        }
        .products-detail-priceList-g{
          background: #C6DC70;
          border:1px #A8BF4E solid;
          padding:rem-calc(5) 0;
        }
      }
    }
    */
    .products-detail-price{
      display: block;
      font-size: rem-calc(22);
      margin: rem-calc(25) 0;
      color: $primary-color;
    }
    .products-detail-quantity{
      margin-bottom: rem-calc(15);
      input{
        width: rem-calc(80);
      }
    }
    .products-detail-sizeList{
      margin-bottom: rem-calc(15);
      ul{
        li{
          float:left;
          margin-right: rem-calc(10);
          a{
            display:block;
            width:rem-calc(30);
            height:rem-calc(30);
            line-height:rem-calc(30);
            background:#fff;
            border:1px solid $grey-border;
            text-align: center;
            font-size:rem-calc(14);
            color:$grey;
            &:hover{
              border-color:$primary-color;
              text-decoration: none;
            }
            &.current{
              border-color:$primary-color;
              background:$primary-color;
              color:#fff;
            }
          }

        }
      }
    }
    .products-detail-colorList{
      margin-bottom: rem-calc(15);
      ul{
        li{
          margin-right: rem-calc(10);
          float:left;
          a{
            display:block;
            width:rem-calc(30);
            height:rem-calc(30);
            &:hover{
              border:1px solid $grey-darker;
              text-decoration: none;
            }
            &.current{
              border:1px solid $grey-darker;
            }
          }
        }
      }
    }
    .products-detail-designList{
      margin-bottom: rem-calc(15);
      ul{
        li{
          float:left;
          margin-right: rem-calc(10);
          a{
            display:block;
            width:rem-calc(104);
            height:rem-calc(66);
            border:2px solid $grey-border;
            &:hover{
              border:2px solid $primary-color;
              text-decoration: none;
            }
            &.current{
              border:2px solid $primary-color;
            }
          }

        }
      }
    }
    .products-detail-ctrBt{
      margin-bottom: rem-calc(15);
    }
    .products-detail-tabs{
      dd{
        & > a{
          background:none;
          border-bottom:1px solid $grey-border;
          color:$grey-dark;
          padding:rem-calc(10) 0 rem-calc(5) rem-calc(5);
          font-size: rem-calc(14);
          &:hover{
            background:$grey-lighter;
            text-decoration: none;
          }
        }
        .content{
          font-size: rem-calc(14);
          color: $grey-dark;
        }
      }
    }
    .products-detail-share{
      margin-top: rem-calc(20);
      color:$grey;
      span{
        font-size: rem-calc(14);

      }
      a{
        font-size: rem-calc(30);
        margin-left:rem-calc(10);
      }
    }
  }

  .products-checkout{
    h3{
      font-size: rem-calc(14);
      margin-bottom: rem-calc(20);
    }
    h4{
      font-size: rem-calc(14);
      color:$grey-dark;
      margin-bottom: rem-calc(15);
    }
    .products-checkout-info{
      .vcard{
        border:0;
        padding:0;
      }
      .product-checkout-coupon{
        border:1px solid $grey-border;
        background:$grey-lighter;
        margin-bottom: rem-calc(20);
        padding:rem-calc(10) rem-calc(10);
        label{
          font-size: rem-calc(12);
          height: rem-calc(37);
          line-height:rem-calc(37);
        }
      }
      .products-checkout-giftOpt{
        textarea{
          height: 110px;
        }
        p{
          color:$grey;
          margin: 0;
          padding:0;
          font-size: rem-calc(12);
          height: rem-calc(20);
          line-height: rem-calc(20);
        }
      }
    }
  }


}

.products-checkout-table{
  td{
    vertical-align: top;
  }
  .prodcuts-checkout-table-img{
    width:rem-calc(90);
    text-align: center;
    img{
      border:1px solid $grey-border;
    }
  }
  .products-checkout-table-item{
    .product-info{
      .product-name{
        font-size: rem-calc(14);
        margin-bottom: 6px;
      }
      .product-id{
        color:$grey-dark;
        margin-bottom: 6px;
        font-size: rem-calc(12);
        line-height: 1;
      }
      .product-size{
        margin-bottom: 6px;
        font-size: rem-calc(12);
        line-height: 1;
        color: $grey;
      }
      .product-option{
        color:$grey-darker;
        margin-bottom: 6px;
        font-size: rem-calc(12);
        line-height: 1;
      }
    }
  }
}









































