.steps-navigation {
  li {
    float: left;
    height: 26px;
    line-height: 26px;
    cursor: pointer;
    font-size: $medium-font-size;
    font-weight: bold;
    width: 26px;
    text-align: center;
    margin-left: 10px;
    border: 1px solid $grey-darker;
    border-radius: 26px;

    &.current {
      background: $primary-color;
      color: white;

      &:hover {
        background: $primary-color;
      }
    }

    &:hover {
      background: scale-color($primary-color, $lightness: 80%);
    }
  }
}