<h6>
  RUCKJACK
</h6>
<p>
  Our Ruckjacks® are designed to allow room for growth. However, as you know all children’s heights and shapes vary so
  please use our top tips for measuring before deciding on size or ordering. Remember, measurements such as height are a
  better guide than age in choosing the correct size. Although we are happy to exchange garments, please remember that
  this will be at your cost unless of course the item is faulty.
</p>
<table>
  <thead>
  <tr>
    <th>
      Age
    </th>
    <th>
      3/4
    </th>
    <th>
      4/5
    </th>
    <th>
      5/6
    </th>
    <th>
      7/9
    </th>
    <th>
      10/12
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      Height cm
    </td>
    <td>
      104
    </td>
    <td>
      110
    </td>
    <td>
      116
    </td>
    <td>
      128
    </td>
    <td>
      146
    </td>
  </tr>
  <tr>
    <td>
      Chest cm
    </td>
    <td>
      57
    </td>
    <td>
      58
    </td>
    <td>
      61
    </td>
    <td>
      66
    </td>
    <td>
      75
    </td>
  </tr>
  <tr>
    <td>
      Waist cm
    </td>
    <td>
      54
    </td>
    <td>
      55
    </td>
    <td>
      57
    </td>
    <td>
      59
    </td>
    <td>
      63
    </td>
  </tr>
  </tbody>
</table>