<div class="row">
  <div class="columns small-12">
    <table width="100%">
      <thead>
      <tr>
        <th>Order Date</th>
        <th>Gift Card Code</th>
        <th>Recipient Email</th>
        <th>Gift Card Value</th>
        <th>Remaining Balance</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="giftcard in giftcodes">
        <td>{{ giftcard.purchaseDate }}</td>
        <td>{{ giftcard.code }}</td>
        <td>{{ giftcard.recipientEmail }}</td>
        <td>{{ giftcard.amount }}</td>
        <td>{{ giftcard.balance }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>