<form name="postForm" novalidate ng-controller="GiftCardPostFormController">
  <div class="row">
    <div class="large-6 columns">
      <label>Recipients name:
        <input type="text" placeholder=""/>
      </label>
    </div>
    <div class="large-6 columns">
      <label>From:
        <input type="text" placeholder=""/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Recipients address:
        <input type="text" placeholder=""/>
        <input type="text" placeholder=""/>
        <input type="text" placeholder=""/>
      </label>
    </div>
  </div>
  <div class='row'>
    <div class="large-6 columns">
      <label>Post code:
        <input type="text" placeholder=""/>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Your message
        <textarea placeholder=""></textarea>
      </label>

      <div>
        Please note: there is an additional charge of ￡2.50 for post option
      </div>
    </div>
  </div>
</form>
