<div class="row panel">
  <!-- Personal Information -->
  <div class="small-12">
    <header class="row">
      <h3 class="small-8 columns primary-color">Personal Information</h3>

      <div class="small-4 end columns primary-color text-right">
        <a ng-click="toggle()">Edit</a>
      </div>
    </header>

    <div ng-if="!isEditing">
      <div class="row">
        <div class="small-3 columns">Date Of Birth</div>
        <div class="small-3 end columns">{{ profile.birthDate }}</div>
      </div>
    </div>

    <form novalidate ng-if="isEditing" ng-submit="save()">
      <div class="row">
        <div class="small-3 columns">
          <label for="dateOfBirth" class="inline">Date Of Birth:</label>
        </div>
        <div class="small-5 end columns">
          <input type="text"
                 id="dateOfBirth"
                 readonly
                 required
                 class="date-picker"
                 data-date-of-birth
                 name="dateOfBirth"
                 ng-model="profile.birthDate"
                 placeholder="click to edit ... ">
        </div>
      </div>

      <div class="row">
        <div class="small-5 end columns small-offset-3">
          <button class="btn-block" type="submit">Save</button>
          <button class="btn-block" ng-click="toggle(); restore()">Cancel</button>
        </div>
      </div>
    </form>

  </div>

</div>

