<nav class="main-navigation">
  <div class="row">
    <ul class="small-12 columns root-taxons">
      <li>
        <a href="/#/about">ABOUT US</a>
      </li>
      <li>
        <a href="#">BRANDS</a>
      </li>
      <li>
        <a href="#">GIFT CARD</a>
      </li>
      <li>
        <a href="#">CLOTHING</a>
        <div class="sub-taxons-container">
          <div class="row">
            <ul class="sub-taxons columns small-6">
              <li>
                <a href="#">RUCKJACK GIRLS</a>
              </li>
              <li>
                <a href="#">RUCKJACK GIRLS</a>
              </li>
              <li>
                <a href="#">RUCKJACK GIRLS</a>
              </li>
              <li>
                <a href="#">RUCKJACK GIRLS</a>
              </li>
              <li>
                <a href="#">RUCKJACK GIRLS</a>
              </li>
            </ul>
            <div class="sub-taxon-thumbnail columns small-6 text-center" data-equalizer-watch>
              <img src="images/taxon-thumbnail-clothing.png" alt="Clothing"/>
            </div>
          </div>
        </div>
      </li>
      <li>
        <a href="#">BAGS</a>
      </li>
      <li>
        <a href="#">ACCESSORIES</a>
      </li>
      <li>
        <a href="#">PRESS</a>
      </li>
      <li>
        <a href="#">LOOK BOOK</a>
      </li>
      <li class="career-opportunity right">
        <a class="button" href="#">CAREER OPPORTUNITY</a>
      </li>
    </ul>
  </div>
</nav>