<header class="main-header">
  <div class='row'>
    <div class="medium-4 columns">   
      <a href="#">
        <img src="images/logo.jpg" alt="For Tails Only"/>
      </a>
    </div>
    <div class="medium-8 columns text-right">
      <ul class="header-links separator-slash">
        <li>
          <a href="/#/signin">Sign In</a>
        </li>
        <li>
          <a href="#">Gift</a>
        </li>
        <li>
          <a href="#">Host</a>
        </li>
      </ul>
      <br/>
      <div class='row header-search'>
        <div class='small-4 columns'>
          <select>
            <option value=1>Products</option>
          </select>
        </div>
        <div class='small-8 columns'>
          <div class='row collapse'>
            <div class='small-9 columns'>
              <input type='text' placeholder='Fetch...' />
            </div>
            <div class='small-3 columns'>
              <a href='#' class='postfix'><i class="fa fa-search"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>