<div class="row">
  <div class="small-12 columns text-center">
    <h2>Product Menu</h2>
    <div class="product-menu-item">
      <h4><strong>£12.50</strong> will allow the child to create:</h4>
      <img src="/images/gift/gift-product-menu-1.png" />
    </div>
    <div class="product-menu-item">
      <h4><strong>£25.00</strong> will allow the child to create:</h4>
      <img src="/images/gift/gift-product-menu-2.png" />
    </div>
    <div class="product-menu-item">
      <h4><strong>£40.00</strong> will allow the child to create:</h4>
      <img src="/images/gift/gift-product-menu-3.png" />
    </div>
  </div>
</div>
<a class="close-reveal-modal" ng-click="cancel()">×</a>