<div class="row">
  <div class="columns small-12">
    <table width="100%">
      <thead>
        <tr>
          <th></th> 
          <th>Document</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody ng-repeat="(catalog,files) in filesArr">
        <tr ng-repeat="file in files">
          <td ng-if="$first" rowspan="{{ files.length }}">{{ catalog }}</td>
          <td>{{ file.filename }}</td>
          <td>{{ file.type }}</td>
          <td><a class="button right attenuate" href="{{ file.downloadUrl }}">Download</a><a class="button right" target="_blank" href="{{ file.viewUrl }}">View</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>