<div class="row">
  <div class="columns small-12">
    <table width="100%">
      <thead>
        <tr>
          <th></th>
          <th>Document</th>
          <th>Type</th>
          <th></th>
        </tr>
      </thead>
      <tbody ng-repeat="(catalog,files) in filesArr">
        <tr ng-repeat="file in files">
          <td ng-if="$first" rowspan="{{ files.length }}">{{ catalog }}</td>
          <td>{{ file.filename }}</td>
          <td>{{ file.type }}</td>
          <td><a class="button right attenuate" href="{{ file.downloadUrl }}">Download</a><a class="button right" target="_blank" href="{{ file.viewUrl }}">View</a></td>
        </tr>
      </tbody>
    </table>

    <table width="100%">
      <thead>
      <tr>
        <th class="text-center" colspan="2">Videos</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-center">
          <iframe class='vimeo-video' src="//player.vimeo.com/video/103890089"  height="300" width="100%" frameborder="0"
                  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </td>
        <td class="text-center">
          <iframe class='vimeo-video' src="//player.vimeo.com/video/103891911"  height="300" width="100%" frameborder="0"
                  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <iframe class='vimeo-video' src="//player.vimeo.com/video/103892331"  height="300" width="100%" frameborder="0"
                  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </td>
        <td class="text-center">
          <iframe class='vimeo-video' src="//player.vimeo.com/video/103892559"  height="300" width="100%" frameborder="0"
                  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </td>
      </tr>
      <tr>
        <td class="text-center">
          <iframe class='vimeo-video' src="//player.vimeo.com/video/103892873"  height="300" width="100%" frameborder="0"
                  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </td>
        <td class="text-center">
          <iframe class='vimeo-video' src="//player.vimeo.com/video/103893493"  height="300" width="100%" frameborder="0"
                  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
