<div class='party-container'>
  <div class='row'>
    <div class="medium-6 columns">
      <ul class="breadcrumbs">
        <li><a href="#/meet/overview/upcoming">My Meet</a></li>
        <li class="current">{{party.title}}</li>
      </ul>
    </div>
    <div class="medium-6 columns">
      <p class="text-right">
        <a ng-href="#/meet/{{party.id}}/invite" class="button tiny">Invite Guests</a>
        <a ng-href="#/meet/{{party.id}}/edit" class="button tiny">Edit</a>
        <a href class="button tiny" ng-click="deleteInvites()">Delete</a>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='columns medium-8'>
      <div class='row block-margin-bottom'>
        <div class='small-3 columns'>
          <div class="party-blue-circle-s">
            <p><strong>{{ event.totalInviteesNumber() }}</strong><br/>
              <span>GOAL: 40</span>
            </p>
            <h5>INVITED</h5>
          </div>
        </div>
        <div class='small-3 columns'>
          <div class="party-orange-circle-s">
            <p class='icons-green-circle'><strong>{{ party.yesCount }}</strong><br/>
              <span>GOAL: 40</span>
            </p>
            <h5>ATTENDING</h5>
          </div>
        </div>
        <div class='small-3 columns'>
          <div class="party-green-circle-s">
            <p class='icons-red-circle'>
              <strong>{{ event.totalOrdersNumber() }}</strong>
              <br/>
              <span>GOAL: 40</span>
            </p>
            <h5>ORDERS</h5>
          </div>
        </div>
        <div class='small-3 columns'>
          <div class="party-pink-circle-s">
            <p class='icons-pink-circle'>
              <strong>{{ event.ordersItemTotal() | price: 'with out currency'}}</strong>
              <br/>
              <span>GOAL: 250</span>
            </p>
            <h5>EARNINGS</h5>
          </div>
        </div>
      </div>
      <div class='row'>
        <div class='columns small-12'>
          <div class='party-price block-margin-bottom'>
            <ul class="row">
              <!--<li class="small-6 columns text-center">-->
                <!--{{rewords | price}}-->
                <!--<span>Hostess Rewards</span>-->
                <!--<small ng-if="rewordsPercentage">-->
                  <!--{{rewordsPercentage}} in Paw Perks-->
                <!--</small>-->
              <!--</li>-->
              <li class="small-12 columns text-center">
                {{event.data.orderCloseTime | date: 'medium'}}
                <span>Order Close Date</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class='row topbar title-margin-bottom'>
        <div class='small-12 medium-6 columns'>
          <h4 class="primary-color">Meet Orders</h4>
        </div>
        <div class='small-12 medium-6 columns' ng-if="false">
          <div class='row collapse'>
            <div class='small-10 columns'>
              <input type='text' placeholder='Type Order ID or Product Name for search...'
                     class='secondary-item no-margin-bottom' dropdown-toggle="#drop-menu-search"/>
            </div>
            <div class='small-2 columns'>
              <a href='#' class='postfix button no-margin-bottom'><i class="fa fa-search"></i></a>
            </div>
          </div>
        </div>
      </div>

      <table class="party-list block-margin-bottom unimportant-text">
        <thead>
        <tr class="table-title-bg">
          <th width="120">Order</th>
          <th width="130">Date</th>
          <th width="100">Items Total</th>
          <th>Customer</th>
          <th width="80">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-if="event.orders.length === 0">
          <td colspan="5" class="text-center">
            No order yet.
          </td>
        </tr>
        <tr ng-repeat="order in event.orders">
          <td><a ng-click="openDetail(order);">{{ order.number }}</a></td>
          <td>{{ order.orderDate | date: 'short' }}</td>
          <td class="text-right">{{ order.itemTotal | price }}</td>
          <td>
            {{ order.shippingAddress.firstName }}
            {{ order.shippingAddress.m }}
            {{ order.shippingAddress.lastName }}
          </td>
          <td>{{ order.state }}</td>
        </tr>
        </tbody>
      </table>
      <!--<div class='row topbar title-margin-bottom'>-->
        <!--<div class='small-12 medium-6 columns'>-->
          <!--<h4 class="primary-color">SUCCESS TIPS</h4>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="columns medium-12">-->
          <!--<div class="success-tips clearfix">-->
            <!--<div class="columns medium-6">-->
              <!--<p>-->
                <!--<a href="/documents/tools/Parwty_Success_Tips/Pawty_Howto.pdf" target="_blank">-->
                  <!--1. Meet How To-->
                <!--</a>-->
              <!--</p>-->

              <!--<p>-->
                <!--<a href="/documents/tools/Parwty_Success_Tips/Pawty_Booking_Scripts.pdf" target="_blank">-->
                  <!--2. Meet Booking Scripts-->
                <!--</a>-->
              <!--</p>-->

              <!--<p>-->
                <!--<a href="/documents/tools/Parwty_Success_Tips/Online_Pawty_Handler_Schedule.pdf" target="_blank">-->
                  <!--3. Online Meet Schedule For Handler-->
                <!--</a>-->
              <!--</p>-->

              <!--<p>-->
                <!--<a href="/documents/tools/Parwty_Success_Tips/Online_Pawty_Host_Schedule.pdf" target="_blank">-->
                  <!--4. Online Meet Schedule For Host(ess)-->
                <!--</a>-->
              <!--</p>-->
            <!--</div>-->
            <!--<div class="columns medium-6">-->
              <!--<p>-->
                <!--<a href="/documents/tools/Parwty_Success_Tips/Coaching_Hostess.pdf" target="_blank">-->
                  <!--5. Coaching Host(ess)-->
                <!--</a>-->
              <!--</p>-->

              <!--<p>-->
                <!--<a href="/documents/tools/Parwty_Success_Tips/Online_Pawty_Tips.pdf" target="_blank">-->
                  <!--6. Meet Tips-->
                <!--</a>-->
              <!--</p>-->

              <!--<p>-->
                <!--<a href="/documents/tools/Parwty_Success_Tips/Pawty_Games.pdf" target="_blank">-->
                  <!--7. Meet Games-->
                <!--</a>-->
              <!--</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
    <div class='columns medium-4'>
      <div class='party-panel block-margin-bottom'>
        <h4>{{ party.title }}</h4>

        <div class="party-details-info">
          <dl class="row">
            <dt class="small-4 columns">Date:</dt>
            <dd class="small-8 columns">{{ party.startTime | date: 'medium' }}</dd>
          </dl>
          <dl class="row">
            <dt class="small-4 columns">End:</dt>
            <dd class="small-8 columns">{{ party.endTime | date: 'medium' }}</dd>
          </dl>
          <dl class="row">
            <dt class="small-4 columns">Location:</dt>
            <dd class="small-8 columns">{{ party.locationName }}</dd>
          </dl>
          <br/>
          <dl class="row">
            <dt class="small-4 columns">Host(ess):</dt>
            <dd class="small-8 columns">{{ party.hostName }}</dd>
          </dl>
        </div>
      </div>
      <h3 class="primary-color">
        RSVP
        <!--<a class="button right tiny">Manage Guest</a>-->
      </h3>

      <div data-rsvp-panel
           data-invitees="invitees"
           data-event="party"></div>

      <h3 class="primary-color">RSVP History</h3>

      <div class="party-panel">
        <table width='100%' class='party-user-table'>
          <tbody>
          <tr ng-repeat="invitee in invitees">
            <td>
              <div class='party-user-table-info party-user-table-info-noPho'>
                <h5>
                        <span class="base-font">
                          {{invitee.firstName}}
                          {{invitee.middleName}}
                          {{invitee.lastName}}
                          ({{invitee.email}})
                        </span>
                  <br/>
                  <small ng-if="invitee.reply === 'noreply'">
                    Not yet replied.
                  </small>
                  <div ng-repeat="response in invitee.responses">
                    <small class="right">{{response.createdAt | readableTimestampFrom: 'now' }}</small>
                    <small ng-if="!$last">
                      Change Reply to "{{response.reply}}"
                    </small>
                    <small ng-if="$last">
                      Replied "{{response.reply}}"
                    </small>
                    <small ng-if="response.comment">
                      <br/>
                      {{response.comment}}
                    </small>
                  </div>
                </h5>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <p ng-if="false"><a class="right small-font" href="">Show All</a></p>
    </div>
  </div>
</div>
