<div class='party-container'>
  <div class='row topbar'>
    <!--<div class='small-12 medium-4 columns'>-->
    <!--<div class='row collapse'>-->
    <!--<div class='small-10 columns'>-->
    <!--<input type='text' placeholder='Search...' class='secondary-item no-margin-bottom' dropdown-toggle="#drop-menu-search" />-->
    <!--</div>-->
    <!--<div class='small-2 columns'>-->
    <!--<a href='#' class='postfix button'><i class="fa fa-search"></i></a>-->
    <!--</div>-->
    <!--<ul id="drop-menu-search" class='f-dropdown party-panel-list'>-->
    <!--<li ng-repeat="choice in searchItems">-->
    <!--<i class="fa fa-caret-right primary-color"></i>-->
    <!--<a href='#'>[choice.name]</a>-->
    <!--<span href='#' class='label secondary right'>[choice.date]</span>-->
    <!--</li>-->
    <!--</ul>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class='small-12 medium-8 columns text-right'>-->
    <!--<a href='/#/party/create' class='button small'>Create a Pawty</a>-->
    <!--</div>-->
  </div>
  <div class='row'>
    <div class='columns medium-8'>
      <h4>Let's Book a Miioon Meet or Fundraiser</h4>
      <p>This is the heart of your business. Hone your booking skills and you'll always be able to fill your calendar, and earn what you desire.</p>
      <p>Start by following the 3 simple steps of booking</p>
      <ul class='party-none-step'>
        <li>
          <p><b>1.</b>&nbsp;Brainstorm a list of people you know
        </li>
        <li>
          <p><b>2.</b>&nbsp;Warmly offer the opportunity to host to each person on your list
        </li>
        <li>
          <p><b>3.</b>&nbsp;Book a Miioon Meet or Fundraiser from your Party Plan
        </li>
      </ul>
      <br/><br/>
      <p><a href='#/meet/create' class='button small'>Create a Meet</a></p>
    </div>
    <div class='columns medium-4'>
      <!--<h4 class="primary-color">Pawty Calendar</h4>-->
      <!--<div data-calendar-->
      <!--data-selected-date="selectedDate">-->
      <!--</div>-->
    </div>
  </div>
</div>

