<div class='party-container'>
    <div class='row party-topbar'>
      <div class='small-12 columns'>
        <ul class="breadcrumbs">
          <li class='unavailable'><a href="#">My Meet</a></li>
          <li class='current'><a href="#">Create a Meet</a></li>
      </div>
    </div>
    <div class='row'><div class='columns small-12'><p class='separator-line'></p></div></div>
    <div class='row'>
      <div class='columns small-12'>
        <div class='party-create-form'>
          <form name="" novalidate>
            <div class='row'>
              <div class='medium-12 columns'>
                <h3>Meet Type</h3>
              </div>
            </div>
            <div class="row">
              <div class="medium-3 columns">
                <label class='inline'>Type <small class='required'>*</small></label>
              </div>
              <div class='medium-9 columns'>
                <select required>
                  <option value=''>Miioon Meets</option>
                </select>
                <small class="error">This information is required.</small>
              </div>
            </div>
            <div class='row'>
              <div class='medium-12 columns'>
                <h3>Hostess Information</h3>
              </div>
            </div>
            <div class="row">
              <div class="medium-3 columns">
                <label class='inline'>Host Name <small class='required'>*</small></label>
              </div>
              <div class='medium-9 columns'>
                <input type="text" required pattern="">
                <small class="error">This information is required.</small>
              </div>
            </div>
            <div class='row'>
              <div class='medium-12 columns'>
                <h3>Location</h3>
              </div>
            </div>
            <div class="row">
              <div class="medium-3 columns">
                <label class='inline'>Location Name <small class='required'>*</small></label>
              </div>
              <div class='medium-9 columns'>
                <input type="text" required pattern="">
                <small class="error">This information is required.</small>
              </div>
            </div>
            <div class="row">
              <div class="medium-3 columns">
                <label class='inline'>Address <small class='required'>*</small></label>
              </div>
              <div class='medium-9 columns'>
                <input type="text" required pattern="">
                <small class="error">This information is required.</small>
              </div>
            </div>
            <div class="row">
              <div class="medium-3 columns">
                <label class='inline'>Town/City <small class='required'>*</small></label>
              </div>
              <div class='medium-9 columns'>
                <input type="text" required pattern="">
                <small class="error">This information is required.</small>
              </div>
            </div>
            <div class="row">
              <div class="medium-3 columns">
                <label class='inline'>State <small class='required'>*</small></label>
              </div>
              <div class='medium-9 columns'>
                <select required>
                  <option value=''></option>
                </select>
                <small class="error">This information is required.</small>
              </div>
            </div>
            <div class="row">
              <div class="medium-3 columns">
                <label class='inline'>Zip Code <small class='required'>*</small></label>
              </div>
              <div class='medium-9 columns'>
                <input type="text" required pattern="">
                <small class="error">This information is required.</small>
              </div>
            </div>
            <div class='row'>
              <div class='medium-12 columns'>
                <h3>Date and Time</h3>
              </div>
            </div>
            <div class="row">
              <div class="medium-3 columns">
                <label class='inline'>Date <small class='required'>*</small></label>
              </div>
              <div class='medium-3 columns'>
                <input type="text" required pattern="">
                <small class="error">This information is required.</small>
              </div>
              <div class="medium-3 columns">
                <label class='inline'>Start Time <small class='required'>*</small></label>
              </div>
              <div class='medium-3 columns'>
                <select required>
                  <option value=''></option>
                </select>
                <small class="error">This information is required.</small>
              </div>
            </div>
            <div class="row">
              <div class="medium-3 columns">
                <label class='inline'>End Date <small class='required'>*</small></label>
              </div>
              <div class='medium-3 columns'>
                <input type="text" required pattern="">
                <small class="error">This information is required.</small>
              </div>
              <div class="medium-3 columns">
                <label class='inline'>End Time <small class='required'>*</small></label>
              </div>
              <div class='medium-3 columns'>
                <select required>
                  <option value=''></option>
                </select>
                <small class="error">This information is required.</small>
              </div>
            </div>
            <div class="row">
              <div class='medium-9 columns small-offset-3'>
                <a href='#' class="button" type="submit">Save</a>
                <a href='#' class="button secondary" type="submit">Cancel</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
