<div class='party-container'>
    <div class='row party-topbar'>
      <div class='small-12 columns'>
        <ul class="breadcrumbs">
          <li class='unavailable'><a href="#">My Meet</a></li>
          <li class='current'><a href="#">Invite Guests to Shelly Olson's Meet</a></li>
      </div>
    </div>
    <div class='row'><div class='columns small-12'><p class='separator-line'></p></div></div>
    <div class='row'>
      <div class='columns small-12'>
        <ul class='party-info'>
          <li>October 24, 2013</li>
          <li>7:30 AM</li>
          <li>Closes November 14, 2013</li>
          <li><a href='#'>33 Pine, San Francisco, CA</a></li>
          <li><a href='#'>Hostess</a></li>
        </ul>
      </div>
    </div>
    <div class='row'>
      <div class='columns small-4'>
        <div class='party-panel'>
          <h3 class="text-center">Invite</h3>
          <div class='party-invite-info'>
            <p>Invite 40+ guests to increase the number of Meet attendees to maximize your Meet Rewards<br/><strong><a href='#'>View Guest RSVPs</a></strong></p>
            <div class='party-invite-goal'>
              <p class='icons-pink-circle-big'><strong>2</strong><br/><span>TOTAL INVITED</span></p>
              <h5>GOAL: INVITE 40</h5>
            </div>
          </div>
        </div>
      </div>
      <div class='columns small-8'>
        <div class='party-invite-form'>
          <form>
            <div class='row'>
              <div class='columns small-12'>
                <label>
                  <h5>Enter Email Address</h5>
                  <textarea placeholder='Type in an email address here, or paste in a list of email. Please commas to seperate e-mail address.'></textarea>

                </label>
              </div>
            </div>
            <div class='row'>
              <div class='columns small-12'>
                <label>
                  <h5>Invite Email Subject</h5>
                  <input type='text' />
                </label>
              </div>
            </div>
            <div class='row'>
              <div class='columns small-12'>
                <label>
                  <h5>Message</h5>
                  <textarea></textarea>
                </label>
              </div>
            </div>
            <div class="row">
              <div class='medium-12 columns'>
                <a href='#' class="button" type="submit">Invite</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
