<div class='party-container'>
    <div class='row party-topbar'>
      <div class='small-12 columns'>
        <ul class="breadcrumbs">
          <li class='unavailable'><a href="#">My Meet</a></li>
          <li class='current'><a href="#">Manage Guests for Shelly Olson's Meet</a></li>
      </div>
    </div>
    <div class='row'><div class='columns small-12'><p class='separator-line'></p></div></div>
    <div class='row'>
      <div class='columns small-12'>
        <ul class='party-info'>
          <li>October 24, 2013</li>
          <li>7:30 AM</li>
          <li>Closes November 14, 2013</li>
          <li><a href='#'>33 Pine, San Francisco, CA</a></li>
          <li><a href='#'>Hostess</a></li>
        </ul>
      </div>
    </div>
    <div class='row'>
      <div class='columns small-12'>
        <div class='party-panel'>
          <div class='row'>
            <div class='columns medium-12'>
              <div class='party-rsvps-info'>
                <div class='row'>
                  <div class='columns medium-8'>
                    <b>2</b>
                    <div class='party-rsvps-info-text'>
                      <h4>TOTAL INVITE: 2</h4>
                      <ul class='party-info'>
                        <li>Yes: 1</li>
                        <li>Maybe: 1</li>
                        <li>No: 0</li>
                        <li>Not Reply Yet: 0</li>
                        <li>Bounced: 0</li>
                      </ul>
                    </div>
                  </div>
                  <div class='columns medium-4'>
                    <p class='party-rsvps-info-button'>
                      <a href='#' class='button small'>Invite Guests</a>
                      <a href='#' class='button alert small'>Manage Guests</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
    	<div class='columns medium-6'>
        <div class='party-panel'>
          <h3>YES: 2 <i class="fa fa-chevron-down right"></i></h3>
          <table width='100%' class='party-user-table'>
            <thead>
              <tr>
                <th><a herf='#' class='button secondary tiny'>Email All</a></th>
                <th width='120'>TOTAL GUESTS</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                  <td>
                    <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
                    <div class='party-user-table-info'>
                      <h4>
                        Shelly olson
                        <br/>
                        <small>sjbolson13@gmail.com</small>
                      </h4>
                    </div>
                  </td>
                  <td><span class='party-user-table-num'>1</span></td>
                </tr>
                <tr class='odd'>
                  <td>
                    <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
                    <div class='party-user-table-info'>
                      <h4>
                        Shelly olson
                        <br/>
                        <small>sjbolson13@gmail.com</small>
                      </h4>
                    </div>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <td>
                    <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
                    <div class='party-user-table-info'>
                      <h4>
                        Shelly olson
                        <br/>
                        <small>sjbolson13@gmail.com</small>
                      </h4>
                    </div>
                  </td>
                  <td></td>
                </tr>
            </tbody>
          </table>
        </div>
        <div class='party-panel'>
          <h3>MAYBE: 2 <i class="fa fa-chevron-down right"></i></h3>
          <div class='party-panel-con-bar'>
            <span><i class="fa fa-caret-right primary-color"></i> No Replies Yet</span>
          </div>
        </div>
        <div class='party-panel'>
          <h3>NO: 0 <i class="fa fa-chevron-right right"></i></h3>
        </div>
        <div class='party-panel'>
          <h3>NO REPLY YET: 0 <i class="fa fa-chevron-right right"></i></h3>
        </div>
    	</div>
      <div class='columns medium-6'>
        <div class='party-panel'>
          <h3>RSVP History</h3>
          <table width='100%' class='party-user-table'>
            <tbody>
                <tr>
                  <td>
                    <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
                    <div class='party-user-table-info'>
                      <h4>
                        Shelly olson
                        <br/>
                        <small>Change Reply to "YES"</small>
                      </h4>
                    </div>
                  </td>
                  <td width='100'><small>1 min ago</small></td>
                </tr>
                <tr class='odd'>
                  <td>
                    <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
                    <div class='party-user-table-info'>
                      <h4>
                        Shelly olson
                        <br/>
                        <small>Replied "MAYBE"</small>
                      </h4>
                    </div>
                  </td>
                  <td width='100'><small>2 min ago</small></td>
                </tr>
                <tr>
                  <td>
                    <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
                    <div class='party-user-table-info'>
                      <h4>
                        Shelly olson
                        <br/>
                        <small>Change Reply to "YES"</small>
                      </h4>
                    </div>
                  </td>
                  <td width='100'><small>04/08/2014 23:22</small></td>
                </tr>
                <tr class='odd'>
                  <td>
                    <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
                    <div class='party-user-table-info'>
                      <h4>
                        Shelly olson
                        <br/>
                        <small>Replied "MAYBE" and comment "I am not sure, i will be go out..."</small>
                      </h4>
                    </div>
                  </td>
                  <td width='100'><small>04/08/2014 23:22</small></td>
                </tr>
                <tr>
                  <td>
                    <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
                    <div class='party-user-table-info'>
                      <h4>
                        Shelly olson
                        <br/>
                        <small>Change Reply to "YES"</small>
                      </h4>
                    </div>
                  </td>
                  <td width='100'><small>04/08/2014 23:22</small></td>
                </tr>
                <tr class='odd'>
                  <td>
                    <img class='party-user-table-img' src='/images/party/party-user-1.jpg' alt='[User Name]' />
                    <div class='party-user-table-info'>
                      <h4>
                        Shelly olson
                        <br/>
                        <small>Replied "MAYBE" and comment "I am not sure, i will be go out..."</small>
                      </h4>
                    </div>
                  </td>
                  <td width='100'><small>04/08/2014 23:22</small></td>
                </tr>
            </tbody>
          </table>
          <ul class="pagination right">
              <li class="arrow unavailable"><a href=""><i class="fa fa-caret-left"></i> Previous</a></li>
              <li class="current"><a href="">01</a></li>
              <li class="unavailable"><a href="">|</a></li>
              <li><a href="">02</a></li>
              <li class="unavailable"><a href="">|</a></li>
              <li><a href="">03</a></li>
              <li class="arrow"><a href="">Next <i class="fa fa-caret-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='columns medium-6'>
        <img src='/images/party/party-email-ad.jpg' alt='[AD name]' />
      </div>
      <div class='columns medium-6'>
        <img src='/images/party/party-email-ad.jpg' alt='[AD name]' />
      </div>
    </div>
</div>
