<div class='party-container'>
    <div class='row party-topbar'>
      <div class='small-12 columns'>
        <ul class="breadcrumbs">
          <li class='unavailable'><a href="#">Start Shopping</a></li>
      </div>
    </div>
    <div class='row'><div class='columns small-12'><p class='separator-line'></p></div></div>
    <div class='row'>
      <div class='columns small-6'>
        <div class='party-panel'>
          <div class='row'>
            <div class='columns medium-12'>
              <div class='start-shopping-info'>
                <div class='row'>
                  <div class='columns medium-9'>
                    <div class='start-shopping-info-text'>
                      <h4>SHOP FOR MYSELF</h4>
                      <ul class='start-shopping-detail'>
                        <li>Get 25% off your Stylist personal order.</li>
                      </ul>
                    </div>
                  </div>
                  <div class='columns medium-3'>
                    <p class='start-shopping-info-button'>
                      <a href='#' class='button small'>Shop</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='columns small-6'>
        <div class='party-panel'>
          <div class='row'>
            <div class='columns medium-12'>
              <div class='start-shopping-info'>
                <div class='row'>
                  <div class='columns medium-9'>
                    <div class='start-shopping-info-text'>
                      <h4>PLACE A PARTY ORDER</h4>
                      <div class='start-shopping-detail'>
                        <div class='row collapse'>
                            <div class='small-10 columns'>
                              <input type='text' placeholder='SHEELY OLSON - TUE 10/24 7:00PM' class='secondary-item no-margin-bottom' />
                            </div>
                            <div class='small-2 columns'>
                              <a href='#' class='postfix button secondary'><i class="fa fa-arrow-down"></i></a>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class='columns medium-3'>
                    <p class='start-shopping-info-button'>
                      <a href='#' class='button small'>Shop</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='columns small-6'>
        <div class='party-panel'>
          <div class='row'>
            <div class='columns medium-12'>
              <div class='start-shopping-info'>
                <div class='row'>
                  <div class='columns medium-9'>
                    <div class='start-shopping-info-text'>
                      <h4>ORDERS</h4>
                      <div class='start-shopping-detail'>
                        Party order function description here. <a href='#'>View Party Orders &gt;</a>
                      </div>
                    </div>
                  </div>
                  <div class='columns medium-3'>
                    <p class='start-shopping-info-button'>
                      <a href='#' class='button small'>Shop</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='columns small-6'>
        <div class='party-panel'>
          <div class='row'>
            <div class='columns medium-12'>
              <div class='start-shopping-info'>
                <div class='row'>
                  <div class='columns medium-9'>
                    <div class='start-shopping-info-text'>
                      <h4>PLACE A NO-PARTY ORDER</h4>
                      <div class='start-shopping-detail'>
                        Place customer no-party order.
                      </div>
                    </div>
                  </div>
                  <div class='columns medium-3'>
                    <p class='start-shopping-info-button'>
                      <a href='#' class='button small'>Shop</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='columns medium-6'>
        <img src='/images/party/party-email-ad.jpg' alt='[AD name]' />
      </div>
      <div class='columns medium-6'>
        <img src='/images/party/party-email-ad.jpg' alt='[AD name]' />
      </div>
    </div>
</div>
