<div class='party-container'>
    <div class='row party-topbar'>
      <div class='small-12 columns'>
        <ul class="breadcrumbs">
          <li class='unavailable'><a href="#">My Meet</a></li>
          <li class='current'><a href="#">Manage Guests for Shelly Olson's Meet</a></li>
      </div>
    </div>
    <div class='row'><div class='columns small-12'><p class='separator-line'></p></div></div>
    <div class='row'>
    	<div class='columns small-12'>
        <h3>Manage Guests <small class='right'><a href='#'>View Guest RSVPs</a></small></h3>
        <table width='100%'>
              <thead>
                <tr>
                  <th width='150'>Name</th>
                  <th>Email Address</th>
                  <th width='100'>RSVP</th>
                  <th width='130'></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><input type='text' value='Jackson Ng' /></td>
                  <td><input type='text' value='jackson.ng@abouts.com' /></td>
                  <td>Yes</td>
                  <td>
                    <a href='#' class="tiny button">Save</a>
                  </td>
                </tr>
                <tr class='odd'>
                  <td>Jackson Ng</td>
                  <td>jackson.ng@abouts.com</td>
                  <td>Yes</td>
                  <td><a href='#' class="tiny button">Edit</a> <a href='#' class="tiny secondary button">Remove</a></td>
                </tr>
                <tr>
                  <td>Jackson Ng</td>
                  <td>jackson.ng@abouts.com</td>
                  <td>Yes</td>
                  <td><a href='#' class="tiny button">Edit</a> <a href='#' class="tiny secondary button">Remove</a></td>
                </tr>
                <tr class='odd' ng-repeat='items in guestItems'>
                  <td ng-show='guestSaved'>{{items.name}}</td>
                  <td ng-show='guestSaved'>{{items.email}}</td>
                  <td ng-show='guestSaved'>{{items.rsvp}}</td>
                  <td ng-show='guestSaved'>
                    <a href='#' class="tiny button">Edit</a> <a href='#' class="tiny secondary button">Remove</a>
                  </td>
                  <td ng-hide='guestSaved'><input type='text' value='Jackson Ng' /></td>
                  <td ng-hide='guestSaved'><input type='text' value='jackson.ng@abouts.com' /></td>
                  <td ng-hide='guestSaved'>{{items.rsvp}}</td>
                  <td ng-hide='guestSaved'><a href='#' class="tiny button">Save</a></td>
                </tr>
                <tr class='last-tr'>
                  <td>Jackson Ng</td>
                  <td>jackson.ng@abouts.com</td>
                  <td>Yes</td>
                  <td><a href='#' class="tiny button">Edit</a> <a href='#' class="tiny secondary button">Remove</a></td>
                </tr>
              </tbody>
        </table>
        <ul class="pagination right">
              <li class="arrow unavailable"><a href=""><i class="fa fa-caret-left"></i> Previous</a></li>
              <li class="current"><a href="">01</a></li>
              <li class="unavailable"><a href="">|</a></li>
              <li><a href="">02</a></li>
              <li class="unavailable"><a href="">|</a></li>
              <li><a href="">03</a></li>
              <li class="arrow"><a href="">Next <i class="fa fa-caret-right"></i></a></li>
        </ul>
    	</div>
    </div>
</div>
