<div class='party-container'>
    <div class='row party-topbar'>
        <div class='small-12 medium-4 columns'>
        	<div class='row collapse'>
	            <div class='small-10 columns'>
	              <input type='text' placeholder='Search Meets by Hostess Name' class='secondary-item no-margin-bottom' />
	            </div>
	            <div class='small-2 columns'>
	              <a href='#' class='postfix button secondary'><i class="fa fa-search"></i></a>
	            </div>
	        </div>
        </div>
        <div class='small-12 medium-8 columns text-right'>
        	<a href='#' class='button small'>Create a Meet</a>
        </div>
    </div>
    <div class='row'><div class='columns small-12'><p class='separator-line'></p></div></div>
    
</div>
