<div class='party-container'>
    <div class='row party-topbar'>
        <div class='small-12 medium-4 columns'>
        	<div class='row collapse'>
	            <div class='small-10 columns'>
	              <input type='text' placeholder='Search Meets by Hostess Name' class='secondary-item no-margin-bottom' />
	            </div>
	            <div class='small-2 columns'>
	              <a href='#' class='postfix button secondary'><i class="fa fa-search"></i></a>
	            </div>
	        </div>
        </div>
        <div class='small-12 medium-8 columns text-right'>
        	<a href='#' class='button small'>Create a Meet</a>
        </div>
    </div>
    <div class='row'><div class='columns small-12'><p class='separator-line'></p></div></div>
    <div class='row'>
    	<div class='columns medium-4'>
            <div class='party-panel'>
                <h3 class='text-center'><small>Miioon Meets</small><img src='/images/button-on.jpg' /><small>Fundraising Event</small></h3>
            </div>
            <div class='party-panel'>
                <h3 class='text-center'>Upcoming Meets</h3>
                <ul class='party-panel-list'>
                    <li><i class="fa fa-caret-right primary-color"></i> <a href='#'>Shell Olson</a> <span href='#' class='label secondary right'>TUE 10/24</span></li>
                    <li><i class="fa fa-caret-right primary-color"></i> <a href='#'>Shell Olson</a> <span href='#' class='label secondary right'>TUE 10/24</span></li>
                    <li><i class="fa fa-caret-right primary-color"></i> <a href='#'>Shell Olson</a> <span href='#' class='label secondary right'>TUE 10/24</span></li>
                </ul>
            </div>
            <div class='party-panel'>
                <img src='/images/calendar.jpg' />
            </div>
    	</div>
    	<div class='columns medium-8'>
            <h4>Let's Book a Trunk Show</h4>
            <p class='small-font'>The Trunk Show is the heart of your business. Hone your booking skills and you'll always be able to finll your calendar, and earn what you desire.</p>
            <p class='small-font'>Start by following the 3 simple steps of booking</p>
            <ul class='party-none-step'>
              <li>
                <b class=''>1</b>
                <p>Brainstorm a list of people you know<br/><a href='#'>Learn More</a></p>
              </li>
              <li>
                <b class=''>2</b>
                <p>Warmly offer the opportunity to host to each person on your list<br/><a href='#'>Learn More</a></p>
              </li>
              <li>
                <b class=''>3</b>
                <p>Book trunk shows from trunk show<br/><a href='#'>Learn More</a></p>
              </li>
            </ul>
            <br/><br/>
            <p class='text-center'><a href='#' class='button small'>Create a Meet</a></p>
        </div>
    </div>
</div>
