<div class='party-container'>
    <div class='row'>
      <div class='small-12 columns party-email-banner'>
        <img src='/images/party/party-email-banner-1.jpg' alt='Your RSVP' />
        <div class='party-email-banner-text'>
          <h2>Shelly Olson's Meet<br/><small>December 31st, 2013 | 7:30 AM</small></h2>
          <p>BUIDING ABC<br/>21027 Parkwoods Dr, South Lyon, MI 48178-9032</p>
          <p class='party-email-banner-anwser'>Your RSVP is<br/>YES<br/><br/><a href='#'>Go to Shopping</a></p>
        </div>
      </div>
    </div>
    <h3>Who's Coming?</h3>
    <div class='row'>
    	<div class='columns medium-6'>
    	</div>
      <div class='columns medium-6'>
      </div>
    </div>
</div>
