<div class='party-container'>
    <div class='row party-topbar'>
      <div class='small-12 columns'>
        <ul class="breadcrumbs">
          <li class='unavailable'><a href="#">My Meet</a></li>
          <li class='current'><a href="#">Meet Orders</a></li>
      </div>
    </div>
    <div class='row'><div class='columns small-12'><p class='separator-line'></p></div></div>
    <div class='row'>
          <div class='medium-7 columns'>
            <h3>Shelly Olson's Trunk Show Meet Orders</h3>
          </div>
          <div class='medium-5 columns'>
            <div class='row collapse'>
                <div class='small-10 columns'>
                  <input type='text' placeholder='Typing Order ID or Product Name for search.' class='secondary-item no-margin-bottom' />
                </div>
                <div class='small-2 columns'>
                  <a href='#' class='postfix button secondary'><i class="fa fa-search"></i></a>
                </div>
            </div>
          </div>
    </div>
    <div class='row'>
    	<div class='columns small-12'>
        <table width='100%'>
              <thead>
                <tr>
                  <th width='150'>Name</th>
                  <th width='120'>Date</th>
                  <th width='120'>Order Total</th>
                  <th>Customer</th>
                  <th width='150'>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href='#'>6692688</a></td>
                  <td>03/11/2013</td>
                  <td>$110.90</td>
                  <td>Jackson Ng</td>
                  <td>Shipped</td>
                </tr>
                <tr class='odd'>
                  <td><a href='#'>6692688</a></td>
                  <td>03/11/2013</td>
                  <td>$110.90</td>
                  <td>Jackson Ng</td>
                  <td>Shipped</td>
                </tr>
                <tr>
                  <td><a href='#'>6692688</a></td>
                  <td>03/11/2013</td>
                  <td>$110.90</td>
                  <td>Jackson Ng</td>
                  <td>Shipped</td>
                </tr>
                <tr class='odd'>
                  <td><a href='#'>6692688</a></td>
                  <td>03/11/2013</td>
                  <td>$110.90</td>
                  <td>Jackson Ng</td>
                  <td>Shipped</td>
                </tr>
                <tr>
                  <td><a href='#'>6692688</a></td>
                  <td>03/11/2013</td>
                  <td>$110.90</td>
                  <td>Jackson Ng</td>
                  <td>Shipped</td>
                </tr>
                <tr class='odd'>
                  <td><a href='#'>6692688</a></td>
                  <td>03/11/2013</td>
                  <td>$110.90</td>
                  <td>Jackson Ng</td>
                  <td>Shipped</td>
                </tr>
                <tr>
                  <td><a href='#'>6692688</a></td>
                  <td>03/11/2013</td>
                  <td>$110.90</td>
                  <td>Jackson Ng</td>
                  <td>Shipped</td>
                </tr>
                <tr class='odd'>
                  <td><a href='#'>6692688</a></td>
                  <td>03/11/2013</td>
                  <td>$110.90</td>
                  <td>Jackson Ng</td>
                  <td>Shipped</td>
                </tr>
                <tr>
                  <td><a href='#'>6692688</a></td>
                  <td>03/11/2013</td>
                  <td>$110.90</td>
                  <td>Jackson Ng</td>
                  <td>Shipped</td>
                </tr>
                <tr class='odd'>
                  <td><a href='#'>6692688</a></td>
                  <td>03/11/2013</td>
                  <td>$110.90</td>
                  <td>Jackson Ng</td>
                  <td>Shipped</td>
                </tr>
                <tr class='last-tr'>
                  <td><a href='#'>6692688</a></td>
                  <td>03/11/2013</td>
                  <td>$110.90</td>
                  <td>Jackson Ng</td>
                  <td>Shipped</td>
                </tr>
              </tbody>
        </table>
        <ul class="pagination right">
              <li class="arrow unavailable"><a href=""><i class="fa fa-caret-left"></i> Previous</a></li>
              <li class="current"><a href="">01</a></li>
              <li class="unavailable"><a href="">|</a></li>
              <li><a href="">02</a></li>
              <li class="unavailable"><a href="">|</a></li>
              <li><a href="">03</a></li>
              <li class="arrow"><a href="">Next <i class="fa fa-caret-right"></i></a></li>
        </ul>
    	</div>
    </div>
</div>
