<div class="row">
  <div class="columns medium-12">
    <h5>
      REVIEW & PLACE ORDER
    </h5>
  </div>
</div>
<div class="row">
  <div class="columns medium-12">
    <div data-alert class="alert-box info" ng-if="!isFailed">
      You are placing a customer order now,
      please fill his/her shipping information.
    </div>
    <div data-alert class="alert-box alert" ng-if="isFailed">
      Process order failed, please check your payment information.
    </div>
  </div>
</div>
<div class="row checkout">
  <div class="columns medium-7">
    <div class="info-panel">
      <h5>
        SHIPPING INFO
      </h5>

      <div class="sub-title">
        Shipping Method
      </div>
      <div>
        <input ng-repeat-start="shippingMethod in order.data['available-shipping-methods']"
               type="radio" name="shipping-method" id="shipping-method-{{shippingMethod.id}}"
               ng-model="$parent.selectedShippingMethod" ng-value="shippingMethod"
               ng-change="changeShippingMethod($parent.selectedShippingMethod)"/>
        <label ng-repeat-end for="shipping-method-{{shippingMethod.id}}">{{shippingMethod.name}}</label>
      </div>
      <div class="sub-title">
        Ship To
      </div>
      <p class="medium-font">
        {{order.data['shipping-address']['first-name']}}
        {{order.data['shipping-address']['m']}}
        {{order.data['shipping-address']['last-name']}}
        <br/>

        {{order.data['shipping-address']['street-cont']}}
        {{order.data['shipping-address']['street']}},
        {{order.data['shipping-address']['city']}},
        {{order.data['shipping-address']['state']}},
        {{order.data['shipping-address']['country']}},
        {{order.data['shipping-address']['zip']}}
        <br/>

        Phone: {{order.data['shipping-address']['phone']}}
      </p>
      <button ng-show="order.data['shipping-address-changeable']" ng-click="editShippingAddress()">Edit</button>
    </div>
    <div class="info-panel">
      <h5>
        PAYMENT INFO
      </h5>

      <div class="sub-title" ng-hide="order.data['available-payment-methods'].length === 1">
        Payment Method
      </div>
      <div ng-hide="order.data['available-payment-methods'].length === 1">
        <input ng-repeat-start="paymentMethod in order.data['available-payment-methods']"
               type="radio" name="payment-method" id="shipping-method-{{paymentMethod.id}}"
               ng-model="$parent.selectedPaymentMethod" ng-value="paymentMethod"/>
        <label ng-repeat-end for="shipping-method-{{paymentMethod.id}}">{{paymentMethod.name}}</label>
      </div>
      <form name="creditCardForm" ng-show="selectedPaymentMethod['is-creditcard']">
        <div class="row">
          <div class="columns medium-12">
            <label for="number" class="required">Card Number</label>
          </div>
          <div class="columns medium-8">
            <input ng-required="selectedPaymentMethod['is-creditcard']" type="text" ng-model="creditCard.number"
                   id="number" name="number"/>
            <small ng-show="submitted && creditCardForm.number.$error.required" class="error">
              This field is required.
            </small>
          </div>
          <div class="columns medium-4">
            <img src="images/cards.png" alt="Cards"/>
          </div>
        </div>
        <div class="row credit-card-expiration">
          <div class="columns medium-8">
            <label for="expiration-month" class="required">Expiration</label>
          </div>
          <div class="columns medium-4">
            <label for="cvv" class="required">Card Code</label>
          </div>
          <div class="columns medium-4">
            <select id="expiration-month" name="expiration-month" ng-required="selectedPaymentMethod['is-creditcard']"
                    ng-model="creditCard['expiration-month']"
                    ng-options="month for month in expirationMonths">
              <option value="">Month</option>
            </select>
            <small ng-show="submitted && creditCardForm['expiration-month'].$error.required" class="error">
              This field is required.
            </small>
          </div>
          <div class="columns medium-4">
            <select id="expiration-year" name="expiration-year" ng-required="selectedPaymentMethod['is-creditcard']"
                    ng-model="creditCard['expiration-year']"
                    ng-options="year for year in expirationYears">
              <option value="">Year</option>
            </select>
            <small ng-show="submitted && creditCardForm['expiration-year'].$error.required" class="error">
              This field is required.
            </small>
          </div>
          <div class="columns medium-4">
            <input type="text" id="cvv" name="cvv" ng-required="selectedPaymentMethod['is-creditcard']"
                   ng-model="creditCard['cvv']"/>
            <small ng-show="submitted && creditCardForm.cvv.$error.required" class="error">
              This field is required.
            </small>
          </div>
        </div>
      </form>
    </div>
    <div class="info-panel last">
      <h5>
        BILL TO
      </h5>

      <p class="medium-font">
        {{order.data['billing-address']['first-name']}}
        {{order.data['billing-address']['m']}}
        {{order.data['billing-address']['last-name']}}
        <br/>

        {{order.data['billing-address']['street-cont']}}
        {{order.data['billing-address']['street']}},
        {{order.data['billing-address']['city']}},
        {{order.data['billing-address']['state']}},
        {{order.data['billing-address']['country']}},
        {{order.data['billing-address']['zip']}}
        <br/>

        Phone: {{order.data['billing-address']['phone']}}
      </p>
      <button ng-click="editBillingAddress()">Edit</button>
    </div>
  </div>
  <div class="columns medium-5">
    <h5>
      CART
    </h5>

    <div class="shopping-cart-small">
      <ul class="medium-font">
        <li class="row" ng-repeat="lineItem in order.data['line-items']">
          <div class="columns medium-3 ">
            <img class="thumbnail" src="{{lineItem['image-url']}}" alt="Product"/>
          </div>
          <div class="columns medium-9">
            <a class="primary-color" href="/#/product/{{lineItem['product-id']}}">
              {{lineItem['product-name']}}
            </a>

            <div class="unimportant-text">
              {{lineItem.sku}}
            </div>
            <div>
              Quantity: {{lineItem.quantity}}
            </div>
            <div>
              £{{lineItem.quantity * lineItem.price | price}}
            </div>
          </div>
        </li>
      </ul>
      <div class="summary clearfix">
        <dl class="medium-font clearfix unimportant-text">
          <dt class="columns medium-9">Updated SubTotal</dt>
          <dd class="columns medium-3 text-right">£{{order.data['item-total'] | price}}</dd>
          <dt class="columns medium-9" ng-repeat-start="adjustment in order.data.adjustments">{{adjustment.label}}</dt>
          <dd class="columns medium-3 text-right" ng-repeat-end>£{{adjustment.amount | price}}</dd>
        </dl>
        <div class="columns medium-12">
          <hr/>
        </div>
        <dl class="total medium-font clearfix">
          <dt class="columns medium-9">Total Price</dt>
          <dd class="columns medium-3 text-right">£{{order.data.total | price}}</dd>
        </dl>
      </div>
      <button class="place-order small" ng-disabled="placingOrder" ng-click="placeOrder()">PLACE ORDER</button>
    </div>
  </div>
</div>