<form novalidate name="form">
  <div class="row title">
    <h6 class="small-3 text-right columns">
      SHIPPING ADDRESS
    </h6>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label class="right inline required" for="shipping-first-name">First Name</label>
    </div>
    <div class="small-5 end columns">
      <input required type="text" id="shipping-first-name" name="shipping-first-name"
             ng-model="shippingAddress['first-name']"/>
      <small ng-show="submitted && form['shipping-first-name'].$error.required" class="error">
        This field is required.
      </small>
      <small ng-show="submitted && form['shipping-first-name'].$error.validated" class="error">
        {{form['shipping-first-name'].errorMessageValidated}}
      </small>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label class="right inline required" for="shipping-last-name">Last Name</label>
    </div>
    <div class="small-5 end columns">
      <input required type="text" id="shipping-last-name" name="shipping-last-name"
             ng-model="shippingAddress['last-name']"/>
      <small ng-show="submitted && form['shipping-last-name'].$error.required" class="error">
        This field is required.
      </small>
      <small ng-show="submitted && form['shipping-last-name'].$error.validated" class="error">
        {{form['shipping-last-name'].errorMessageValidated}}
      </small>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label class="right inline required" for="shipping-street">Address</label>
    </div>
    <div class="small-5 end columns">
      <input required type="text" id="shipping-street" name="shipping-street" ng-model="shippingAddress.street"/>
      <small ng-show="submitted && form['shipping-street'].$error.required" class="error">
        This field is required.
      </small>
      <small ng-show="submitted && form['shipping-street'].$error.validated" class="error">
        {{form['shipping-street'].errorMessageValidated}}
      </small>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label class="right inline" for="shipping-street-contd">Address (contd)</label>
    </div>
    <div class="small-5 end columns">
      <input type="text" id="shipping-street-contd" name="shipping-street-contd"
             ng-model="shippingAddress['street-contd']"/>
    </div>
  </div>
  <div data-countries-and-states>
    <div class="row">
      <div class="small-3 columns">
        <label class="right inline required" for="shipping-country-id">Country</label>
      </div>
      <div class="small-5 end columns">
        <select required id="shipping-country-id" name="shipping-country-id" ng-model="shippingAddress.country"
                ng-options="country.name for country in countries | orderBy:'name'"
                ng-change="onCountryChanged(shippingAddress.country.id)">
          <option value="">Please select country</option>
        </select>
        <small ng-show="submitted && form['shipping-country-id'].$error.required" class="error">
          This field is required.
        </small>
        <small ng-show="submitted && form['shipping-country-id'].$error.validated" class="error">
          {{form['shipping-country-id'].errorMessageValidated}}
        </small>
      </div>
    </div>
    <div class="row" ng-show="states.length > 0">
      <div class="small-3 columns">
        <label class="right inline required" for="shipping-state-id">County</label>
      </div>
      <div class="small-5 end columns">
        <select id="shipping-state-id" name="shipping-state-id" ng-model="shippingAddress.state"
                ng-required="states.length > 0"
                ng-options="state.name for state in states | orderBy:'name'">
          <option value="">Please select county</option>
        </select>
        <small ng-show="submitted && form['shipping-state-id'].$error.required" class="error">
          This field is required.
        </small>
        <small ng-show="submitted && form['shipping-state-id'].$error.validated" class="error">
          {{form['shipping-state-id'].errorMessageValidated}}
        </small>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label class="right inline required" for="shipping-city">City</label>
    </div>
    <div class="small-5 end columns">
      <input required type="text" id="shipping-city" name="shipping-city" ng-model="shippingAddress.city"/>
      <small ng-show="submitted && form['shipping-city'].$error.required" class="error">
        This field is required.
      </small>
      <small ng-show="submitted && form['shipping-city'].$error.validated" class="error">
        {{form['shipping-city'].errorMessageValidated}}
      </small>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label class="right inline required" for="shipping-zip">Post Code</label>
    </div>
    <div class="small-5 end columns">
      <input required type="text" id="shipping-zip" name="shipping-zip" ng-model="shippingAddress.zip"/>
      <small ng-show="submitted && form['shipping-zip'].$error.required" class="error">
        This field is required.
      </small>
      <small ng-show="submitted && form['shipping-zip'].$error.validated" class="error">
        {{form['shipping-zip'].errorMessageValidated}}
      </small>
    </div>
  </div>
  <div class="row">
    <div class="small-3 columns">
      <label class="right inline required" for="shipping-phone">Phone</label>
    </div>
    <div class="small-5 end columns">
      <input required type="text" id="shipping-phone" name="shipping-phone" ng-model="shippingAddress.phone"/>
      <small ng-show="submitted && form['shipping-phone'].$error.required" class="error">
        This field is required.
      </small>
      <small ng-show="submitted && form['shipping-phone'].$error.validated" class="error">
        {{form['shipping-phone'].errorMessageValidated}}
      </small>
    </div>
  </div>
  <div class="row title">
    <h6 class="small-3 text-right columns">
      DELIVERY OPTIONS
    </h6>
  </div>
  <div class="row" ng-repeat="shippingMethod in shippingMethods">
    <div class="small-9 small-offset-3 columns">
      <label class="inline">
        <input ng-model="shippingAddress['shipping-method-id']" type="radio" name="shipping-method"
               ng-value="shippingMethod.id" id="shipping-method-{{shippingMethod.id}}"/>
        {{shippingMethod.name}}
      </label>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-12">
      <button ng-click="submit()">Submit</button>
    </div>
  </div>
</form>
<a class="close-reveal-modal" ng-click="cancel()">&#215;</a>