<div class="row">
  <h2 class="columns small-12">
    Your order has been processed successfully!
  </h2>
</div>
<div class="row title">
  <h6 class="columns small-12 primary-color">
    Order Information
  </h6>
</div>
<div class="row">
  <p class="columns small-5">
    Status: <span class="important-text">{{successInfo['state']}}</span>
  </p>

  <p class="columns small-5 end">
    Payment Total: {{successInfo['payment-total']}}
  </p>
</div>
<div class="row">
  <p class="columns small-5">
    Order Number: {{successInfo['order-number']}}
  </p>

  <p class="columns small-5 end">
    Payment Date: {{successInfo['payment-date']}}
  </p>
</div>
<div class="row">
  <p class="columns small-5">
    Order Date: {{successInfo['order-date']}}
  </p>

  <p class="columns small-5 end">
    Payment Method: {{selectedPaymentMethod.name}}
  </p>
</div>
<div class="row">
  <p class="columns small-5 end">
    Shipping Method: {{selectedShippingMethod.name}}
  </p>
</div>
<div class="row title">
  <h6 class="small-3 columns primary-color">
    SHIPPING ADDRESS
  </h6>
</div>
<div class="row">
  <div class="columns small-12">
    <p class="medium-font">
      {{order.data['shipping-address']['first-name']}}
      {{order.data['shipping-address']['m']}}
      {{order.data['shipping-address']['last-name']}}
      <br/>

      {{order.data['shipping-address']['street-cont']}}
      {{order.data['shipping-address']['street']}},
      {{order.data['shipping-address']['city']}},
      {{order.data['shipping-address']['state']}},
      {{order.data['shipping-address']['country']}},
      {{order.data['shipping-address']['zip']}}
      <br/>

      Phone: {{order.data['shipping-address']['phone']}}
    </p>
  </div>
</div>
<div class="row title">
  <h6 class="small-3 columns primary-color">
    BILLING ADDRESS
  </h6>
</div>
<div class="row">
  <div class="columns small-12">
    <p class="medium-font">
      {{order.data['billing-address']['first-name']}}
      {{order.data['billing-address']['m']}}
      {{order.data['billing-address']['last-name']}}
      <br/>

      {{order.data['billing-address']['street-cont']}}
      {{order.data['billing-address']['street']}},
      {{order.data['billing-address']['city']}},
      {{order.data['billing-address']['state']}},
      {{order.data['billing-address']['country']}},
      {{order.data['billing-address']['zip']}}
      <br/>

      Phone: {{order.data['billing-address']['phone']}}
    </p>
  </div>
</div>
<div class="row title">
  <h6 class="small-12 columns primary-color">
    PRODUCTS
  </h6>
</div>
<div class="row">
  <div class="columns small-12">
    <table class="product-table">
      <thead>
      <tr>
        <th>SKU</th>
        <th>Item</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="lineItem in order.data['line-items']">
        <td class="text-left">{{lineItem.sku}}</td>
        <td class="text-left">
          <img ng-src="{{lineItem['image-url']}}" alt="{{lineItem['product-name']}}"/>
          {{lineItem['product-name']}}
        </td>
        <td class="price">£{{lineItem.price}}</td>
        <td>
          {{lineItem.quantity}}
        </td>
        <td class="price">£{{lineItem.price * lineItem.quantity}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="4" class="text-right">
          Item Total
        </td>
        <td class="price">
          £{{order.data['item-total'] | price}}
        </td>
      </tr>
      <tr ng-repeat="adjustment in order.data.adjustments">
        <td colspan="4" class="text-right">
          {{adjustment.label}}
        </td>
        <td class="price">
          £{{adjustment.amount | price}}
        </td>
      </tr>
      <tr>
        <td colspan="4" class="text-right">
          Order Total
        </td>
        <td class="price">
          £{{order.data.total | price}}
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
<div class="row">
  <div class="small-12 columns medium-font">
    <a href="#">Back to home</a>
  </div>
</div>