.brand-slider.slider ul li{
	height:270px;
}
.brand-container {
  .medium-3{
  	img{
  		display: inline-block;
  		height: 140px;
  	}
    p{

    	margin: rem-calc(10) 0;
    	text-align: left;
    }
  }
}
