.fundraising-container {
  .fundraising-video {
    margin-bottom: 0;
  }
  .fundraising-red {
    background: #F26344;
  }
  .fundraising-pink {
    background: #F26D77;
  }
  .blue-border-panel, .grey-border-panel, .pink-border-panel {
    padding: 0;
  }
  .grey-border-panel {
    border-color: $grey-light;
    &.bottom-arrow {
      &:before {
        border-top-color: $grey-light;
      }
    }
  }
  .pink-border-panel {
    &.bottom-arrow {
      &:before {
        border-top-color: #F26D77;
      }
    }
  }
}

.blue-border-panel{
  border:2px solid $primary-color;
  padding:10px;
  margin-bottom: 25px;
  &.bottom-arrow{
    &:before{
      border-top-color:$primary-color;
    }
  }
}

.grey-border-panel{
  border:2px solid $grey-darker;
  padding:10px;
  margin-bottom: 25px;
}

.pink-border-panel{
  border:2px solid #F26D77;
  padding:10px;
  margin-bottom: 25px;
}

.bottom-arrow{
  position: relative;
  &:before{
    position: absolute;
    left:50%;
    bottom:-20px;
    z-index: 8;
    content:'';
    width: 0;
    height: 0;
    margin-left:-10px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid $grey-darker;
  }
  &:after{
    position: absolute;
    left:50%;
    bottom:-17px;
    z-index: 9;
    content:'';
    margin-left:-8px;
    width: 0;
    height: 0;
    border-left: 18px solid transparent;
    border-right: 18px solid transparent;
    border-top: 18px solid #fff;
  }
}

.blue-block-navigation{
  width:rem-calc(220);
  li{
    margin-bottom: 5px;
    a{
      display: block;
      padding:5px 10px;
      &:hover,&.active,&:focus{
        color:#fff;
        background: $primary-color;
        text-decoration: none;
      }
    }
  }
  &.blue-horizontal-navigation{
    width:100%;
    background:#fff;
    margin-top: -10px;
    padding-top:10px;
    border-bottom:1px solid $grey-border;
    @include clearfix;
    z-index: 999;
    li{
      float:left;
      margin-right: rem-calc(10);
    }
  }
}
