.main-header {
  padding-top: 10px;


  .logo {
    position: relative;
    bottom: 20px;
  }

  .header-links {
    color: $grey;
    margin-bottom: 20px;
    font-size: rem-calc(16);
    @include clearfix;

    li {
      float: left;

      a {
        color: $grey;

        &:hover {
          color: black;
        }
      }
    }
  }

  .shopping-bag {
    font-size: $medium-font-size;
    margin-top:rem-calc(5);
  }
}
.contact-me-popup{
  textarea{
    height: auto;
  }
}
