.sign-in {
  padding-top: 85px;
  padding-bottom: 105px;

  h2 {
    font-size: rem-calc(36);
  }

  .forgot-password {
    float: right;
    margin-top: 3px;
  }

  h2 {
    margin-bottom: 30px;
  }

  h3 {
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .separator {
    height: 274px;
    border-right: 1px solid $grey-darker;
  }

  .sign-in-button {
    display: block;
    margin-top: 15px;
  }

  .benefits {
    list-style: disc;
    color: $grey;
    margin: 15px 15px 25px;
  }
}