.slider {
  position: relative;
  overflow: auto;

  ul {
    @include clearfix;
    list-style: none;

    li {
      float: left;

      img {
        width: 100%;
      }
    }
  }

  .dots {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    list-style: none;
    text-align: center;

    .dot {
      display: inline-block;
      height: 13px;
      width: 13px;
      background: white;
      border-radius: 13px;
      @include hide-text;
      margin-right: 8px;
      cursor: pointer;

      &.active {
        background: $primary-color;
      }
    }
  }
}