@import "compass/utilities";
@import "compass/css3";
@import "variables";
@import "icons";
@import "global";
@import "main-header";
@import "main-navigation";
@import "main-footer";
@import "main-container";
@import "form";
@import "sign-in";
@import "slider";
@import "grid-promotions";
@import "about";
@import "taxon/all";
@import "product-list";
@import "gift";
@import "sign-up";
@import "fundraising";
@import "press";
@import "brand";
@import "career";
@import "product-table";
@import "steps-navigation";
@import "date-picker";
@import "product-detail";
@import "tabs";
@import "shopping";
@import "text-content";
@import "checkout";
@import "look-book";
@import "size-charts";
@import "contact";
@import "loading-bar";
@import "profile-container";
@import "party";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
