<div class='products'>
  <div class='row'>
    <div class='small-12 columns'>
      <h2 class='unimportant-text'>SHOPPING: JECKETS: <span class='cPrimary'>Erin Faux Leather Moto Jacket</span></h2>
    </div>
  </div>
  <div class='row products-detail'>
    <!-- products-detail-photo start -->
    <div class='small-6 columns products-detail-photo'>
      <div class=''></div>
    </div>
    <!-- products-detail-photo end -->
    <!-- products-detail-info start -->
    <div class='small-6 columns products-detail-info'>
      
    </div>
    <!-- products-detail-info end -->
  </div>
</div>