<div class="sign-up row">
  <div class='small-12 panel sign-up-form-panel'>
    <form class="sign-up-step-1 sign-up-step" name="step" novalidate>
      <div class="row">
        <h2 class="small-12 columns">Create Distributor</h2>
      </div>

      <div data-sponsor-panel></div>

      <div data-account-panel></div>

      <div data-address-panel
           data-address-type="home"
           data-title="Home"
           >
      </div>

      <div data-address-panel
           data-address-type="shipping"
           data-title="Shipping"
           data-home-address="address.home"
           >
      </div>

    </form>
  </div>
</div>