
<div class="row">
  <h2 class="columns small-9">
    WELCOME! <br/>
    <small class="medium-font">
      Your account has been created successfully!
    </small>
  </h2>
</div>

<div class="row title">
  <h6 class="small-12 columns">
    Your Account
  </h6>
</div>

<div class="row">
  <p class="columns small-5">
    Distributer ID: {{ signup.result.distributorId }}
  </p>

  <p class="columns small-5 end">
    Sponsor Name: {{ signup.result.sponsor.name }}
  </p>
</div>

<div class="row">
  <p class="columns small-5">
    Sponsor Email: {{ signup.result.sponsor.email }}
  </p>
  <p class="columns small-5 end">
    Sponsor Phone: {{ signup.result.sponsor.phone }}
  </p>
</div>

<div class="row">
  <div class="columns small-5">
    <a href="#/quick-signup" class="button">Create Another Account</a>
  </div>
</div>