<div class="sign-up row">
  <div class='small-12 panel sign-up-form-panel'>
    <form class="sign-up-step-1 sign-up-step" name="step" novalidate>
      <div class="row">
        <h2 class="small-12 columns">Sign up as a customer</h2>
      </div>
      <div class="row">
        <p class="register-customer small-12 columns">
        <a class="primary-color" href="#/signup/1">Register as a distributor</a>
        </p>
      </div>
      <div class='row'>
        <div class='medium-12 columns'>
          <h3>Personal Details<br/><small>Enter your email address and password to create your account.</small></h3>
        </div>
      </div>
      <div class="row">
        <div class='medium-4 columns'>
          <label>Sponsor ID</label>
        </div>
        <div class='medium-8 columns'>
          <input type="text" pattern="">
          <small class="error">This information is required.</small>
        </div>
      </div>
      <div class="row">
        <div class='medium-4 columns'>
          <label>Login <small class='required'>*</small></label>
        </div>
        <div class='medium-8 columns'>
          <input type="text" required pattern="">
          <small class="error">This information is required.</small>
        </div>
      </div>
      <div class="row">
        <div class='medium-4 columns'>
          <label>Email Address <small class='required'>*</small></label>
        </div>
        <div class='medium-8 columns'>
          <input type="text" required pattern="">
          <small class="error">This information is required.</small>
        </div>
      </div>
      <div class="row">
        <div class='medium-4 columns'>
          <label>Password <small class='required'>*</small></label>
        </div>
        <div class='medium-8 columns'>
          <input type="password" required pattern="">
          <small class="error">This information is required.</small>
        </div>
      </div>
      <div class="row">
        <div class='medium-4 columns'>
          <label>Confirm Password <small class='required'>*</small></label>
        </div>
        <div class='medium-8 columns'>
          <input type="password" required pattern="">
          <small class="error">This information is required.</small>
        </div>
      </div>
      <div class='row'>
        <div class='medium-12 columns'>
          <h3>Shipping Details<br/><small>Enter the name and address you'd like us to ship your order to</small></h3>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns">
          <label>First Name <small class='required'>*</small></label>
        </div>
        <div class="medium-8 columns">
          <input type="text" required pattern="">
          <small class="error">
            This field is required.
          </small>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns">
          <label>Last Name <small class='required'>*</small></label>
        </div>
        <div class="medium-8 columns">
          <input type="text" required pattern="">
          <small class="error">
            This field is required.
          </small>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns">
          <label>Phone Number <small class='required'>*</small></label>
        </div>
        <div class="medium-8 columns">
          <input type="text" required pattern="">
          <small class="error">
            This field is required.
          </small>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns">
          <label>Address Line 1 <small class='required'>*</small></label>
        </div>
        <div class="medium-8 columns">
          <input type="text" required pattern="">
          <small class="error">
            This field is required.
          </small>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns">
          <label>Address Line 2 </label>
        </div>
        <div class="medium-8 columns">
          <input type="text" pattern="">
          <small class="error">
            This field is required.
          </small>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns">
          <label>Suburb/City <small class='required'>*</small></label>
        </div>
        <div class="medium-8 columns">
          <input type="text" required pattern="">
          <small class="error">
            This field is required.
          </small>
        </div>
      </div>
      <div class="row">
        <div class='medium-4 columns'>
          <label>Country <small class='required'>*</small></label>
        </div>
        <div class='medium-8 columns'>
          <select>
            <option>United Kingdom</option>
          </select>
          <small class="error hide">This information is required.</small>
        </div>
      </div>
      <div class="row">
        <div class='medium-4 columns'>
          <label>State <small class='required'>*</small></label>
        </div>
        <div class='medium-8 columns'>
          <select>
            <option>United Kingdom</option>
          </select>
          <small class="error hide">This information is required.</small>
        </div>
      </div>
      <div class="row">
        <div class="medium-4 columns">
          <label>Zip/Post code <small class='required'>*</small></label>
        </div>
        <div class="medium-8 columns">
          <input type="text" required pattern="">
          <small class="error">
            This field is required.
          </small>
        </div>
      </div>
      <div class="row">
        <div class='medium-8 columns small-offset-4'>
          <a href='#' class="button" type="submit">Create My Account</a>
        </div>
      </div>
    </form>
  </div>
</div>
