button,
.button {
  min-width: 150px;

  &.tertiary {
    background-color: $grey-darker;

    &:hover {
      background-color: scale-color($grey-darker, $lightness: $button-function-factor);
    }
  }

  &.go:after {
    content: "\25BA";
    margin-left: 12px;
    font-size: rem-calc(11);
    position: relative;
    bottom: 1px;
  }
}