<div class="home-performance">
  <h2>MY BUSINESS PERFORMANCE</h2>
  <div class='row'>
    <div class='small-3 columns'>
      <div class='home-performance-item'>
        <div class='home-performance-itemInner icons-home-performance-personal'>0.0</div>
        <h3>Personal Volume</h3>
      </div>
    </div>
    <div class='small-3 columns'>
      <div class='home-performance-item'>
        <div class='home-performance-itemInner icons-home-performance-central'>1954.90</div>
        <h3>Central Team Volume</h3>
      </div>
    </div>
    <div class='small-3 columns'>
      <div class='home-performance-item'>
        <div class='home-performance-itemInner icons-home-performance-pv'>427.83</div>
        <h3>3 Month PV</h3>
      </div>
    </div>
    <div class='small-3 columns'>
      <div class='home-performance-item'>
        <div class='home-performance-itemInner icons-home-performance-date'>3/31/2014</div>
        <h3>Active-Until Date</h3>
      </div>
    </div>
  </div>
</div>

<ul class='small-block-grid-3 home-handlers-data'>
  <li>
    <div class='home-handlers-data-y'>
      <small>Active Personally<br/>Sponsored Handlers</small>
      <strong>234</strong>
    </div>
  </li>
  <li>
    <div class='home-handlers-data-r'>
      <small>Volume Qualified Personally<br/>Sponsored Handlers</small>
      <strong>21</strong>
    </div>
  </li>
  <li>
    <div class='home-handlers-data-g'>
      <small>New Personally<br/>Sponsored Handlers</small>
      <strong>234</strong>
    </div>
  </li>
</ul>

<div class='home-summary row'>
  <div class='small-6 columns'>
    <h2>ORDER SUMMARY</h2>
    <table width='100%' cellpadding='0' cellspacing='0' border='0'>
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Order Date</th>
          <th>PV</th>
          <th>Price</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>4992148</td>
          <td>12/27/13</td>
          <td>0.00</td>
          <td>$0.00</td>
          <td>Submitted</td>
        </tr>
        <tr>
          <td>4992169</td>
          <td>12/27/13</td>
          <td>64.40</td>
          <td>$76.22</td>
          <td>Shipped</td>
        </tr>
        <tr>
          <td>4992169</td>
          <td>12/27/13</td>
          <td>64.40</td>
          <td>$76.22</td>
          <td>Shipped</td>
        </tr>
      </tbody>
    </table>
    <div>
      <a href='#' class='button small left'>Place A New Order</a>
      <a href='#' class='button small right'>PView My Orders</a>
    </div>
  </div>
  <div class='small-6 columns'>
    <h2>ORDER SUMMARY</h2>
    <table width='100%' cellpadding='0' cellspacing='0' border='0'>
      <thead>
        <tr>
          <th>Order Date</th>
          <th>Quantity</th>
          <th>PV</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>12/27/13</td>
          <td>2 Orders</td>
          <td>0.00</td>
          <td>$0.00</td>
        </tr>
        <tr>
          <td>12/27/13</td>
          <td>2 Orders</td>
          <td>64.40</td>
          <td>$76.22</td>
        </tr>
        <tr>
          <td>12/27/13</td>
          <td>2 Orders</td>
          <td>64.40</td>
          <td>$76.22</td>
        </tr>
      </tbody>
    </table>
    <div>
      <a href='#' class='button small left'>Set up New Pawty</a>
      <a href='#' class='button small right'>PView My Orders</a>
    </div>
  </div>
</div>

<div class="row home-topics">
    <div class="medium-6 columns">
      <h3>
        HOT TOPICS
      </h3>
      <ul>
        <li>
          <a href="#"><i class="fa fa-angle-double-right"></i> How to Place A pawty Older</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-angle-double-right"></i> Enrolling New Handlers</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-angle-double-right"></i> Creating a New Pawty</a>
        </li>
      </ul>
    </div>
    <div class="medium-6 columns">
      <h3>
        TRAINING
      </h3>
      <ul>
        <li>
          <a href="#"><i class="fa fa-angle-double-right"></i> How to Place A pawty Older</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-angle-double-right"></i> Enrolling New Handlers</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-angle-double-right"></i> Creating a New Pawty</a>
        </li>
      </ul>
    </div>
</div>
























