<div class='row'>
  <div class="medium-4 columns">
    <a href="#">
      <img src="images/logo.jpg" alt="For Tails Only"/>
    </a>
  </div>
  <div class="medium-8 columns text-right">
    <ul class="header-links separator-slash right">
      <li class='header-links-bowl icons-food-bowl'>
        <a href="#">Food Bowl(0)</a>
      </li>
      <li>
        <a href="/#/signin">Sign in</a>
      </li>
      <li>
        <a href="#">Hello Jiezl</a>
      </li>
      <li>
        <a href="#">Logout</a>
      </li>
    </ul>
    <div class='row collapse header-search right'>
      <div class='small-5 columns'>
        <select class="secondary-item no-margin-bottom">
          <option value=1>Products</option>
        </select>
      </div>
      <div class='small-5 columns'>
        <input type='text' placeholder='Fetch...' class="secondary-item no-margin-bottom" />
      </div>
      <div class='small-2 columns'>
        <a href='#' class='postfix button'><i class="fa fa-search"></i></a>
      </div>
    </div>
  </div>
</div>