<header class="main-header">
  <div class='row'>
    <div class="medium-4 columns">   
      <a href="#">
        <img src="images/logo.jpg" alt="For Tails Only"/>
      </a>
    </div>
    <div class="medium-8 columns text-right">
      <ul class="header-links separator-slash">
        <li class='header-links-bowl icons-food-bowl'>
          <a href="#">Food Bowl(0)</a>
        </li>
        <li>
          <a href="/#/signin">Sign in</a>
        </li>
        <li>
          <a href="#">Hello Jiezl</a>
        </li>
        <li>
          <a href="#">Logout</a>
        </li>
      </ul>
      <div class='row header-search'>
        <div class='small-5 columns'>
          <select>
            <option value=1>Products</option>
          </select>
        </div>
        <div class='small-7 columns'>
          <div class='row collapse'>
            <div class='small-10 columns'>
              <input type='text' placeholder='Fetch...' />
            </div>
            <div class='small-2 columns'>
              <a href='#' class='postfix button secondary'><i class="fa fa-search"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>