<div class="row">
  <ul class="small-12 columns root-taxons">
    <li>
      <a href="/#/SHOP">SHOP</a>

      <div class="sub-taxons-container">
        <ul class="sub-taxons">
          <li>
            <a href="#">Handler Order</a>
          </li>
          <li>
            <a href="#">Customer</a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <a href="#">PAWTY</a>
    </li>
    <li>
      <a href="#">ENROLL RECRUITS</a>
    </li>
    <li>
      <a href="#">ORDERS</a>
    </li>
    <li>
      <a href="#">REPORTING</a>
    </li>
    <li>
      <a href="#">TOOLS</a>
    </li>
    <li>
      <a href="#">POUND CENTRAL</a>
    </li>
  </ul>
</div>