<div class='news-subscribe row'>
  <div class='medium-4 columns'>
    <h2><i class="fa fa-comments"></i> OUR NEWSLETTER</h2>
  </div>
  <div class='medium-8 columns'>
    <div class='row footer-subscribe right'>
      <div class='small-5 columns'>
        <input type='text' placeholder='Name'/>
      </div>
      <div class='small-6 columns'>
        <input type='text' placeholder='Email Address'/>
      </div>
      <div class='small-1 columns'>
        <a href='#' class='postfix button secondary'><i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="medium-4 columns">
    <h4>
      FURTHER INFO
    </h4>
    <ul class="categories">
      <li>
        <a href="#"><i class="fa fa-angle-double-right"></i> Home</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-double-right"></i> Blog</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-double-right"></i> Find An Independent Handler</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-double-right"></i> Secure Shopping</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-double-right"></i> Shipping</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-double-right"></i> About Us</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-double-right"></i> Host A Paw-ty</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-double-right"></i> Submit a Ticket</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-double-right"></i> Privacy Policy</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-double-right"></i> Terms of Conditions</a>
      </li>
      <li class='authorize'>
        <a
          href="//verify.authorize.net/anetseal/?pid=388e0a21-d7ec-43c6-9ede-4648d508436e&rurl=http%3A//www.fortailsonly.com/"
          target='_blank'><img src='images/secure90x72.gif' alt='Authorize.Net Merchant - Click to Verify'/></a>
        <br/>
        <a target="_blank" href="http://www.authorize.net/">Credit Card Processing</a>
      </li>
    </ul>
  </div>
  <div class="small-4 columns">
    <h4>
      CATEGORIES
    </h4>
    <ul class="categories">
      <li>
        <a href="#"><i class="fa fa-angle-double-right"></i> Spring Fling</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-double-right"></i> Cats</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-double-right"></i> Dogs</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-angle-double-right"></i> For The Pet Lovers</a>
      </li>
    </ul>
  </div>
  <div class="small-4 columns">
    <ul class="social-links right">
      <li>
        <a href="#">
          <i class="fa fa-rss"></i>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-pinterest"></i>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-facebook-square"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="row extra-info">
  <div class="columns small-12">
    All prices are in USD. Copyright 2014 For Tails Only.
  </div>
</div>