<div class="row sign-in">
  <div class="columns small-5">
    <h2>
      SIGN IN
    </h2>
    <input type="text" placeholder="Login Name or miioon Angel ID" ng-model="username"/>
    <input type="password" placeholder="Password" ng-model="password"/>
    <a class="forgot-password" href="#">Forgot Password?</a>
    <input id="is-remember" type="checkbox" ng-model="isRemember"/>
    <label for="is-remember">remember me</label>
    <button class="sign-in-button" ng-click="signIn()">SIGN IN</button>
  </div>
  <div class="columns small-1 separator"></div>
  <div class="columns small-5">
    <h3>
      NEW TO MIIOON.COM
    </h3>
    Register with miioon.com and you'll enjoy all kinds of great benefits.
    <ul class="benefits">
      <li>
        Special offers and promotions
      </li>
      <li>
        Optional miioon Angel birthday service
      </li>
      <li>
        Track the status of your orders and many more…
      </li>
    </ul>
    <button class="tertiary">REGISTER</button>
  </div>
</div>