<div class="row taxon-banner">
  <div class="columns small-12">
    <img src="images/banner_rj.png" alt="RuckJack Girls"/>
  </div>
</div>

<div class="row">
  <div class="columns small-2 taxon-navigation">
    <h5 class="root-taxon">
      CLOTHING
    </h5>
    <ul>
      <li>
        <span class="current">
          RUCKJACK GIRLS
        </span>
      </li>
      <li>
        <a href="#">RUCKJACK BOYS</a>
      </li>
      <li>
        <a href="#">RUCKJACK BOYS</a>
      </li>
      <li>
        <a href="#">RUCKJACK BOYS</a>
      </li>
      <li>
        <a href="#">RUCKJACK BOYS</a>
      </li>
      <li>
        <a href="#">RUCKJACK BOYS</a>
      </li>
    </ul>
  </div>
  <div class="columns small-10 products">
    <ul class="small-block-grid-4">
      <li>
        <div class="product-view">
          <img src="images/product1.png" alt="product"/>
          <div class="view-detail">
            <a href="#">VIEW DETAIL</a>
          </div>
          <a class="add-to-cart" href="#">ADD TO CART</a>
        </div>
        <div class="product-name">
          White Animaru Ruckjack
        </div>
        <div class="product-price">
          £40.00
        </div>
      </li>
      <li>
        <div class="product-view">
          <img src="images/product.png" alt="product"/>
          <div class="view-detail">
            <a href="#">VIEW DETAIL</a>
          </div>
          <a class="add-to-cart" href="#">ADD TO CART</a>
        </div>
        <div class="product-name">
          White Animaru Ruckjack
        </div>
        <div class="product-price">
          £40.00
        </div>
      </li>
      <li>
        <div class="product-view">
          <img src="images/product.png" alt="product"/>
          <div class="view-detail">
            <a href="#">VIEW DETAIL</a>
          </div>
          <a class="add-to-cart" href="#">ADD TO CART</a>
        </div>
        <div class="product-name">
          White Animaru Ruckjack
        </div>
        <div class="product-price">
          £40.00
        </div>
      </li>
      <li>
        <div class="product-view">
          <img src="images/product.png" alt="product"/>
          <div class="view-detail">
            <a href="#">VIEW DETAIL</a>
          </div>
          <a class="add-to-cart" href="#">ADD TO CART</a>
        </div>
        <div class="product-name">
          White Animaru Ruckjack
        </div>
        <div class="product-price">
          £40.00
        </div>
      </li>
      <li>
        <div class="product-view">
          <img src="images/product.png" alt="product"/>
          <div class="view-detail">
            <a href="#">VIEW DETAIL</a>
          </div>
          <a class="add-to-cart" href="#">ADD TO CART</a>
        </div>
        <div class="product-name">
          White Animaru Ruckjack
        </div>
        <div class="product-price">
          £40.00
        </div>
      </li>
      <li>
        <div class="product-view">
          <img src="images/product.png" alt="product"/>
          <div class="view-detail">
            <a href="#">VIEW DETAIL</a>
          </div>
          <a class="add-to-cart" href="#">ADD TO CART</a>
        </div>
        <div class="product-name">
          White Animaru Ruckjack
        </div>
        <div class="product-price">
          £40.00
        </div>
      </li>
      <li>
        <div class="product-view">
          <img src="images/product.png" alt="product"/>
          <div class="view-detail">
            <a href="#">VIEW DETAIL</a>
          </div>
          <a class="add-to-cart" href="#">ADD TO CART</a>
        </div>
        <div class="product-name">
          White Animaru Ruckjack
        </div>
        <div class="product-price">
          £40.00
        </div>
      </li>
      <li>
        <div class="product-view">
          <img src="images/product.png" alt="product"/>
          <div class="view-detail">
            <a href="#">VIEW DETAIL</a>
          </div>
          <a class="add-to-cart" href="#">ADD TO CART</a>
        </div>
        <div class="product-name">
          White Animaru Ruckjack
        </div>
        <div class="product-price">
          £40.00
        </div>
      </li>
      <li>
        <div class="product-view">
          <img src="images/product.png" alt="product"/>
          <div class="view-detail">
            <a href="#">VIEW DETAIL</a>
          </div>
          <a class="add-to-cart" href="#">ADD TO CART</a>
        </div>
        <div class="product-name">
          White Animaru Ruckjack
        </div>
        <div class="product-price">
          £40.00
        </div>
      </li>
    </ul>
  </div>
</div>