$rank-0-color: #B6BAB9;
$rank-0-border: #EAEAEA;

$rank-1-color: #9AB6B1;
$rank-1-border: #D2E9E5;

$rank-2-color: #E7B248;
$rank-2-border: #FFE7BA;

$rank-3-color: #66B284;
$rank-3-border: #BCDAC8;

$rank-4-color: #5E9FBD;
$rank-4-border: #A9D6EC;

$rank-5-color: #D85E90;
$rank-5-border: #F397BD;

.genealogy-panel {
  background: #F6F8F8;
  border-bottom: 1px solid #EBEDED;

  .distributor {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

    .rank-icon {
      margin: 0 auto;
      height: 60px;
      width: 60px;
      border: 4px solid $rank-0-border;
//      background: $rank-0-color image-url("icons/dog-hand.png") no-repeat 7px;
      border-radius: 30px;
      cursor: pointer;

      &.disable {
        cursor: default;
      }

      &.rank-0 {
        background-color: $rank-0-color;
        border-color: $rank-0-border;
      }

      &.rank-1 {
        background-color: $rank-1-color;
        border-color: $rank-1-border;
      }

      &.rank-2 {
        background-color: $rank-2-color;
        border-color: $rank-2-border;
      }

      &.rank-3 {
        background-color: $rank-3-color;
        border-color: $rank-3-border;
      }

      &.rank-4 {
        background-color: $rank-4-color;
        border-color: $rank-4-border;
      }

      &.rank-5 {
        background-color: $rank-5-color;
        border-color: $rank-5-border;
      }
    }

    .name {
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding: 5px;
      font-weight: bold;
    }
  }
}

.genealogy-tips {
  background: #F8F9F9;
  border-top: #FAFBFB 1px solid;
  border-bottom: #AAB2B1 4px solid;
  text-align: center;
  padding-top: 18px;

  li {
    font-size: $small-font-size;

    &:before {
      content: "";
      display: block;
      height: 18px;
      width: 18px;
      border: 2px solid;
      border-radius: 9px;
      margin: 0 auto 10px;
    }

    &.rank-0:before {
      background-color: $rank-0-color;
      border-color: $rank-0-border;
    }

    &.rank-1:before {
      background-color: $rank-1-color;
      border-color: $rank-1-border;
    }

    &.rank-2:before {
      background-color: $rank-2-color;
      border-color: $rank-2-border;
    }

    &.rank-3:before {
      background-color: $rank-3-color;
      border-color: $rank-3-border;
    }

    &.rank-4:before {
      background-color: $rank-4-color;
      border-color: $rank-4-border;
    }

    &.rank-5:before {
      background-color: $rank-5-color;
      border-color: $rank-5-border;
    }
  }
}

.genealogy-path-navigator .pagination {
  margin-top: 5px;

  a {
    line-height: 16px;
    padding: 0 6px 3px;
  }
}

.genealogy-path {
  @include clearfix;
  margin-bottom: 20px;
  margin-top: 4px;

  .bx-wrapper {
    margin-left: 0 !important;
  }

  li {
    &.last:after {
      display: none;
      content: "";
    }

    &:after {
      content: "\003E";
    }

    &.last {
      color: $primary-color;
    }

    a {
      color: $grey-darker;
    }
  }
}

.genealogy-pagination {
  text-align: center;

  .pagination {
    display: inline-block;
    margin-top: 30px;
  }
}