.home-container{
	.home-video{
		border:1px solid $grey-border;
 	}
 	.home-message-board{
 		border:1px solid $grey-border;
 		h3{
 			border-bottom:1px solid $grey-border;
 			margin-bottom: 0;
 			padding:10px;
 		}
 		.home-message-item{
 			border-bottom:1px solid $grey-border;
 			padding:10px;
 			background:$grey-lighter;
 			p{
        line-height: 1.5;
 				margin-bottom:10px;
        color:$grey-light;
 			}
      .row{
        .columns:first-child{
          padding-right:0;
        }
      }
 		}
 		.home-message-item:last-child{
 			border-bottom:0;
 			border-radius:0 0 $border-radius $border-radius;
 		}
 	}
 	.home-facebook{
 		height:600px;
 	}
 	.home-blog{
 		margin-bottom: rem-calc(30);
		.home-blog-item{
			padding:rem-calc(20) 0;
			border-bottom:1px solid $grey-border;
			&:first-child{
				padding-top:0;
			}
			h4{
				color: $grey-darker;
				margin-top:0;
				line-height: 1;
				small{
					color:$grey;
				}
			}
      .row{
        .columns:first-child{
          padding-right:0;
        }
      }
			p{
				line-height: 1.5;
				margin-bottom: rem-calc(10);
        color:$grey-light;
			}
		}
 	}
 	.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    	width: 100% !important;
    }
}
