.main-navigation {
  background: $pink;
  margin-bottom: 10px;
  width:$row-width;
  margin:0 auto;

  .root-items {
    >li {
      list-style: none;
      float: left;

      &:hover {
        .sub-items {
          display: block;
        }
      }

      .sub-item-title {
        cursor: default;
      }

      > a,
      .sub-item-title {
        display: block;
        padding: 6px 11px 5px;
        color: white;
        font-weight: bold;

        &:hover {
          background: white;
          color: $pink;
          text-decoration: none;
        }
      }

      .sub-items {
        display: none;
        position: absolute;
        background: white;
        z-index: 1;
        min-width: 100px;
        text-align: center;

        border: 1px solid $pink;
        border-top: 0;

        a {
          display: block;
          padding: 6px 11px 5px;
          color: $pink;
          font-weight: bold;
        }
      }
    }
  }
}
