.text-content {
  color:$grey-darker;
  h3 {
    margin-top: 20px;
    margin-bottom: 40px;
    color:#333333;
  }
  b{
    color:#333333;
  }
  .long-order-list {
    margin-bottom: 0;

    > li {
      margin-bottom: 20px;
    }
  }

  ul,
  ol {
    margin-left: 20px;
    margin-bottom: 20px;
    list-style-type: none;

    ul,
    ol {
      li {
        margin-bottom: 5px;
      }
    }
  }

  ul,
  ol,
  p {
    font-size: $large-font-size;
  }
}
