.theme-selector {
  position: relative;
  padding: 10px 100px;
  text-align: center;

  .previous-theme,
  .next-theme {
    height: 43px;
    width: 43px;
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -20px;
    cursor: pointer;
  }

  li {
    height: auto;
    width: 100%;
  }

  .next-theme {
    background: image-url('party/next-theme.png');
    left: 25px;
  }

  .previous-theme {
    background: image-url('party/previous-theme.png');
    right: 25px;
  }
}