<div class="row">
  <div class="columns medium-12">
    <div class="shopping-option-panel">
      <div class="content">
        <button ng-click="shopForMySelf()" class="large right">
          SHOP
        </button>
        <div class="title">
          SHOP FOR MYSELF
        </div>
        <!--<div>-->
          <!--Get 20% off your Handler's personal order.-->
        <!--</div>-->
      </div>
    </div>
    <div class="shopping-option-panel">
      <div class="content">
        <button ng-click="shopForPawTy()" class="large right">
          SHOP
        </button>
        <div class="title">
          PLACE A Miioon Meet / Fundraiser ORDER
        </div>
        <div class="medium-4">
          <select ng-model="selectedType"
                  ng-change="changeType()"
                  ng-options="type as type.name for type in types">
          </select>
        </div>
        <div class="medium-4">
          <select ng-model="selectedEvent"
                  ng-options="event as event.title + ' - ' + (event.startTime | date: 'medium') for event in events | isActive">
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
